// ---------------------------------------------------------- 
// SassMods framework
// ----------------------------------------------------------
@use "sassmods" as *;

// HTML
$enable-typography:       true;
$enable-forms-buttons:    true;
$enable-tables:           true;

// Accessibility
$enable-smooth-scroll:    false;
$enable-view-transition:  false;
$enable-vis-hidden:       true;

// Utilities
$enable-accordions:       true;
$enable-alerts:           true;
$enable-badges:           true;
$enable-buttons:          true;
$enable-cards:            true;
$enable-images:           true;
$enable-lists:            true;
$enable-shadows:          true;
$enable-text:             true;
$enable-theme-switch:     false;

// Color variables
$enable-surface:          true;
$enable-grays:            true;
$enable-blue:             true;
$enable-red:              true;
$enable-green:            true;
$enable-orange:           true;
$enable-cyan:             true;
$enable-yellow:           true;
$enable-purple:           true;
$enable-pink:             true;
$enable-olive:            true;
$enable-color-utility:    true;

// Grids and gaps
$enable-grid:             true;
$enable-autogrid:         true;
$enable-gaps:             true;
$enable-bp-xl:            true; // 1601px
$enable-bp-lg:            true; // 1281px
$enable-bp-md:            true; // 1025px
$enable-bp-sm:            true; // 769px
$enable-bp-xs:            true; // 481px

@include versions;

@if $enable-typography {
  @include typography-css;
}

@if $enable-forms-buttons {
  @include forms-buttons-css;
}

@if $enable-tables {
  @include tables-css;
}

@media (prefers-reduced-motion: no-preference) { 
  @if $enable-smooth-scroll {
    @include smooth-scroll-css;
  }
  
  @if $enable-view-transition {
    @include view-transition-css;
  }
}

@if $enable-vis-hidden {
  @include vis-hidden-css;
}

@if $enable-theme-switch {
  @include theme-switch-css;
}

@if $enable-accordions {
  @include accordions-css;
}

@if $enable-alerts {
  @include alerts-css;
}

@if $enable-badges {
  @include badges-css;
}

@if $enable-buttons {
  @include buttons-css;
}

@if $enable-cards {
  @include cards-css;
}

@if $enable-images {
  @include images-css;
}

@if $enable-lists {
  @include lists-css;
}

@if $enable-shadows {
  @include shadows-css;
}

@if $enable-text {
  @include text-css;
}

:where(html) {
  @if $enable-surface {
    @include surface-variables;
  }
  
  @if $enable-grays {
    @include gray-variables;
  }
  
  @if $enable-blue {
    @include blue-variables;
  }
  
  @if $enable-red {
    @include red-variables;  
  }
  
  @if $enable-green {
    @include green-variables; 
  }
  
  @if $enable-orange {
    @include orange-variables;  
  }
  
  @if $enable-cyan {
    @include cyan-variables;  
  }
  
  @if $enable-yellow {
    @include yellow-variables;
  }
  
  @if $enable-purple {
    @include purple-variables;
  }
  
  @if $enable-pink {
    @include pink-variables;
  }
  
  @if $enable-olive {
    @include olive-variables;  
  }
}

@if $enable-color-utility {
  @include color-bg-utility;
}

:where(html) {
  @if $enable-grid {@include grid-variables;}
  @if $enable-autogrid {@include autogrid-variables;}  
}

@if $enable-grid or $enable-autogrid {
  .grid {
    @include grid-utility;
  }
}

@if $enable-grid {@include grid;}
@if $enable-autogrid {@include autogrid;}
@if $enable-gaps { @include gaps; }

@if $enable-bp-xl {
  @media (max-width: #{$bp-xl}) {
    @if $enable-grid {@include grid-xl;}
    @if $enable-autogrid {@include autogrid-xl;}
    @if $enable-gaps {@include gaps-xl;}
  }
}

@if $enable-bp-lg {
  @media (max-width: #{$bp-lg}) {
    @if $enable-grid {@include grid-lg;}
    @if $enable-autogrid {@include autogrid-lg;}
    @if $enable-gaps {@include gaps-lg;}
  }
}

@if $enable-bp-md {
  @media (max-width: #{$bp-md}) {
    @if $enable-grid {@include grid-md;}
    @if $enable-autogrid {@include autogrid-md;}
    @if $enable-gaps {@include gaps-md;}
  }
}

@if $enable-bp-sm {
  @media (max-width: #{$bp-sm}) {
    @if $enable-grid {@include grid-sm;}
    @if $enable-autogrid {@include autogrid-sm;}
    @if $enable-gaps {@include gaps-sm;}
  }
}

@if $enable-bp-xs {
  @media (max-width: #{$bp-xs}) {
    @if $enable-grid {@include grid-xs;}
    @if $enable-autogrid {@include autogrid-xs;}
    @if $enable-gaps {@include gaps-xs;}
  }
}
