// ----------------------------------------------------------
// StyleMods framework styles
// ----------------------------------------------------------
@use "configuration" as *;
@use "index" as *;
@include version;

// ----------------------------------------------------------
// Cascade layers
// ----------------------------------------------------------
@mixin cascade-layers {
  @layer #{$layer-order};
}

// ---------------------------------------------------------- 
// Color variable tokens
// ----------------------------------------------------------
@mixin color-framework {
  #{$variables-tokens} {
    @if $enable-surface { @include surface-variables; }
    @if $enable-gray { @include gray-variables; }
    @if $enable-blue { @include blue-variables; }
    @if $enable-red { @include red-variables; }
    @if $enable-green { @include green-variables; }
    @if $enable-orange { @include orange-variables; }
    @if $enable-cyan { @include cyan-variables; }
    @if $enable-yellow { @include yellow-variables; }
    @if $enable-purple { @include purple-variables; }
    @if $enable-pink { @include pink-variables; }
    @if $enable-olive { @include olive-variables; }
    @if $enable-tan { @include tan-variables; }
    @if $enable-rosewood { @include rosewood-variables; }
    @if $enable-steelblue { @include steelblue-variables; }
    @if $enable-semantic { @include semantic-variables; }
    @if $enable-theme-surface { @include theme-surface-variables; }
    @if $enable-theme-typography { @include theme-typography-variables; }
    @if $enable-theme-forms-buttons { @include theme-forms-buttons-variables; }
    @if $enable-theme-tables { @include theme-tables-variables; }
    @if $enable-theme-accordions { @include theme-accordions-variables; }
    @if $enable-theme-alerts { @include theme-alert-variables; }
    @if $enable-theme-badges { @include theme-badge-variables; }
    @if $enable-theme-borders { @include theme-border-variables; }
    @if $enable-theme-dialogs { @include theme-dialog-variables; }
    @if $enable-theme-cards { @include theme-card-variables; }
    @if $enable-theme-list-groups { @include theme-list-group-variables; }
    @if $enable-theme-popovers { @include theme-popover-variables; }
  }
}

// ----------------------------------------------------------
// Content
// ----------------------------------------------------------
@mixin content-framework {
  @if $enable-typography { @include typography-css; }
  @if $enable-forms-buttons { @include forms-buttons-css; }
  @if $enable-tables { @include tables-css; }
  @if $enable-vis-hidden { @include vis-hidden-css; }
  @media (prefers-reduced-motion: no-preference) { 
    @if $enable-smooth-scroll { @include smooth-scroll-css; }
    @if $enable-view-transition { @include view-transition-css; }
  }
}

// ----------------------------------------------------------
// Components
// ----------------------------------------------------------
@mixin components-framework {
  @if $enable-accordions { @include accordions-css; }
  @if $enable-alerts { @include alerts-css; }
  @if $enable-badges { @include badges-css; }
  @if $enable-buttons { @include buttons-css; }
  @if $enable-cards { @include cards-css; }
  @if $enable-dialogs { @include dialog-styles-css; }
  @if $enable-dialogs-transition { @include dialog-transition-css; }
  @if $enable-dropdowns { @include dropdowns-css; }
  @if $enable-list-groups { @include list-groups-css; }
  @if $enable-popovers { @include popover-styles-css; }
  @if $enable-popovers-transition { @include popover-transition-css; }
  @if $enable-theme-switch { @include theme-switch-css; }
}

// ----------------------------------------------------------
// Utilities
// ----------------------------------------------------------
@mixin utilities-framework {
  @if $enable-backgrounds { @include background-css; }
  @if $enable-borders { @include borders-css; }
  @if $enable-gradients { @include gradients-css; }
  @if $enable-images { @include images-css; }
  @if $enable-lists { @include lists-css; }
  @if $enable-opacity { @include opacity-css; }
  @if $enable-shadows { @include shadows-css; }
  @if $enable-text { @include text-css; }

  // Color utilities grouped
  @if $enable-gray-utilities { @include gray-utilities-css; }
  @if $enable-blue-utilities { @include blue-utilities-css; }
  @if $enable-red-utilities { @include red-utilities-css; }
  @if $enable-green-utilities { @include green-utilities-css; }
  @if $enable-orange-utilities { @include orange-utilities-css; }
  @if $enable-cyan-utilities { @include cyan-utilities-css; }
  @if $enable-yellow-utilities { @include yellow-utilities-css; }
  @if $enable-purple-utilities { @include purple-utilities-css; }
  @if $enable-pink-utilities { @include pink-utilities-css; }
  @if $enable-olive-utilities { @include olive-utilities-css; }
  @if $enable-tan-utilities { @include tan-utilities-css; }
  @if $enable-rosewood-utilities { @include rosewood-utilities-css; }
  @if $enable-steelblue-utilities { @include steelblue-utilities-css; }
  @if $enable-semantic-utilities { @include semantic-utilities-css; }
  
  // Color utilities individual
  // Gray
  @if $enable-gray-accordions { @include accordion-gray-css; }
  @if $enable-gray-alerts { @include alert-gray-css; }
  @if $enable-gray-backgrounds { @include background-gray-css; }
  @if $enable-gray-badges { @include badge-gray-css; }
  @if $enable-gray-buttons { @include button-gray-css; }
  @if $enable-gray-cards { @include card-gray-css; }
  @if $enable-gray-dialogs { @include dialog-gray-css; }
  @if $enable-gray-list-groups { @include list-group-gray-css; }
  @if $enable-gray-popovers { @include popover-gray-css; }
  
  // Blue
  @if $enable-blue-accordions { @include accordion-blue-css; }
  @if $enable-blue-alerts { @include alert-blue-css; }
  @if $enable-blue-backgrounds { @include background-blue-css; }
  @if $enable-blue-badges { @include badge-blue-css; }
  @if $enable-blue-buttons { @include button-blue-css; }
  @if $enable-blue-cards { @include card-blue-css; }
  @if $enable-blue-dialogs { @include dialog-blue-css; }
  @if $enable-blue-list-groups { @include list-group-blue-css; }
  @if $enable-blue-popovers { @include popover-blue-css; }
  
  // Red
  @if $enable-red-accordions { @include accordion-red-css; }
  @if $enable-red-alerts { @include alert-red-css; }
  @if $enable-red-backgrounds { @include background-red-css; }
  @if $enable-red-badges { @include badge-red-css; }
  @if $enable-red-buttons { @include button-red-css; }
  @if $enable-red-cards { @include card-red-css; }
  @if $enable-red-dialogs { @include dialog-red-css; }
  @if $enable-red-list-groups { @include list-group-red-css; }
  @if $enable-red-popovers { @include popover-red-css; }
  
  // Green
  @if $enable-green-accordions { @include accordion-green-css; }
  @if $enable-green-alerts { @include alert-green-css; }
  @if $enable-green-backgrounds { @include background-green-css; }
  @if $enable-green-badges { @include badge-green-css; }
  @if $enable-green-buttons { @include button-green-css; }
  @if $enable-green-cards { @include card-green-css; }
  @if $enable-green-dialogs { @include dialog-green-css; }
  @if $enable-green-list-groups { @include list-group-green-css; }
  @if $enable-green-popovers { @include popover-green-css; }
  
  // Orange
  @if $enable-orange-accordions { @include accordion-orange-css; }
  @if $enable-orange-alerts { @include alert-orange-css; }
  @if $enable-orange-backgrounds { @include background-orange-css; }
  @if $enable-orange-badges { @include badge-orange-css; }
  @if $enable-orange-buttons { @include button-orange-css; }
  @if $enable-orange-cards { @include card-orange-css; }
  @if $enable-orange-dialogs { @include dialog-orange-css; }
  @if $enable-orange-list-groups { @include list-group-orange-css; }
  @if $enable-orange-popovers { @include popover-orange-css; }
  
  // Cyan
  @if $enable-cyan-accordions { @include accordion-cyan-css; }
  @if $enable-cyan-alerts { @include alert-cyan-css; }
  @if $enable-cyan-backgrounds { @include background-cyan-css; }
  @if $enable-cyan-badges { @include badge-cyan-css; }
  @if $enable-cyan-buttons { @include button-cyan-css; }
  @if $enable-cyan-cards { @include card-cyan-css; }
  @if $enable-cyan-dialogs { @include dialog-cyan-css; }
  @if $enable-cyan-list-groups { @include list-group-cyan-css; }
  @if $enable-cyan-popovers { @include popover-cyan-css; }
  
  // Yellow
  @if $enable-yellow-accordions { @include accordion-yellow-css; }
  @if $enable-yellow-alerts { @include alert-yellow-css; }
  @if $enable-yellow-backgrounds { @include background-yellow-css; }
  @if $enable-yellow-badges { @include badge-yellow-css; }
  @if $enable-yellow-buttons { @include button-yellow-css; }
  @if $enable-yellow-cards { @include card-yellow-css; }
  @if $enable-yellow-dialogs { @include dialog-yellow-css; }
  @if $enable-yellow-list-groups { @include list-group-yellow-css; }
  @if $enable-yellow-popovers { @include popover-yellow-css; }
  
  // Purple
  @if $enable-purple-accordions { @include accordion-purple-css; }
  @if $enable-purple-alerts { @include alert-purple-css; }
  @if $enable-purple-backgrounds { @include background-purple-css; }
  @if $enable-purple-badges { @include badge-purple-css; }
  @if $enable-purple-buttons { @include button-purple-css; }
  @if $enable-purple-cards { @include card-purple-css; }
  @if $enable-purple-dialogs { @include dialog-purple-css; }
  @if $enable-purple-list-groups { @include list-group-purple-css; }
  @if $enable-purple-popovers { @include popover-purple-css; }
  
  // Pink
  @if $enable-pink-accordions { @include accordion-pink-css; }
  @if $enable-pink-alerts { @include alert-pink-css; }
  @if $enable-pink-backgrounds { @include background-pink-css; }
  @if $enable-pink-badges { @include badge-pink-css; }
  @if $enable-pink-buttons { @include button-pink-css; }
  @if $enable-pink-cards { @include card-pink-css; }
  @if $enable-pink-dialogs { @include dialog-pink-css; }
  @if $enable-pink-list-groups { @include list-group-pink-css; }
  @if $enable-pink-popovers { @include popover-pink-css; }
  
  // Olive
  @if $enable-olive-accordions { @include accordion-olive-css; }
  @if $enable-olive-alerts { @include alert-olive-css; }
  @if $enable-olive-backgrounds { @include background-olive-css; }
  @if $enable-olive-badges { @include badge-olive-css; }
  @if $enable-olive-buttons { @include button-olive-css; }
  @if $enable-olive-cards { @include card-olive-css; }
  @if $enable-olive-dialogs { @include dialog-olive-css; }
  @if $enable-olive-list-groups { @include list-group-olive-css; }
  @if $enable-olive-popovers { @include popover-olive-css; }
  
  // Tan
  @if $enable-tan-accordions { @include accordion-tan-css; }
  @if $enable-tan-alerts { @include alert-tan-css; }
  @if $enable-tan-backgrounds { @include background-tan-css; }
  @if $enable-tan-badges { @include badge-tan-css; }
  @if $enable-tan-buttons { @include button-tan-css; }
  @if $enable-tan-cards { @include card-tan-css; }
  @if $enable-tan-dialogs { @include dialog-tan-css; }
  @if $enable-tan-list-groups { @include list-group-tan-css; }
  @if $enable-tan-popovers { @include popover-tan-css; }
  
  // Rosewood
  @if $enable-rosewood-accordions { @include accordion-rosewood-css; }
  @if $enable-rosewood-alerts { @include alert-rosewood-css; }
  @if $enable-rosewood-backgrounds { @include background-rosewood-css; }
  @if $enable-rosewood-badges { @include badge-rosewood-css; }
  @if $enable-rosewood-buttons { @include button-rosewood-css; }
  @if $enable-rosewood-cards { @include card-rosewood-css; }
  @if $enable-rosewood-dialogs { @include dialog-rosewood-css; }
  @if $enable-rosewood-list-groups { @include list-group-rosewood-css; }
  @if $enable-rosewood-popovers { @include popover-rosewood-css; }
  
  // Steelblue
  @if $enable-steelblue-accordions { @include accordion-steelblue-css; }
  @if $enable-steelblue-alerts { @include alert-steelblue-css; }
  @if $enable-steelblue-backgrounds { @include background-steelblue-css; }
  @if $enable-steelblue-badges { @include badge-steelblue-css; }
  @if $enable-steelblue-buttons { @include button-steelblue-css; }
  @if $enable-steelblue-cards { @include card-steelblue-css; }
  @if $enable-steelblue-dialogs { @include dialog-steelblue-css; }
  @if $enable-steelblue-list-groups { @include list-group-steelblue-css; }
  @if $enable-steelblue-popovers { @include popover-steelblue-css; }

  // Semantic
  @if $enable-semantic-accordions { @include semantic-accordions-css; }
  @if $enable-semantic-alerts { @include semantic-alerts-css; }
  @if $enable-semantic-backgrounds { @include semantic-backgrounds-css; }
  @if $enable-semantic-badges { @include semantic-badges-css; }
  @if $enable-semantic-buttons { @include semantic-buttons-css; }
  @if $enable-semantic-cards { @include semantic-cards-css; }
  @if $enable-semantic-dialogs { @include semantic-dialogs-css; }
  @if $enable-semantic-list-groups { @include semantic-list-groups-css; }
  @if $enable-semantic-popovers { @include semantic-popovers-css; }

  @if $enable-primary-accordions { @include accordion-primary-css; }
  @if $enable-primary-alerts { @include alert-primary-css; }
  @if $enable-primary-backgrounds { @include background-primary-css; }
  @if $enable-primary-badges { @include badge-primary-css; }
  @if $enable-primary-buttons { @include button-primary-css; }
  @if $enable-primary-cards { @include card-primary-css; }
  @if $enable-primary-dialogs { @include dialog-primary-css; }
  @if $enable-primary-list-groups { @include list-group-primary-css; }
  @if $enable-primary-popovers { @include popover-primary-css; }

  @if $enable-info-accordions { @include accordion-info-css; }
  @if $enable-info-alerts { @include alert-info-css; }
  @if $enable-info-backgrounds { @include background-info-css; }
  @if $enable-info-badges { @include badge-info-css; }
  @if $enable-info-buttons { @include button-info-css; }
  @if $enable-info-cards { @include card-info-css; }
  @if $enable-info-dialogs { @include dialog-info-css; }
  @if $enable-info-list-groups { @include list-group-info-css; }
  @if $enable-info-popovers { @include popover-info-css; }
  
  @if $enable-success-accordions { @include accordion-success-css; }
  @if $enable-success-alerts { @include alert-success-css; }
  @if $enable-success-backgrounds { @include background-success-css; }
  @if $enable-success-badges { @include badge-success-css; }
  @if $enable-success-buttons { @include button-success-css; }
  @if $enable-success-cards { @include card-success-css; }
  @if $enable-success-dialogs { @include dialog-success-css; }
  @if $enable-success-list-groups { @include list-group-success-css; }
  @if $enable-success-popovers { @include popover-success-css; }
  
  @if $enable-warning-accordions { @include accordion-warning-css; }
  @if $enable-warning-alerts { @include alert-warning-css; }
  @if $enable-warning-backgrounds { @include background-warning-css; }
  @if $enable-warning-badges { @include badge-warning-css; }
  @if $enable-warning-buttons { @include button-warning-css; }
  @if $enable-warning-cards { @include card-warning-css; }
  @if $enable-warning-dialogs { @include dialog-warning-css; }
  @if $enable-warning-list-groups { @include list-group-warning-css; }
  @if $enable-warning-popovers { @include popover-warning-css; }
  
  @if $enable-danger-accordions { @include accordion-danger-css; }
  @if $enable-danger-alerts { @include alert-danger-css; }
  @if $enable-danger-backgrounds { @include background-danger-css; }
  @if $enable-danger-badges { @include badge-danger-css; }
  @if $enable-danger-buttons { @include button-danger-css; }
  @if $enable-danger-cards { @include card-danger-css; }
  @if $enable-danger-dialogs { @include dialog-danger-css; }
  @if $enable-danger-list-groups { @include list-group-danger-css; }
  @if $enable-danger-popovers { @include popover-danger-css; }

  @if $enable-secondary-accordions { @include accordion-secondary-css; }
  @if $enable-secondary-alerts { @include alert-secondary-css; }
  @if $enable-secondary-backgrounds { @include background-secondary-css; }
  @if $enable-secondary-badges { @include badge-secondary-css; }
  @if $enable-secondary-buttons { @include button-secondary-css; }
  @if $enable-secondary-cards { @include card-secondary-css; }
  @if $enable-secondary-dialogs { @include dialog-secondary-css; }
  @if $enable-secondary-list-groups { @include list-group-secondary-css; }
  @if $enable-secondary-popovers { @include popover-secondary-css; }
} // end-utilities

// ---------------------------------------------------------- 
// Layouts
// ----------------------------------------------------------
@mixin layout-framework {
// Grids
  #{$variables-tokens} { 
    @if $enable-grid-fractions { @include fraction-grid-variables; }
    @if $enable-grid-auto { @include auto-grid-variables; }
  }
  @if $enable-grid-utility { @include grid-utilities-css; }
  @if $enable-grid-fractions { @include fraction-grid-css; }
  @if $enable-grid-auto { @include auto-grid-css; }
  @if $enable-grid-layouts { @include grid-layouts-css; }
  
// Layout
  @if $enable-align { @include align-css; }
  @if $enable-aspect-ratio { @include aspect-ratio-css; }
  @if $enable-block { @include block-css; }
  @if $enable-columns { @include columns-css; }
  @if $enable-containers { @include containers-css; }
  @if $enable-display { @include display-css; }
  @if $enable-flex { @include flex-css; }
  @if $enable-grid { @include grid-css; }
  @if $enable-inset { @include inset-css; }
  @if $enable-justify { @include justify-css; }
  @if $enable-object-fit { @include object-fit-css; }
  @if $enable-order { @include order-css; }
  @if $enable-overflow { @include overflow-css; }
  @if $enable-overscroll { @include overscroll-css; }
  @if $enable-place { @include place-css; }
  @if $enable-position { @include position-css; }
  @if $enable-scrollbars { @include scrollbars-css; }
  @if $enable-sizes { @include sizes-css; }
  @if $enable-z-index { @include z-index-css; }
  
  // Spacing
  @if $enable-gaps { @include gaps-css; }
  @if $enable-margins { @include margins-css; }
  @if $enable-padding { @include padding-css; }
}

// ---------------------------------------------------------- 
// Icons
// ----------------------------------------------------------
@mixin icons-framework {
  // SVG variable tokens
  #{$variables-tokens} {
    // Default icons
    @if $enable-house-svg {--house: #{$house};}
    @if $enable-email-svg {--email: #{$email};}
    @if $enable-bars-svg {--bars: #{$bars};}
    @if $enable-dots-horizontal-svg {--dots-h: #{$dots-h};}
    @if $enable-dots-vertical-svg {--dots-v: #{$dots-v};}
    @if $enable-plus-svg {--plus: #{$plus};}
    @if $enable-minus-svg {--minus: #{$minus};}
    @if $enable-close-svg {--close: #{$close};}
    @if $enable-search-svg {--search: #{$search};}
    @if $enable-download-svg {--download: #{$download};}
    @if $enable-info-box-svg {--info-box: #{$info-box};}
    @if $enable-info-box-fill-svg {--info-box-fill: #{$info-box-fill};}
    @if $enable-info-circle-svg {--info-circle: #{$info-circle};}
    @if $enable-info-circle-fill-svg {--info-circle-fill: #{$info-circle-fill};}
    @if $enable-question-circle-svg {--question-circle: #{$question-circle};}
    @if $enable-question-circle-fill-svg {--question-circle-fill: #{$question-circle-fill};}
    @if $enable-question-box-svg {--question-box: #{$question-box};}
    @if $enable-question-box-fill-svg {--question-box-fill: #{$question-box-fill};}
    @if $enable-box-svg {--box: #{$box};}
    @if $enable-pen-box-svg {--pen-box: #{$pen-box};}
    @if $enable-close-box-svg {--close-box: #{$close-box};}
    @if $enable-close-box-fill-svg {--close-box-fill: #{$close-box-fill};}
    @if $enable-tick-box-svg {--tick-box: #{$tick-box};}
    @if $enable-ext-link-svg {--ext-link: #{$ext-link};}
    @if $enable-pg-link-svg {--pg-link: #{$pg-link};}
    @if $enable-sun-svg {--sun: #{$sun};}
    @if $enable-moon-svg {--moon: #{$moon};}
    @if $enable-caret-down-svg {--caret-down: #{$caret-down};}
    @if $enable-caret-up-svg {--caret-up: #{$caret-up};}
    @if $enable-caret-left-svg {--caret-left: #{$caret-left};}
    @if $enable-caret-right-svg {--caret-right: #{$caret-right};}
    @if $enable-user-svg {--user: #{$user};}
    @if $enable-circle-svg {--circle: #{$circle};}
    @if $enable-circle-fill-svg {--circle-fill: #{$circle-fill};}
    @if $enable-circle-inner-svg {--circle-inner: #{$circle-inner};}
    @if $enable-circle-half-svg {--circle-half: #{$circle-half};}
    @if $enable-circle-sm-svg {--circle-sm: #{$circle-sm};}
    @if $enable-circle-fill-sm-svg {--circle-fill-sm: #{$circle-fill-sm};}
    @if $enable-circle-inner-sm-svg {--circle-inner-sm: #{$circle-inner-sm};}
    @if $enable-circle-half-sm-svg {--circle-half-sm: #{$circle-half-sm};}
    @if $enable-image-svg {--image: #{$image};}
    @if $enable-image-fill-svg {--image-fill: #{$image-fill};}
    
    // Brand icons
    @if $enable-rss-svg {--rss: #{$rss};}
    @if $enable-stylemods-svg {--stylemods: #{$stylemods};}
    @if $enable-sass-svg {--sass: #{$sass};}
    @if $enable-github-svg {--github: #{$github};}
    @if $enable-twitter-svg {--twitter: #{$twitter};}
    @if $enable-mastodon-svg {--mastodon: #{$mastodon};}
    @if $enable-tiktok-svg {--tiktok: #{$tiktok};}
    @if $enable-facebook-svg {--facebook: #{$facebook};}
    @if $enable-instagram-svg {--instagram: #{$instagram};}
    @if $enable-pinterest-svg {--pinterest: #{$pinterest};}
    @if $enable-codepen-svg {--codepen: #{$codepen};}
    @if $enable-reddit-svg {--reddit: #{$reddit};}
    @if $enable-youtube-svg {--youtube: #{$youtube};}
  }

  // Icon utility classes
  @if $enable-icon-utilities-css { @include icon-utilities-css; }
  @if $enable-icon-links-css { @include icon-links-css; }
  @if $enable-icon-buttons-css { @include icon-buttons-css; }
  
  // SVG classes
  // Default icons
  @if $enable-house-svg {.house {--svg: var(--house);}}
  @if $enable-email-svg {.email {--svg: var(--email);}}
  @if $enable-bars-svg {.bars {--svg: var(--bars);}}
  @if $enable-dots-horizontal-svg {.dots-h {--svg: var(--dots-h);}}
  @if $enable-dots-vertical-svg {.dots-v {--svg: var(--dots-v);}}
  @if $enable-plus-svg {.plus {--svg: var(--plus);}}
  @if $enable-minus-svg {.minus {--svg: var(--minus);}}
  @if $enable-close-svg {.close {--svg: var(--close);}}
  @if $enable-search-svg {.search {--svg: var(--search);}}
  @if $enable-download-svg {.download {--svg: var(--download);}}
  @if $enable-info-box-svg {.info-box {--svg: var(--info-box);}}
  @if $enable-info-box-fill-svg {.info-box-fill {--svg: var(--info-box-fill);}}
  @if $enable-info-circle-svg {.info-circle {--svg: var(--info-circle);}}
  @if $enable-info-circle-fill-svg {.info-circle-fill {--svg: var(--info-circle-fill);}}
  @if $enable-question-circle-svg {.question-circle {--svg: var(--question-circle);}}
  @if $enable-question-circle-fill-svg {.question-circle-fill {--svg: var(--question-circle-fill);}}
  @if $enable-question-box-svg {.question-box {--svg: var(--question-box);}}
  @if $enable-question-box-fill-svg {.question-box-fill {--svg: var(--question-box-fill);}}
  @if $enable-box-svg {.box {--svg: var(--box);}}
  @if $enable-pen-box-svg {.pen-box {--svg: var(--pen-box);}}
  @if $enable-close-box-svg {.close-box {--svg: var(--close-box);}}
  @if $enable-close-box-fill-svg {.close-box-fill {--svg: var(--close-box-fill);}}
  @if $enable-tick-box-svg {.tick-box {--svg: var(--tick-box);}}
  @if $enable-ext-link-svg {.ext-link {--svg: var(--ext-link);}}
  @if $enable-pg-link-svg {.pg-link {--svg: var(--pg-link);}}
  @if $enable-sun-svg {.sun {--svg: var(--sun);}}
  @if $enable-moon-svg {.moon {--svg: var(--moon);}}
  @if $enable-caret-down-svg {.caret-down {--svg: var(--caret-down);}}
  @if $enable-caret-up-svg {.caret-up {--svg: var(--caret-up);}}
  @if $enable-caret-left-svg {.caret-left {--svg: var(--caret-left);}}
  @if $enable-caret-right-svg {.caret-right {--svg: var(--caret-right);}}
  @if $enable-user-svg {.user {--svg: var(--user);}}
  @if $enable-circle-svg {.circle {--svg: var(--circle);}}
  @if $enable-circle-fill-svg {.circle-fill {--svg: var(--circle-fill);}}
  @if $enable-circle-inner-svg {.circle-inner {--svg: var(--circle-inner);}}
  @if $enable-circle-half-svg {.circle-half {--svg: var(--circle-half);}}
  @if $enable-circle-sm-svg {.circle-sm {--svg: var(--circle-sm);}}
  @if $enable-circle-fill-sm-svg {.circle-fill-sm {--svg: var(--circle-fill-sm);}}
  @if $enable-circle-inner-sm-svg {.circle-inner-sm {--svg: var(--circle-inner-sm);}}
  @if $enable-circle-half-sm-svg {.circle-half-sm {--svg: var(--circle-half-sm);}}
  @if $enable-image-svg {.image {--svg: var(--image);}}
  @if $enable-image-fill-svg {.image-fill {--svg: var(--image-fill);}}
  
  // Brand icons
  @if $enable-rss-svg {.rss {--svg: var(--rss);}}
  @if $enable-stylemods-svg {.stylemods {--svg: var(--stylemods);}}
  @if $enable-sass-svg {.sass {--svg: var(--sass);}}
  @if $enable-github-svg {.github {--svg: var(--github);}}
  @if $enable-twitter-svg {.twitter {--svg: var(--twitter);}}
  @if $enable-mastodon-svg {.mastodon {--svg: var(--mastodon);}}
  @if $enable-tiktok-svg {.tiktok {--svg: var(--tiktok);}}
  @if $enable-facebook-svg {.facebook {--svg: var(--facebook);}}
  @if $enable-instagram-svg {.instagram {--svg: var(--instagram);}}
  @if $enable-pinterest-svg {.pinterest {--svg: var(--pinterest);}}
  @if $enable-codepen-svg {.codepen {--svg: var(--codepen);}}
  @if $enable-reddit-svg {.reddit {--svg: var(--reddit);}}
  @if $enable-youtube-svg {.youtube {--svg: var(--youtube);}}
}

// ----------------------------------------------------------
// XXL breakpoints
// ----------------------------------------------------------
@mixin utilities-framework-xxl {
  @if $enable-borders-xxl { @include borders-xxl-css; }
  @if $enable-opacity-xxl { @include opacity-xxl-css; }
  @if $enable-text-xxl { @include text-xxl-css; }
}

@mixin layout-framework-xxl {
  // Grids
  @if $enable-grid-utility-xxl { @include grid-utilities-xxl-css; }
  @if $enable-grid-fractions-xxl { @include fraction-grid-xxl-css; }
  @if $enable-grid-auto-xxl { @include auto-grid-xxl-css; }
  @if $enable-grid-layouts-xxl { @include grid-layouts-xxl-css; }
  
  // Layout
  @if $enable-align-xxl { @include align-xxl-css; }
  @if $enable-aspect-ratio-xxl { @include aspect-ratio-xxl-css; }
  @if $enable-block-xxl { @include block-xxl-css; }
  @if $enable-columns-xxl { @include columns-xxl-css; }
  @if $enable-display-xxl { @include display-xxl-css; }
  @if $enable-flex-xxl { @include flex-xxl-css; }
  @if $enable-grid-xxl { @include grid-xxl-css; }
  @if $enable-inset-xxl { @include inset-xxl-css; }
  @if $enable-justify-xxl { @include justify-xxl-css; }
  @if $enable-object-fit-xxl { @include object-fit-xxl-css; }
  @if $enable-order-xxl { @include order-xxl-css; }
  @if $enable-overflow-xxl { @include overflow-xxl-css; }
  @if $enable-overscroll-xxl { @include overscroll-xxl-css; }
  @if $enable-place-xxl { @include place-xxl-css; }
  @if $enable-position-xxl { @include position-xxl-css; }
  @if $enable-scrollbars-xxl { @include scrollbars-xxl-css; }
  @if $enable-sizes-xxl { @include sizes-xxl-css; }
  @if $enable-z-index-xxl { @include z-index-xxl-css; }
  
  // Spacing
  @if $enable-gaps-xxl { @include gaps-xxl-css; }
  @if $enable-margins-xxl { @include margins-xxl-css; }
  @if $enable-padding-xxl { @include padding-xxl-css; }
}

// ----------------------------------------------------------
// XL breakpoints
// ----------------------------------------------------------
@mixin utilities-framework-xl {
  @if $enable-borders-xl { @include borders-xl-css; }
  @if $enable-opacity-xl { @include opacity-xl-css; }
  @if $enable-text-xl { @include text-xl-css; }
}

@mixin layout-framework-xl {
  // Grids
  @if $enable-grid-utility-xl { @include grid-utilities-xl-css; }
  @if $enable-grid-fractions-xl { @include fraction-grid-xl-css; }
  @if $enable-grid-auto-xl { @include auto-grid-xl-css; }
  @if $enable-grid-layouts-xl { @include grid-layouts-xl-css; }
  
  // Layout
  @if $enable-align-xl { @include align-xl-css; }
  @if $enable-aspect-ratio-xl { @include aspect-ratio-xl-css; }
  @if $enable-block-xl { @include block-xl-css; }
  @if $enable-columns-xl { @include columns-xl-css; }
  @if $enable-display-xl { @include display-xl-css; }
  @if $enable-flex-xl { @include flex-xl-css; }
  @if $enable-grid-xl { @include grid-xl-css; }
  @if $enable-inset-xl { @include inset-xl-css; }
  @if $enable-justify-xl { @include justify-xl-css; }
  @if $enable-object-fit-xl { @include object-fit-xl-css; }
  @if $enable-order-xl { @include order-xl-css; }
  @if $enable-overflow-xl { @include overflow-xl-css; }
  @if $enable-overscroll-xl { @include overscroll-xl-css; }
  @if $enable-place-xl { @include place-xl-css; }
  @if $enable-position-xl { @include position-xl-css; }
  @if $enable-scrollbars-xl { @include scrollbars-xl-css; }
  @if $enable-sizes-xl { @include sizes-xl-css; }
  @if $enable-z-index-xl { @include z-index-xl-css; }
  
  // Spacing
  @if $enable-gaps-xl { @include gaps-xl-css; }
  @if $enable-margins-xl { @include margins-xl-css; }
  @if $enable-padding-xl { @include padding-xl-css; }
}

// ----------------------------------------------------------
// LG breakpoints
// ----------------------------------------------------------
@mixin utilities-framework-lg {
  @if $enable-borders-lg { @include borders-lg-css; }
  @if $enable-opacity-lg { @include opacity-lg-css; }
  @if $enable-text-lg { @include text-lg-css; }
}

@mixin layout-framework-lg {
  // Grids
  @if $enable-grid-utility-lg { @include grid-utilities-lg-css; }
  @if $enable-grid-fractions-lg { @include fraction-grid-lg-css; }
  @if $enable-grid-auto-lg { @include auto-grid-lg-css; }
  @if $enable-grid-layouts-lg { @include grid-layouts-lg-css; }
  
  // Layout
  @if $enable-align-lg { @include align-lg-css; }
  @if $enable-aspect-ratio-lg { @include aspect-ratio-lg-css; }
  @if $enable-block-lg { @include block-lg-css; }
  @if $enable-columns-lg { @include columns-lg-css; }
  @if $enable-display-lg { @include display-lg-css; }
  @if $enable-flex-lg { @include flex-lg-css; }
  @if $enable-grid-lg { @include grid-lg-css; }
  @if $enable-inset-lg { @include inset-lg-css; }
  @if $enable-justify-lg { @include justify-lg-css; }
  @if $enable-object-fit-lg { @include object-fit-lg-css; }
  @if $enable-order-lg { @include order-lg-css; }
  @if $enable-overflow-lg { @include overflow-lg-css; }
  @if $enable-overscroll-lg { @include overscroll-lg-css; }
  @if $enable-place-lg { @include place-lg-css; }
  @if $enable-position-lg { @include position-lg-css; }
  @if $enable-scrollbars-lg { @include scrollbars-lg-css; }
  @if $enable-sizes-lg { @include sizes-lg-css; }
  @if $enable-z-index-lg { @include z-index-lg-css; }
  
  // Spacing
  @if $enable-gaps-lg { @include gaps-lg-css; }
  @if $enable-margins-lg { @include margins-lg-css; }
  @if $enable-padding-lg { @include padding-lg-css; }
}

// ----------------------------------------------------------
// MD breakpoints
// ----------------------------------------------------------
@mixin utilities-framework-md {
  @if $enable-borders-md { @include borders-md-css; }
  @if $enable-opacity-md { @include opacity-md-css; }
  @if $enable-text-md { @include text-md-css; }
}

@mixin layout-framework-md {
  // Grids
  @if $enable-grid-utility-md { @include grid-utilities-md-css; }
  @if $enable-grid-fractions-md { @include fraction-grid-md-css; }
  @if $enable-grid-auto-md { @include auto-grid-md-css; }
  @if $enable-grid-layouts-md { @include grid-layouts-md-css; }
  
  // Layout
  @if $enable-align-md { @include align-md-css; }
  @if $enable-aspect-ratio-md { @include aspect-ratio-md-css; }
  @if $enable-block-md { @include block-md-css; }
  @if $enable-columns-md { @include columns-md-css; }
  @if $enable-display-md { @include display-md-css; }
  @if $enable-flex-md { @include flex-md-css; }
  @if $enable-grid-md { @include grid-md-css; }
  @if $enable-inset-md { @include inset-md-css; }
  @if $enable-justify-md { @include justify-md-css; }
  @if $enable-object-fit-md { @include object-fit-md-css; }
  @if $enable-order-md { @include order-md-css; }
  @if $enable-overflow-md { @include overflow-md-css; }
  @if $enable-overscroll-md { @include overscroll-md-css; }
  @if $enable-place-md { @include place-md-css; }
  @if $enable-position-md { @include position-md-css; }
  @if $enable-scrollbars-md { @include scrollbars-md-css; }
  @if $enable-sizes-md { @include sizes-md-css; }
  @if $enable-z-index-md { @include z-index-md-css; }
  
  // Spacing
  @if $enable-gaps-md { @include gaps-md-css; }
  @if $enable-margins-md { @include margins-md-css; }
  @if $enable-padding-md { @include padding-md-css; }
}

// ----------------------------------------------------------
// SM breakpoints
// ----------------------------------------------------------
@mixin utilities-framework-sm {
  @if $enable-borders-sm { @include borders-sm-css; }
  @if $enable-opacity-sm { @include opacity-sm-css; }
  @if $enable-text-sm { @include text-sm-css; }
}

@mixin layout-framework-sm {
  // Grids
  @if $enable-grid-utility-sm { @include grid-utilities-sm-css; }
  @if $enable-grid-fractions-sm { @include fraction-grid-sm-css; }
  @if $enable-grid-auto-sm { @include auto-grid-sm-css; }
  @if $enable-grid-layouts-sm { @include grid-layouts-sm-css; }
  
  // Layout
  @if $enable-align-sm { @include align-sm-css; }
  @if $enable-aspect-ratio-sm { @include aspect-ratio-sm-css; }
  @if $enable-block-sm { @include block-sm-css; }
  @if $enable-columns-sm { @include columns-sm-css; }
  @if $enable-display-sm { @include display-sm-css; }
  @if $enable-flex-sm { @include flex-sm-css; }
  @if $enable-grid-sm { @include grid-sm-css; }
  @if $enable-inset-sm { @include inset-sm-css; }
  @if $enable-justify-sm { @include justify-sm-css; }
  @if $enable-object-fit-sm { @include object-fit-sm-css; }
  @if $enable-order-sm { @include order-sm-css; }
  @if $enable-overflow-sm { @include overflow-sm-css; }
  @if $enable-overscroll-sm { @include overscroll-sm-css; }
  @if $enable-place-sm { @include place-sm-css; }
  @if $enable-position-sm { @include position-sm-css; }
  @if $enable-scrollbars-sm { @include scrollbars-sm-css; }
  @if $enable-sizes-sm { @include sizes-sm-css; }
  @if $enable-z-index-sm { @include z-index-sm-css; }
  
  // Spacing
  @if $enable-gaps-sm { @include gaps-sm-css; }
  @if $enable-margins-sm { @include margins-sm-css; }
  @if $enable-padding-sm { @include padding-sm-css; }
}

// ----------------------------------------------------------
// XS breakpoints
// ----------------------------------------------------------
@mixin utilities-framework-xs {
  @if $enable-borders-xs { @include borders-xs-css; }
  @if $enable-opacity-xs { @include opacity-xs-css; }
  @if $enable-text-xs { @include text-xs-css; }
}

@mixin layout-framework-xs {
  // Grids
  @if $enable-grid-utility-xs { @include grid-utilities-xs-css; }
  @if $enable-grid-fractions-xs { @include fraction-grid-xs-css; }
  @if $enable-grid-auto-xs { @include auto-grid-xs-css; }
  @if $enable-grid-layouts-xs { @include grid-layouts-xs-css; }
  
  // Layout
  @if $enable-align-xs { @include align-xs-css; }
  @if $enable-aspect-ratio-xs { @include aspect-ratio-xs-css; }
  @if $enable-block-xs { @include block-xs-css; }
  @if $enable-columns-xs { @include columns-xs-css; }
  @if $enable-display-xs { @include display-xs-css; }
  @if $enable-flex-xs { @include flex-xs-css; }
  @if $enable-grid-xs { @include grid-xs-css; }
  @if $enable-inset-xs { @include inset-xs-css; }
  @if $enable-justify-xs { @include justify-xs-css; }
  @if $enable-object-fit-xs { @include object-fit-xs-css; }
  @if $enable-order-xs { @include order-xs-css; }
  @if $enable-overflow-xs { @include overflow-xs-css; }
  @if $enable-overscroll-xs { @include overscroll-xs-css; }
  @if $enable-place-xs { @include place-xs-css; }
  @if $enable-position-xs { @include position-xs-css; }
  @if $enable-scrollbars-xs { @include scrollbars-xs-css; }
  @if $enable-sizes-xs { @include sizes-xs-css; }
  @if $enable-z-index-xs { @include z-index-xs-css; }
  
  // Spacing
  @if $enable-gaps-xs { @include gaps-xs-css; }
  @if $enable-margins-xs { @include margins-xs-css; }
  @if $enable-padding-xs { @include padding-xs-css; }
}

// ----------------------------------------------------------
// XXS breakpoints
// ----------------------------------------------------------
@mixin utilities-framework-xxs {
  @if $enable-borders-xxs { @include borders-xxs-css; }
  @if $enable-opacity-xxs { @include opacity-xxs-css; }
  @if $enable-text-xxs { @include text-xxs-css; }
}

@mixin layout-framework-xxs {
  // Grids
  @if $enable-grid-utility-xxs { @include grid-utilities-xxs-css; }
  @if $enable-grid-fractions-xxs { @include fraction-grid-xxs-css; }
  @if $enable-grid-auto-xxs { @include auto-grid-xxs-css; }
  @if $enable-grid-layouts-xxs { @include grid-layouts-xxs-css; }
  
  // Layout
  @if $enable-align-xxs { @include align-xxs-css; }
  @if $enable-aspect-ratio-xxs { @include aspect-ratio-xxs-css; }
  @if $enable-block-xxs { @include block-xxs-css; }
  @if $enable-columns-xxs { @include columns-xxs-css; }
  @if $enable-display-xxs { @include display-xxs-css; }
  @if $enable-flex-xxs { @include flex-xxs-css; }
  @if $enable-grid-xxs { @include grid-xxs-css; }
  @if $enable-inset-xxs { @include inset-xxs-css; }
  @if $enable-justify-xxs { @include justify-xxs-css; }
  @if $enable-object-fit-xxs { @include object-fit-xxs-css; }
  @if $enable-order-xxs { @include order-xxs-css; }
  @if $enable-overflow-xxs { @include overflow-xxs-css; }
  @if $enable-overscroll-xxs { @include overscroll-xxs-css; }
  @if $enable-place-xxs { @include place-xxs-css; }
  @if $enable-position-xxs { @include position-xxs-css; }
  @if $enable-scrollbars-xxs { @include scrollbars-xxs-css; }
  @if $enable-sizes-xxs { @include sizes-xxs-css; }
  @if $enable-z-index-xxs { @include z-index-xxs-css; }
  
  // Spacing
  @if $enable-gaps-xxs { @include gaps-xxs-css; }
  @if $enable-margins-xxs { @include margins-xxs-css; }
  @if $enable-padding-xxs { @include padding-xxs-css; }
}
