// ---------------------------------------------------------- 
// All icons
// ----------------------------------------------------------
@use "icon-variables" as *;
@use "custom-icons" as *;
@use "icon-utilities" as *;

$all-icons-tokens: ':where(html)' !default;

@mixin all-icons-css {
  #{$all-icons-tokens} {
    @include icon-variables;
    @include custom-icon-variables;
  }
  
  @include icon-classes-css;
  @include custom-icon-classes-css;
  @include all-icon-utilities-css;
}
