// ---------------------------------------------------------- 
// Colors
// ----------------------------------------------------------
$surface:   Canvas !default;
$gray:      #808080 !default;
$blue:      #0066ff !default;
$red:       #ff0000 !default;
$green:     #006400 !default;
$orange:    #ff8c00 !default;
$cyan:      #00e6e6 !default;
$yellow:    #ffff00 !default;
$purple:    #6f42c1 !default;
$pink:      #ff1493 !default;
$olive:     #556b2f !default;

@mixin background-color-props {
  color: var(--bg-txt);
  background-color: var(--bg-col);
}

@mixin background-color-utility {
  .bg-color {
    @include background-color-props;
  }
}

@mixin surface-variables {
  --surf-1: color-mix(in srgb, CanvasText 4%, #{$surface});
  --surf-2: color-mix(in srgb, CanvasText 8%, #{$surface});
  --surf-3: color-mix(in srgb, CanvasText 14%, #{$surface});
  --surf-4: color-mix(in srgb, CanvasText 20%, #{$surface});
  --surf-5: color-mix(in srgb, CanvasText 26%, #{$surface});
  --surf-6: color-mix(in srgb, CanvasText 32%, #{$surface});
  --surf-7: color-mix(in srgb, CanvasText 38%, #{$surface});
  --surf-8: color-mix(in srgb, CanvasText 44%, #{$surface});
  --surf-9: color-mix(in srgb, CanvasText 50%, #{$surface});
  --surf-10: color-mix(in srgb, CanvasText 56%, #{$surface});
  --surf-11: color-mix(in srgb, CanvasText 62%, #{$surface});
}

@mixin gray-variables {
  --gray-1: color-mix(in srgb, var(--gray-6) 40%, white);
  --gray-2: color-mix(in srgb, var(--gray-6) 50%, white);
  --gray-3: color-mix(in srgb, var(--gray-6) 60%, white);
  --gray-4: color-mix(in srgb, var(--gray-6) 70%, white);
  --gray-5: color-mix(in srgb, var(--gray-6) 80%, white);
  --gray-6: #{$gray};
  --gray-7: color-mix(in srgb, var(--gray-6) 80%, black);
  --gray-8: color-mix(in srgb, var(--gray-6) 70%, black);
  --gray-9: color-mix(in srgb, var(--gray-6) 60%, black);
  --gray-10: color-mix(in srgb, var(--gray-6) 50%, black);
  --gray-11: color-mix(in srgb, var(--gray-6) 40%, black);
}

@mixin blue-variables {
  --blue-1: color-mix(in srgb, var(--blue-6) 40%, white);
  --blue-2: color-mix(in srgb, var(--blue-6) 50%, white);
  --blue-3: color-mix(in srgb, var(--blue-6) 60%, white);
  --blue-4: color-mix(in srgb, var(--blue-6) 70%, white);
  --blue-5: color-mix(in srgb, var(--blue-6) 80%, white);
  --blue-6: #{$blue};
  --blue-7: color-mix(in srgb, var(--blue-6) 80%, black);
  --blue-8: color-mix(in srgb, var(--blue-6) 60%, black);
  --blue-9: color-mix(in srgb, var(--blue-6) 50%, black);
  --blue-10: color-mix(in srgb, var(--blue-6) 40%, black);
  --blue-11: color-mix(in srgb, var(--blue-6) 30%, black);
}

@mixin red-variables {
  --red-1: color-mix(in srgb, var(--red-6) 40%, white);
  --red-2: color-mix(in srgb, var(--red-6) 50%, white);
  --red-3: color-mix(in srgb, var(--red-6) 60%, white);
  --red-4: color-mix(in srgb, var(--red-6) 70%, white);
  --red-5: color-mix(in srgb, var(--red-6) 80%, white);
  --red-6: #{$red};
  --red-7: color-mix(in srgb, var(--red-6) 80%, black);
  --red-8: color-mix(in srgb, var(--red-6) 60%, black);
  --red-9: color-mix(in srgb, var(--red-6) 50%, black);
  --red-10: color-mix(in srgb, var(--red-6) 40%, black);
  --red-11: color-mix(in srgb, var(--red-6) 30%, black);
}

@mixin green-variables {
  --green-1: color-mix(in srgb, var(--green-6) 40%, white);
  --green-2: color-mix(in srgb, var(--green-6) 50%, white);
  --green-3: color-mix(in srgb, var(--green-6) 60%, white);
  --green-4: color-mix(in srgb, var(--green-6) 70%, white);
  --green-5: color-mix(in srgb, var(--green-6) 80%, white);
  --green-6: #{$green};
  --green-7: color-mix(in srgb, var(--green-6) 80%, black);
  --green-8: color-mix(in srgb, var(--green-6) 60%, black);
  --green-9: color-mix(in srgb, var(--green-6) 50%, black);
  --green-10: color-mix(in srgb, var(--green-6) 40%, black);
  --green-11: color-mix(in srgb, var(--green-6) 30%, black);
}

@mixin orange-variables {
  --orange-1: color-mix(in srgb, var(--orange-6) 40%, white);
  --orange-2: color-mix(in srgb, var(--orange-6) 50%, white);
  --orange-3: color-mix(in srgb, var(--orange-6) 60%, white);
  --orange-4: color-mix(in srgb, var(--orange-6) 70%, white);
  --orange-5: color-mix(in srgb, var(--orange-6) 80%, white);
  --orange-6: #{$orange};
  --orange-7: color-mix(in srgb, var(--orange-6) 80%, black);
  --orange-8: color-mix(in srgb, var(--orange-6) 60%, black);
  --orange-9: color-mix(in srgb, var(--orange-6) 50%, black);
  --orange-10: color-mix(in srgb, var(--orange-6) 40%, black);
  --orange-11: color-mix(in srgb, var(--orange-6) 30%, black);
}

@mixin cyan-variables {
  --cyan-1: color-mix(in srgb, var(--cyan-6) 40%, white);
  --cyan-2: color-mix(in srgb, var(--cyan-6) 50%, white);
  --cyan-3: color-mix(in srgb, var(--cyan-6) 60%, white);
  --cyan-4: color-mix(in srgb, var(--cyan-6) 70%, white);
  --cyan-5: color-mix(in srgb, var(--cyan-6) 80%, white);
  --cyan-6: #{$cyan};
  --cyan-7: color-mix(in srgb, var(--cyan-6) 85%, black);
  --cyan-8: color-mix(in srgb, var(--cyan-6) 70%, black);
  --cyan-9: color-mix(in srgb, var(--cyan-6) 60%, black);
  --cyan-10: color-mix(in srgb, var(--cyan-6) 50%, black);
  --cyan-11: color-mix(in srgb, var(--cyan-6) 40%, black);
}

@mixin yellow-variables {
  --yellow-1: color-mix(in srgb, var(--yellow-6) 25%, white);
  --yellow-2: color-mix(in srgb, var(--yellow-6) 35%, white);
  --yellow-3: color-mix(in srgb, var(--yellow-6) 45%, white);
  --yellow-4: color-mix(in srgb, var(--yellow-6) 55%, white);
  --yellow-5: color-mix(in srgb, var(--yellow-6) 70%, white);
  --yellow-6: #{$yellow};
  --yellow-7: color-mix(in srgb, var(--yellow-6) 85%, black);
  --yellow-8: color-mix(in srgb, var(--yellow-6) 75%, black);
  --yellow-9: color-mix(in srgb, var(--yellow-6) 62%, black);
  --yellow-10: color-mix(in srgb, var(--yellow-6) 55%, black);
  --yellow-11: color-mix(in srgb, var(--yellow-6) 45%, black);
}

@mixin purple-variables {
  --purple-1: color-mix(in srgb, var(--purple-6) 40%, white);
  --purple-2: color-mix(in srgb, var(--purple-6) 50%, white);
  --purple-3: color-mix(in srgb, var(--purple-6) 60%, white);
  --purple-4: color-mix(in srgb, var(--purple-6) 70%, white);
  --purple-5: color-mix(in srgb, var(--purple-6) 80%, white);
  --purple-6: #{$purple};
  --purple-7: color-mix(in srgb, var(--purple-6) 75%, black);
  --purple-8: color-mix(in srgb, var(--purple-6) 65%, black);
  --purple-9: color-mix(in srgb, var(--purple-6) 55%, black);
  --purple-10: color-mix(in srgb, var(--purple-6) 45%, black);
  --purple-11: color-mix(in srgb, var(--purple-6) 35%, black);
}

@mixin pink-variables {
  --pink-1: color-mix(in srgb, var(--pink-6) 40%, white);
  --pink-2: color-mix(in srgb, var(--pink-6) 50%, white);
  --pink-3: color-mix(in srgb, var(--pink-6) 60%, white);
  --pink-4: color-mix(in srgb, var(--pink-6) 70%, white);
  --pink-5: color-mix(in srgb, var(--pink-6) 80%, white);
  --pink-6: #{$pink};
  --pink-7: color-mix(in srgb, var(--pink-6) 75%, black);
  --pink-8: color-mix(in srgb, var(--pink-6) 65%, black);
  --pink-9: color-mix(in srgb, var(--pink-6) 55%, black);
  --pink-10: color-mix(in srgb, var(--pink-6) 45%, black);
  --pink-11: color-mix(in srgb, var(--pink-6) 35%, black);
}

@mixin olive-variables {
  --olive-1: color-mix(in srgb, var(--olive-6) 40%, white);
  --olive-2: color-mix(in srgb, var(--olive-6) 50%, white);
  --olive-3: color-mix(in srgb, var(--olive-6) 60%, white);
  --olive-4: color-mix(in srgb, var(--olive-6) 70%, white);
  --olive-5: color-mix(in srgb, var(--olive-6) 80%, white);
  --olive-6: #{$olive};
  --olive-7: color-mix(in srgb, var(--olive-6) 80%, black);
  --olive-8: color-mix(in srgb, var(--olive-6) 60%, black);
  --olive-9: color-mix(in srgb, var(--olive-6) 50%, black);
  --olive-10: color-mix(in srgb, var(--olive-6) 40%, black);
  --olive-11: color-mix(in srgb, var(--olive-6) 30%, black);
}

@mixin all-color-variables {
  @include surface-variables;
  @include gray-variables;
  @include blue-variables;
  @include red-variables;
  @include green-variables;
  @include orange-variables;
  @include cyan-variables;
  @include yellow-variables;
  @include purple-variables;
  @include pink-variables;
  @include olive-variables;
}

@mixin all-colors {
  :where(html) {
    @include all-color-variables;
  } 
}
