// ---------------------------------------------------------- 
// Blue
// ----------------------------------------------------------
$blue:                #0047b3 !default;
$blue-1:              color-mix(in srgb, var(--blue), #fff 72%) !default;
$blue-2:              color-mix(in srgb, var(--blue), #fff 59%) !default;
$blue-3:              color-mix(in srgb, var(--blue), #fff 42%) !default;
$blue-4:              color-mix(in srgb, var(--blue), #fff 28%) !default;
$blue-5:              color-mix(in srgb, var(--blue), #fff 13%) !default;
$blue-6:              var(--blue) !default;
$blue-7:              color-mix(in srgb, var(--blue), #000 15%) !default;
$blue-8:              color-mix(in srgb, var(--blue), #000 28%) !default;
$blue-9:              color-mix(in srgb, var(--blue), #000 40%) !default;
$blue-10:             color-mix(in srgb, var(--blue), #000 50%) !default;
$blue-11:             color-mix(in srgb, var(--blue), #000 56%) !default;

$blue-tokens:         ':where(html)' !default;

$blue-bg-text:        #fff !default;
$blue-bg:             var(--blue) !default;
$blue-bg-dark:        var(--blue-7) !default;
$blue-bg-light:       var(--blue-5) !default;

$blue-gradient:       linear-gradient(180deg, $blue-bg-light, $blue-bg, $blue-bg-dark) !default;

$blue-color-values:
  "blue"    $blue #fff,
  "blue-1"  $blue-1 #000,
  "blue-2"  $blue-2 #000,
  "blue-3"  $blue-3 #000,
  "blue-4"  $blue-4 #000,
  "blue-5"  $blue-5 #fff,
  "blue-6"  $blue-6 #fff,
  "blue-7"  $blue-7 #fff,
  "blue-8"  $blue-8 #fff,
  "blue-9"  $blue-9 #fff,
  "blue-10" $blue-10 #fff,
  "blue-11" $blue-11 #fff,
!default;
