// ---------------------------------------------------------- 
// Gray
// ----------------------------------------------------------
// Variable colors
$gray:      #808080 !default;
$gray-1:    color-mix(in srgb, var(--gray) 25%, white) !default;
$gray-2:    color-mix(in srgb, var(--gray) 35%, white) !default;
$gray-3:    color-mix(in srgb, var(--gray) 55%, white) !default;
$gray-4:    color-mix(in srgb, var(--gray) 65%, white) !default;
$gray-5:    color-mix(in srgb, var(--gray) 75%, white) !default;
$gray-6:    var(--gray) !default;
$gray-7:    color-mix(in srgb, var(--gray) 80%, black) !default;
$gray-8:    color-mix(in srgb, var(--gray) 70%, black) !default;
$gray-9:    color-mix(in srgb, var(--gray) 60%, black) !default;
$gray-10:   color-mix(in srgb, var(--gray) 50%, black) !default;
$gray-11:   color-mix(in srgb, var(--gray) 40%, black) !default;

// Utility colors
$gray-bg-text:      #000 !default;
$gray-bg:           var(--gray-6) !default;
$gray-bg-dark:      var(--gray-7) !default;
$gray-bg-light:     var(--gray-5) !default;

// Tokens style
$gray-tokens:       where(html) !default;

// Variables tokens map
$gray-token-values: (
  "gray": $gray,
  "gray-1": $gray-1,
  "gray-2": $gray-2,
  "gray-3": $gray-3,
  "gray-4": $gray-4,
  "gray-5": $gray-5,
  "gray-6": $gray-6,
  "gray-7": $gray-7,
  "gray-8": $gray-8,
  "gray-9": $gray-9,
  "gray-10": $gray-10,
  "gray-11": $gray-11,
) !default;

// Utility maps
$accordion-gray: (
  "summary-text": $gray-bg-text,
  "ico": $gray-bg-text,
  "summary-bg": $gray-bg,
  "summary-focus": $gray-bg-dark,
  "accordion-bd-color": $gray-bg-light,
) !default;

$alert-gray: (
  "alert-text": $gray-bg-text,
  "ico": $gray-bg-text,
  "link": $gray-bg-text,
  "visited": $gray-bg-text,
  "hover": $gray-bg-text,
  "alert-bg": $gray-bg,
  "alert-bd-color": $gray-bg-light,
) !default;

$background-gray: (
  "bg-text": $gray-bg-text,
  "ico": $gray-bg-text,
  "link": $gray-bg-text,
  "visited": $gray-bg-text,
  "hover": $gray-bg-text,
  "bg-col": $gray-bg,
) !default;

$badge-gray: (
  "badge-text": $gray-bg-text,
  "ico": $gray-bg-text,
  "badge-bg": $gray-bg,
  "badge-bd-color": $gray-bg-light,
) !default;

$button-gray: (
  "btn-text": $gray-bg-text,
  "ico": $gray-bg-text,
  "btn-bg": $gray-bg,
  "btn-bd-color": $gray-bg-light,
  "btn-hover": $gray-bg-dark,
  "focus-color": $gray-bg-light,
) !default;

$card-gray: (
  "card-text": $gray-bg-text,
  "ico": $gray-bg-text,
  "link": $gray-bg-text,
  "visited": $gray-bg-text,
  "hover": $gray-bg-text,
  "card-bg": $gray-bg,
  "card-text-hover": $gray-bg-text,
  "card-hover": $gray-bg-dark,
  "card-bd-color": $gray-bg-light,
  "card-focus-color": $gray-bg-light,
) !default;

$dialog-gray: (
  "dialog-text": $gray-bg-text,
  "ico": $gray-bg-text,
  "link": $gray-bg-text,
  "visited": $gray-bg-text,
  "hover": $gray-bg-text,
  "dialog-bg": $gray-bg,
  "dialog-bd-color": $gray-bg-light,
) !default;

$list-group-gray: (
  "list-group-text": $gray-bg-text,
  "ico": $gray-bg-text,
  "link": $gray-bg-text,
  "visited": $gray-bg-text,
  "hover": $gray-bg-text,
  "list-group-bg": $gray-bg,
  "list-group-dt-bg": $gray-bg,
  "list-group-hover": $gray-bg-dark,
  "list-group-bd-color": $gray-bg-light,
) !default;

$popover-gray: (
  "popover-text": $gray-bg-text,
  "ico": $gray-bg-text,
  "link": $gray-bg-text,
  "visited": $gray-bg-text,
  "hover": $gray-bg-text,
  "popover-bg": $gray-bg,
  "popover-bd-color": $gray-bg-light,
) !default;

// Variables mixins
@mixin gray-variables {
  @each $name, $value in $gray-token-values {
    --#{$name}: #{$value};
  }
}

@mixin gray-variables-css {
  :#{$gray-tokens} {
    @include gray-variables;
  }
}

// Utility mixins
@mixin accordion-gray-css {
  .accordion-gray {
    @each $name, $value in $accordion-gray {
      --#{$name}: #{$value};
    }  
  }
}

@mixin alert-gray-css {
  .alert-gray {
    @each $name, $value in $alert-gray {
      --#{$name}: #{$value};
    }
  }
}

@mixin background-gray-css {
  .bg-gray {
    @each $name, $value in $background-gray {
      --#{$name}: #{$value};
    }
  }
}

@mixin badge-gray-css {
  .badge-gray {
    @each $name, $value in $badge-gray {
      --#{$name}: #{$value};
    }
  }
}

@mixin button-gray-css {
  .btn-gray {
    @each $name, $value in $button-gray {
      --#{$name}: #{$value};
    }
  }
}

@mixin card-gray-css {
  .card-gray {
    @each $name, $value in $card-gray {
      --#{$name}: #{$value};
    }
  }
}

@mixin dialog-gray-css {
  .dialog-gray {
    @each $name, $value in $dialog-gray {
      --#{$name}: #{$value};
    }
  } 
}

@mixin list-group-gray-css {
  .list-group-gray {
    @each $name, $value in $list-group-gray {
      --#{$name}: #{$value};
    }
  }
}

@mixin popover-gray-css {
  .popover-gray {
    @each $name, $value in $popover-gray {
      --#{$name}: #{$value};
    }
  }
}

// Combined mixins
@mixin gray-module-css {
  @include gray-variables-css;
  @include accordion-gray-css;
  @include alert-gray-css;
  @include background-gray-css;
  @include badge-gray-css;
  @include button-gray-css;
  @include card-gray-css;
  @include dialog-gray-css;
  @include list-group-gray-css;
  @include popover-gray-css;
}

@mixin gray-utilities-css {
  @include accordion-gray-css;
  @include alert-gray-css;
  @include background-gray-css;
  @include badge-gray-css;
  @include button-gray-css;
  @include card-gray-css;
  @include dialog-gray-css;
  @include list-group-gray-css;
  @include popover-gray-css;
}
