// ---------------------------------------------------------- 
// Gray
// ----------------------------------------------------------
// Variable colors
$gray:      #808080 !default;
$gray-1:    color-mix(in srgb, var(--gray) 25%, white) !default;
$gray-2:    color-mix(in srgb, var(--gray) 35%, white) !default;
$gray-3:    color-mix(in srgb, var(--gray) 55%, white) !default;
$gray-4:    color-mix(in srgb, var(--gray) 65%, white) !default;
$gray-5:    color-mix(in srgb, var(--gray) 75%, white) !default;
$gray-6:    var(--gray) !default;
$gray-7:    color-mix(in srgb, var(--gray) 80%, black) !default;
$gray-8:    color-mix(in srgb, var(--gray) 70%, black) !default;
$gray-9:    color-mix(in srgb, var(--gray) 60%, black) !default;
$gray-10:   color-mix(in srgb, var(--gray) 50%, black) !default;
$gray-11:   color-mix(in srgb, var(--gray) 40%, black) !default;

// Tokens style
$gray-tokens:       ':where(html)' !default;

// Variables tokens map
$gray-token-values: (
  "gray": $gray,
  "gray-1": $gray-1,
  "gray-2": $gray-2,
  "gray-3": $gray-3,
  "gray-4": $gray-4,
  "gray-5": $gray-5,
  "gray-6": $gray-6,
  "gray-7": $gray-7,
  "gray-8": $gray-8,
  "gray-9": $gray-9,
  "gray-10": $gray-10,
  "gray-11": $gray-11,
) !default;

// Variables mixins
@mixin gray-variables {
  @each $name, $value in $gray-token-values {
    --#{$name}: #{$value};
  }
}

@mixin gray-variables-css {
  #{$gray-tokens} {
    @include gray-variables;
  }
}
