// ---------------------------------------------------------- 
// Gray
// ----------------------------------------------------------
$gray:              #808080 !default;
$gray-1:            color-mix(in srgb, var(--gray) 25%, #fff) !default;
$gray-2:            color-mix(in srgb, var(--gray) 35%, #fff) !default;
$gray-3:            color-mix(in srgb, var(--gray) 55%, #fff) !default;
$gray-4:            color-mix(in srgb, var(--gray) 65%, #fff) !default;
$gray-5:            color-mix(in srgb, var(--gray) 75%, #fff) !default;
$gray-6:            var(--gray) !default;
$gray-7:            color-mix(in srgb, var(--gray) 80%, #000) !default;
$gray-8:            color-mix(in srgb, var(--gray) 70%, #000) !default;
$gray-9:            color-mix(in srgb, var(--gray) 60%, #000) !default;
$gray-10:           color-mix(in srgb, var(--gray) 50%, #000) !default;
$gray-11:           color-mix(in srgb, var(--gray) 40%, #000) !default;

$gray-tokens:       ':where(html)' !default;

$gray-bg-text:      #000 !default;
$gray-bg:           var(--gray-6) !default;
$gray-bg-dark:      var(--gray-7) !default;
$gray-bg-light:     var(--gray-5) !default;

$gray-gradient:     linear-gradient(180deg, $gray-bg-light, $gray-bg, $gray-bg-dark) !default;

$gray-color-values:
  "gray"    $gray #000,
  "gray-1"  $gray-1 #000,
  "gray-2"  $gray-2 #000,
  "gray-3"  $gray-3 #000,
  "gray-4"  $gray-4 #000,
  "gray-5"  $gray-5 #000,
  "gray-6"  $gray-6 #000,
  "gray-7"  $gray-7 #fff,
  "gray-8"  $gray-8 #fff,
  "gray-9"  $gray-9 #fff,
  "gray-10" $gray-10 #fff,
  "gray-11" $gray-11 #fff,
!default;
