// ---------------------------------------------------------- 
// Olive
// ----------------------------------------------------------
// Variable colors
$olive:      #556b2f !default;
$olive-1:    color-mix(in srgb, var(--olive) 45%, white) !default;
$olive-2:    color-mix(in srgb, var(--olive) 55%, white) !default;
$olive-3:    color-mix(in srgb, var(--olive) 65%, white) !default;
$olive-4:    color-mix(in srgb, var(--olive) 75%, white) !default;
$olive-5:    color-mix(in srgb, var(--olive) 85%, white) !default;
$olive-6:    var(--olive) !default;  
$olive-7:    color-mix(in srgb, var(--olive) 85%, black) !default;
$olive-8:    color-mix(in srgb, var(--olive) 72%, black) !default;
$olive-9:    color-mix(in srgb, var(--olive) 62%, black) !default;
$olive-10:   color-mix(in srgb, var(--olive) 52%, black) !default;
$olive-11:   color-mix(in srgb, var(--olive) 42%, black) !default;

// Tokens style
$olive-tokens:       ':where(html)' !default;

// Variables tokens map
$olive-token-values: (
  "olive": $olive,
  "olive-1": $olive-1,
  "olive-2": $olive-2,
  "olive-3": $olive-3,
  "olive-4": $olive-4,
  "olive-5": $olive-5,
  "olive-6": $olive-6,
  "olive-7": $olive-7,
  "olive-8": $olive-8,
  "olive-9": $olive-9,
  "olive-10": $olive-10,
  "olive-11": $olive-11,
) !default;

// Variables mixins
@mixin olive-variables {
  @each $name, $value in $olive-token-values {
    --#{$name}: #{$value};
  }
}

@mixin olive-variables-css {
  #{$olive-tokens} {
    @include olive-variables;
  }
}
