// ---------------------------------------------------------- 
// Orange
// ----------------------------------------------------------
// Variable colors
$orange:      #ff981a !default;
$orange-1:    color-mix(in srgb, var(--orange) 45%, white) !default;
$orange-2:    color-mix(in srgb, var(--orange) 55%, white) !default;
$orange-3:    color-mix(in srgb, var(--orange) 65%, white) !default;
$orange-4:    color-mix(in srgb, var(--orange) 75%, white) !default;
$orange-5:    color-mix(in srgb, var(--orange) 85%, white) !default;
$orange-6:    var(--orange) !default;  
$orange-7:    color-mix(in srgb, var(--orange) 92%, black) !default;
$orange-8:    color-mix(in srgb, var(--orange) 82%, black) !default;
$orange-9:    color-mix(in srgb, var(--orange) 72%, black) !default;
$orange-10:   color-mix(in srgb, var(--orange) 62%, black) !default;
$orange-11:   color-mix(in srgb, var(--orange) 52%, black) !default;

// Tokens style
$orange-tokens:       ':where(html)' !default;

// Variables tokens map
$orange-token-values: (
  "orange": $orange,
  "orange-1": $orange-1,
  "orange-2": $orange-2,
  "orange-3": $orange-3,
  "orange-4": $orange-4,
  "orange-5": $orange-5,
  "orange-6": $orange-6,
  "orange-7": $orange-7,
  "orange-8": $orange-8,
  "orange-9": $orange-9,
  "orange-10": $orange-10,
  "orange-11": $orange-11,
) !default;

// Variables mixins
@mixin orange-variables {
  @each $name, $value in $orange-token-values {
    --#{$name}: #{$value};
  }
}

@mixin orange-variables-css {
  #{$orange-tokens} {
    @include orange-variables;
  }
}
