// ---------------------------------------------------------- 
// Pink
// ----------------------------------------------------------
$pink:              #ff33a0 !default;
$pink-1:            color-mix(in srgb, var(--pink) 50%, #fff) !default;
$pink-2:            color-mix(in srgb, var(--pink) 60%, #fff) !default;
$pink-3:            color-mix(in srgb, var(--pink) 70%, #fff) !default;
$pink-4:            color-mix(in srgb, var(--pink) 80%, #fff) !default;
$pink-5:            color-mix(in srgb, var(--pink) 90%, #fff) !default;
$pink-6:            var(--pink) !default;  
$pink-7:            color-mix(in srgb, var(--pink) 90%, #000) !default;
$pink-8:            color-mix(in srgb, var(--pink) 80%, #000) !default;
$pink-9:            color-mix(in srgb, var(--pink) 70%, #000) !default;
$pink-10:           color-mix(in srgb, var(--pink) 60%, #000) !default;
$pink-11:           color-mix(in srgb, var(--pink) 50%, #000) !default;

$pink-tokens:       ':where(html)' !default;

$pink-bg-text:      #000 !default;
$pink-bg:           var(--pink-6) !default;
$pink-bg-dark:      var(--pink-7) !default;
$pink-bg-light:     var(--pink-5) !default;

$pink-gradient:     linear-gradient(180deg, $pink-bg-light, $pink-bg, $pink-bg-dark) !default;

$pink-color-values:
  "pink"    $pink #000,
  "pink-1"  $pink-1 #000,
  "pink-2"  $pink-2 #000,
  "pink-3"  $pink-3 #000,
  "pink-4"  $pink-4 #000,
  "pink-5"  $pink-5 #000,
  "pink-6"  $pink-6 #000,
  "pink-7"  $pink-7 #000,
  "pink-8"  $pink-8 #fff,
  "pink-9"  $pink-9 #fff,
  "pink-10" $pink-10 #fff,
  "pink-11" $pink-11 #fff,
!default;
