// ---------------------------------------------------------- 
// Purple
// ----------------------------------------------------------
// Variable colors
$purple:      #6f42c1 !default;
$purple-1:    color-mix(in srgb, var(--purple) 40%, white) !default;
$purple-2:    color-mix(in srgb, var(--purple) 50%, white) !default;
$purple-3:    color-mix(in srgb, var(--purple) 60%, white) !default;
$purple-4:    color-mix(in srgb, var(--purple) 70%, white) !default;
$purple-5:    color-mix(in srgb, var(--purple) 85%, white) !default;
$purple-6:    var(--purple) !default;  
$purple-7:    color-mix(in srgb, var(--purple) 73%, black) !default;
$purple-8:    color-mix(in srgb, var(--purple) 64%, black) !default;
$purple-9:    color-mix(in srgb, var(--purple) 56%, black) !default;
$purple-10:   color-mix(in srgb, var(--purple) 46%, black) !default;
$purple-11:   color-mix(in srgb, var(--purple) 40%, black) !default;

// Tokens style
$purple-tokens:       ':where(html)' !default;

// Utility colors
$purple-bg-text:      #fff !default;
$purple-bg:           var(--purple-6) !default;
$purple-bg-dark:      var(--purple-7) !default;
$purple-bg-light:     var(--purple-5) !default;

// Background text colors
$purple-1-bg-text:      #000 !default;
$purple-2-bg-text:      #000 !default;
$purple-3-bg-text:      #000 !default;
$purple-4-bg-text:      #000 !default;
$purple-5-bg-text:      #fff !default;
$purple-6-bg-text:      #fff !default;
$purple-7-bg-text:      #fff !default;
$purple-8-bg-text:      #fff !default;
$purple-9-bg-text:      #fff !default;
$purple-10-bg-text:     #fff !default;
$purple-11-bg-text:     #fff !default;

// Background color values
$purple-backgrounds:
  "purple"    $purple-bg-text var(--purple),
  "purple-1"  $purple-1-bg-text var(--purple-1),
  "purple-2"  $purple-2-bg-text var(--purple-2),
  "purple-3"  $purple-3-bg-text var(--purple-3),
  "purple-4"  $purple-4-bg-text var(--purple-4),
  "purple-5"  $purple-5-bg-text var(--purple-5),
  "purple-6"  $purple-6-bg-text var(--purple-6),
  "purple-7"  $purple-7-bg-text var(--purple-7),
  "purple-8"  $purple-8-bg-text var(--purple-8),
  "purple-9"  $purple-9-bg-text var(--purple-9),
  "purple-10" $purple-10-bg-text var(--purple-10),
  "purple-11" $purple-11-bg-text var(--purple-11)
; //

// Variables tokens map
$purple-token-values: (
  "purple": $purple,
  "purple-1": $purple-1,
  "purple-2": $purple-2,
  "purple-3": $purple-3,
  "purple-4": $purple-4,
  "purple-5": $purple-5,
  "purple-6": $purple-6,
  "purple-7": $purple-7,
  "purple-8": $purple-8,
  "purple-9": $purple-9,
  "purple-10": $purple-10,
  "purple-11": $purple-11,
) !default;

// Variables mixins
@mixin purple-variables {
  @each $name, $value in $purple-token-values {
    --#{$name}: #{$value};
  }
}

@mixin purple-variables-css {
  #{$purple-tokens} {
    @include purple-variables;
  }
}
