// ---------------------------------------------------------- 
// Purple
// ----------------------------------------------------------
$purple:              #6f42c1 !default;
$purple-1:            color-mix(in srgb, var(--purple) 26%, #fff) !default;
$purple-2:            color-mix(in srgb, var(--purple) 37%, #fff) !default;
$purple-3:            color-mix(in srgb, var(--purple) 55%, #fff) !default;
$purple-4:            color-mix(in srgb, var(--purple) 72%, #fff) !default;
$purple-5:            color-mix(in srgb, var(--purple) 89%, #fff) !default;
$purple-6:            var(--purple) !default;
$purple-7:            color-mix(in srgb, var(--purple) 85%, #000) !default;
$purple-8:            color-mix(in srgb, var(--purple) 76%, #000) !default;
$purple-9:            color-mix(in srgb, var(--purple) 68%, #000) !default;
$purple-10:           color-mix(in srgb, var(--purple) 58%, #000) !default;
$purple-11:           color-mix(in srgb, var(--purple) 48%, #000) !default;

$purple-tokens:       ':where(html)' !default;

$purple-bg-text:      #fff !default;
$purple-bg:           var(--purple-6) !default;
$purple-bg-dark:      var(--purple-7) !default;
$purple-bg-light:     var(--purple-5) !default;

$purple-gradient:     linear-gradient(180deg, $purple-bg-light, $purple-bg, $purple-bg-dark) !default;

$purple-color-values:
  "purple"    $purple #fff,
  "purple-1"  $purple-1 #000,
  "purple-2"  $purple-2 #000,
  "purple-3"  $purple-3 #000,
  "purple-4"  $purple-4 #000,
  "purple-5"  $purple-5 #fff,
  "purple-6"  $purple-6 #fff,
  "purple-7"  $purple-7 #fff,
  "purple-8"  $purple-8 #fff,
  "purple-9"  $purple-9 #fff,
  "purple-10" $purple-10 #fff,
  "purple-11" $purple-11 #fff,
!default;
