// ---------------------------------------------------------- 
// Red
// ----------------------------------------------------------
// Variable colors
$red:      #ff0000 !default;
$red-1:    color-mix(in srgb, var(--red) 40%, white) !default;
$red-2:    color-mix(in srgb, var(--red) 50%, white) !default;
$red-3:    color-mix(in srgb, var(--red) 60%, white) !default;
$red-4:    color-mix(in srgb, var(--red) 70%, white) !default;
$red-5:    color-mix(in srgb, var(--red) 80%, white) !default;
$red-6:    var(--red) !default;  
$red-7:    color-mix(in srgb, var(--red) 80%, black) !default;
$red-8:    color-mix(in srgb, var(--red) 70%, black) !default;
$red-9:    color-mix(in srgb, var(--red) 60%, black) !default;
$red-10:   color-mix(in srgb, var(--red) 50%, black) !default;
$red-11:   color-mix(in srgb, var(--red) 44%, black) !default;

// Tokens style
$red-tokens:       ':where(html)' !default;

// Variables tokens map
$red-token-values: (
  "red": $red,
  "red-1": $red-1,
  "red-2": $red-2,
  "red-3": $red-3,
  "red-4": $red-4,
  "red-5": $red-5,
  "red-6": $red-6,
  "red-7": $red-7,
  "red-8": $red-8,
  "red-9": $red-9,
  "red-10": $red-10,
  "red-11": $red-11,
) !default;

// Variables mixins
@mixin red-variables {
  @each $name, $value in $red-token-values {
    --#{$name}: #{$value};
  }
}

@mixin red-variables-css {
  #{$red-tokens} {
    @include red-variables;
  }
}
