// ---------------------------------------------------------- 
// Red
// ----------------------------------------------------------
$red:             #e60000 !default;
$red-1:           color-mix(in srgb, var(--red) 26%, #fff) !default;
$red-2:           color-mix(in srgb, var(--red) 42%, #fff) !default;
$red-3:           color-mix(in srgb, var(--red) 60%, #fff) !default;
$red-4:           color-mix(in srgb, var(--red) 74%, #fff) !default;
$red-5:           color-mix(in srgb, var(--red) 89%, #fff) !default;
$red-6:           var(--red) !default;  
$red-7:           color-mix(in srgb, var(--red) 88%, #000) !default;
$red-8:           color-mix(in srgb, var(--red) 78%, #000) !default;
$red-9:           color-mix(in srgb, var(--red) 68%, #000) !default;
$red-10:          color-mix(in srgb, var(--red) 58%, #000) !default;
$red-11:          color-mix(in srgb, var(--red) 48%, #000) !default;

$red-tokens:      ':where(html)' !default;

$red-bg-text:     #fff !default;
$red-bg:          var(--red-6) !default;
$red-bg-dark:     var(--red-7) !default;
$red-bg-light:    var(--red-5) !default;

$red-gradient:    linear-gradient(180deg, $red-bg-light, $red-bg, $red-bg-dark) !default;

$red-color-values:
  "red"    $red #fff,
  "red-1"  $red-1 #000,
  "red-2"  $red-2 #000,
  "red-3"  $red-3 #000,
  "red-4"  $red-4 #000,
  "red-5"  $red-5 #fff,
  "red-6"  $red-6 #fff,
  "red-7"  $red-7 #fff,
  "red-8"  $red-8 #fff,
  "red-9"  $red-9 #fff,
  "red-10" $red-10 #fff,
  "red-11" $red-11 #fff,
!default;
