// ---------------------------------------------------------- 
// Semantic variables
// ----------------------------------------------------------
@use "blue" as *;
@use "green" as *;
@use "red" as *;
@use "orange" as *;
@use "cyan" as *;

// Base values
$primary:               $blue !default;
$info:                  $cyan !default;
$success:               $green !default;
$warning:               $orange !default;
$danger:                $red !default;
$secondary:             #d3d3d3 !default; // HEX equivalent of $gray-2

// Light accents
$primary-light:         color-mix(in srgb, var(--primary) 80%, white) !default;
$info-light:            color-mix(in srgb, var(--info) 60%, white) !default; 
$success-light:         color-mix(in srgb, var(--success) 80%, white) !default;
$warning-light:         color-mix(in srgb, var(--warning) 85%, white) !default;
$danger-light:          color-mix(in srgb, var(--danger) 80%, white) !default;  
$secondary-light:       color-mix(in srgb, var(--secondary) 80%, white) !default;

// Dark accents
$primary-dark:          color-mix(in srgb, var(--primary) 80%, black) !default;
$info-dark:             color-mix(in srgb, var(--info) 82%, black) !default;
$success-dark:          color-mix(in srgb, var(--success) 80%, black) !default;
$warning-dark:          color-mix(in srgb, var(--warning) 82%, black) !default;
$danger-dark:           color-mix(in srgb, var(--danger) 70%, black) !default;
$secondary-dark:        color-mix(in srgb, var(--secondary) 80%, black) !default;

// Tokens style
$semantic-tokens:       ':where(html)' !default;

// ----------------------------------------------------------
// Token names and values
// ----------------------------------------------------------
$base-semantic-token-values: (
  "primary": $primary,
  "info": $info,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
  "secondary": $secondary,
  "primary-light": $primary-light,
  "info-light": $info-light,
  "success-light": $success-light,
  "warning-light": $warning-light,
  "danger-light": $danger-light,
  "secondary-light": $secondary-light,
  "primary-dark": $primary-dark,
  "info-dark": $info-dark,
  "success-dark": $success-dark,
  "warning-dark": $warning-dark,
  "danger-dark": $danger-dark,
  "secondary-dark": $secondary-dark,
) !default;

// ----------------------------------------------------------
// Variable mixins
// ----------------------------------------------------------
@mixin semantic-variables {
  @each $name, $value in $base-semantic-token-values {
    --#{$name}: #{$value};
  }
}

@mixin semantic-variables-css {
  #{$semantic-tokens} {
    @include semantic-variables;
  }
}
