// ---------------------------------------------------------- 
// Steelblue
// ----------------------------------------------------------
$steelblue:              #336699 !default;
$steelblue-1:            color-mix(in srgb, var(--steelblue) 50%, #fff) !default;
$steelblue-2:            color-mix(in srgb, var(--steelblue) 60%, #fff) !default;
$steelblue-3:            color-mix(in srgb, var(--steelblue) 70%, #fff) !default;
$steelblue-4:            color-mix(in srgb, var(--steelblue) 80%, #fff) !default;
$steelblue-5:            color-mix(in srgb, var(--steelblue) 90%, #fff) !default;
$steelblue-6:            var(--steelblue) !default;  
$steelblue-7:            color-mix(in srgb, var(--steelblue) 90%, #000) !default;
$steelblue-8:            color-mix(in srgb, var(--steelblue) 80%, #000) !default;
$steelblue-9:            color-mix(in srgb, var(--steelblue) 70%, #000) !default;
$steelblue-10:           color-mix(in srgb, var(--steelblue) 60%, #000) !default;
$steelblue-11:           color-mix(in srgb, var(--steelblue) 52%, #000) !default;

$steelblue-tokens:       ':where(html)' !default;

$steelblue-bg-text:      #000 !default;
$steelblue-bg:           var(--steelblue-6) !default;
$steelblue-bg-dark:      var(--steelblue-7) !default;
$steelblue-bg-light:     var(--steelblue-5) !default;

$steelblue-gradient:     linear-gradient(180deg, $steelblue-bg-light, $steelblue-bg, $steelblue-bg-dark) !default;

$steelblue-color-values:
  "steelblue"    $steelblue #fff,
  "steelblue-1"  $steelblue-1 #000,
  "steelblue-2"  $steelblue-2 #000,
  "steelblue-3"  $steelblue-3 #000,
  "steelblue-4"  $steelblue-4 #000,
  "steelblue-5"  $steelblue-5 #fff,
  "steelblue-6"  $steelblue-6 #fff,
  "steelblue-7"  $steelblue-7 #fff,
  "steelblue-8"  $steelblue-8 #fff,
  "steelblue-9"  $steelblue-9 #fff,
  "steelblue-10" $steelblue-10 #fff,
  "steelblue-11" $steelblue-11 #fff,
!default;
