// ---------------------------------------------------------- 
// Steelblue
// ----------------------------------------------------------
// Variable colors
$steelblue:      #4682b4 !default;
$steelblue-1:    color-mix(in srgb, var(--steelblue) 45%, white) !default;
$steelblue-2:    color-mix(in srgb, var(--steelblue) 55%, white) !default;
$steelblue-3:    color-mix(in srgb, var(--steelblue) 65%, white) !default;
$steelblue-4:    color-mix(in srgb, var(--steelblue) 75%, white) !default;
$steelblue-5:    color-mix(in srgb, var(--steelblue) 85%, white) !default;
$steelblue-6:    var(--steelblue) !default;  
$steelblue-7:    color-mix(in srgb, var(--steelblue) 92%, black) !default;
$steelblue-8:    color-mix(in srgb, var(--steelblue) 82%, black) !default;
$steelblue-9:    color-mix(in srgb, var(--steelblue) 72%, black) !default;
$steelblue-10:   color-mix(in srgb, var(--steelblue) 62%, black) !default;
$steelblue-11:   color-mix(in srgb, var(--steelblue) 52%, black) !default;

// Tokens style
$steelblue-tokens:       ':where(html)' !default;

// Variables tokens map
$steelblue-token-values: (
  "steelblue": $steelblue,
  "steelblue-1": $steelblue-1,
  "steelblue-2": $steelblue-2,
  "steelblue-3": $steelblue-3,
  "steelblue-4": $steelblue-4,
  "steelblue-5": $steelblue-5,
  "steelblue-6": $steelblue-6,
  "steelblue-7": $steelblue-7,
  "steelblue-8": $steelblue-8,
  "steelblue-9": $steelblue-9,
  "steelblue-10": $steelblue-10,
  "steelblue-11": $steelblue-11,
) !default;

// Variables mixins
@mixin steelblue-variables {
  @each $name, $value in $steelblue-token-values {
    --#{$name}: #{$value};
  }
}

@mixin steelblue-variables-css {
  #{$steelblue-tokens} {
    @include steelblue-variables;
  }
}
