// ---------------------------------------------------------- 
// Tan
// ----------------------------------------------------------
$tan:              #b88747 !default;
$tan-1:            color-mix(in srgb, var(--tan) 46%, #fff) !default;
$tan-2:            color-mix(in srgb, var(--tan) 56%, #fff) !default;
$tan-3:            color-mix(in srgb, var(--tan) 67%, #fff) !default;
$tan-4:            color-mix(in srgb, var(--tan) 80%, #fff) !default;
$tan-5:            color-mix(in srgb, var(--tan) 90%, #fff) !default;
$tan-6:            var(--tan) !default;  
$tan-7:            color-mix(in srgb, var(--tan) 92%, #000) !default;
$tan-8:            color-mix(in srgb, var(--tan) 82%, #000) !default;
$tan-9:            color-mix(in srgb, var(--tan) 72%, #000) !default;
$tan-10:           color-mix(in srgb, var(--tan) 62%, #000) !default;
$tan-11:           color-mix(in srgb, var(--tan) 55%, #000) !default;

$tan-tokens:       ':where(html)' !default;

$tan-bg-text:      #000 !default;
$tan-bg:           var(--tan-6) !default;
$tan-bg-dark:      var(--tan-7) !default;
$tan-bg-light:     var(--tan-5) !default;

$tan-gradient:     linear-gradient(180deg, $tan-bg-light, $tan-bg, $tan-bg-dark) !default;

$tan-color-values:
  "tan"    $tan #000,
  "tan-1"  $tan-1 #000,
  "tan-2"  $tan-2 #000,
  "tan-3"  $tan-3 #000,
  "tan-4"  $tan-4 #000,
  "tan-5"  $tan-5 #000,
  "tan-6"  $tan-6 #000,
  "tan-7"  $tan-7 #000,
  "tan-8"  $tan-8 #000,
  "tan-9"  $tan-9 #fff,
  "tan-10" $tan-10 #fff,
  "tan-11" $tan-11 #fff,
!default;
