// ---------------------------------------------------------- 
// Theme colors
// ----------------------------------------------------------
@use "surface" as *;

// Tokens style
$theme-tokens:                ':where(html)' !default;

// Colors
$theme-text:                  light-dark(#000, #fff) !default;
$theme-link:                  light-dark(#1c3db5, #9fbfdf) !default;
$theme-link-visited:          light-dark(#4f6fe3, #b3cce6) !default;
$theme-link-hover:            light-dark(#385de0, #c6d8ec) !default;
$theme-background:            light-dark(#eaecee, #1f2428) !default;

$theme-surface:               var(--surface) !default;
$theme-surface-1:             var(--surf-1) !default;
$theme-surface-2:             var(--surf-2) !default;
$theme-surface-3:             var(--surf-3) !default;
$theme-surface-4:             var(--surf-4) !default;
$theme-table-stripes:         color-mix(in srgb, CanvasText 1%, var(--surface)) !default;
$theme-table-hover:           color-mix(in srgb, CanvasText 2%, var(--surface)) !default;

// Variables
$theme-surfaces: (
  "surface": $theme-background,
  "surf-1": $surface-1,
  "surf-2": $surface-2,
  "surf-3": $surface-3,
  "surf-4": $surface-4,
) !default;

$theme-surfaces-palette: (
  "surface": $theme-background,
  "surf-1": $surface-1,
  "surf-2": $surface-2,
  "surf-3": $surface-3,
  "surf-4": $surface-4,
  "surf-5": $surface-5,
  "surf-6": $surface-6,
  "surf-7": $surface-7,
  "surf-8": $surface-8,
  "surf-9": $surface-9,
  "surf-10": $surface-10,
  "surf-11": $surface-11,
) !default;

$theme-typography: (
  "text": $theme-text,
  "background": $theme-background,
  "link": $theme-link,
  "visited": $theme-link-visited,
  "hover": $theme-link-hover,
  "kbd-bg": $theme-surface-2,
  "pre-bd-color": $theme-surface-3,
  "pre-bg": $theme-surface-1,
  "blockquote-bd-color": $theme-surface-3,
) !default;

$theme-forms-buttons: (
  "btn-bd-color": $theme-surface-4,
  "btn-bg": $theme-surface-1,
  "btn-hover": $theme-surface-2,
  "form-bd-color": $theme-surface-4,
  "form-bg": $theme-surface,
  "form-accent": $theme-link,
  "focus-color": $theme-surface-4,
) !default;

$theme-tables: (
  "table-bg": $theme-surface,
  "thead-bg": $theme-surface-1,
  "table-bd-color": $theme-surface-3,
  "table-stripes": $theme-table-stripes,
  "table-hover": $theme-table-hover,
) !default;

$theme-accordion: (
  "summary-bg": $theme-surface-1,
  "summary-focus": $theme-surface-2,
  "accordion-bd-color": $theme-surface-3,
) !default;

$theme-alert: (
  "alert-bg": $theme-surface-1,
  "alert-bd-color": $theme-surface-3,
) !default;

$theme-badge: (
  "badge-bg": $theme-surface-1,
  "badge-bd-color": $theme-surface-3,
) !default;

$theme-border: (
  "bd-color": $theme-surface-3,
) !default;

$theme-button: (
  "btn-bd-color": $theme-surface-4,
  "btn-bg": $theme-surface-1,
  "btn-hover": $theme-surface-2,
  "focus-color": $theme-surface-4,
) !default;

$theme-card: (
  "card-bd-color": $theme-surface-3,
  "card-bg": $theme-surface,
  "card-hover": $theme-surface-1,
  "card-focus-color": $theme-surface-4,
  "card-title-bg": $theme-surface-1,
) !default;

$theme-dialog: (
  "dialog-bg": $theme-surface-1,
  "dialog-bd-color": $theme-surface-3,
  "dialog-title-bg": $theme-surface-2,
) !default;

$theme-dropdown: (
  "dropdown-bg": $theme-surface,
  "dropdown-bd-color": $theme-surface-3,
  "dropdown-btn-bg": $theme-surface-1,
  "dropdown-btn-hover": $theme-surface-2,
  "dropdown-focus-color": $theme-surface-4,
  "dropdown-link-hover": $theme-surface-1,
) !default;

$theme-list-group: (
  "list-group-dt-bg": $theme-surface-2,
  "list-group-hover": $theme-surface-1,
  "list-group-bd-color": $theme-surface-3,
  "list-group-bg": $theme-surface,
) !default;

$theme-popover: (
  "popover-bg": $theme-surface-1,
  "popover-bd-color": $theme-surface-3,
) !default;
