// ---------------------------------------------------------- 
// Theme colors
// ----------------------------------------------------------
$theme-text:                  light-dark(#000, #fff) !default;
$theme-background:            light-dark(#eaecee, #1f2428) !default;
$theme-link:                  light-dark(#1c3db5, #9fbfdf) !default;
$theme-link-visited:          light-dark(#4f6fe3, #b3cce6) !default;
$theme-link-hover:            light-dark(#385de0, #c6d8ec) !default;

$theme-tokens:                ':where(html)' !default;

$theme-colors: (
  "text": $theme-text,
  "background": $theme-background,
  "link": $theme-link,
  "visited": $theme-link-visited,
  "hover": $theme-link-hover,
) !default;

@mixin theme-background-color {
  --background: #{$theme-background};
}

@mixin theme-reset-colors {
  @each $name, $value in $theme-colors {
    --#{$name}: #{$value};
  }
}

@mixin theme-reset-colors-css {
  #{$theme-tokens} {
    @include theme-color-variables;
  }
}

@mixin theme-color-scheme {
  color-scheme: light dark;
  color: var(--text, CanvasText);
  background-color: var(--background, Canvas);
}

@mixin theme-color-scheme-css {
  :where(html) {
    @include theme-color-scheme;
  }
}
