// ---------------------------------------------------------- 
// Yellow
// ----------------------------------------------------------
// Variable colors
$yellow:      #ffff00 !default;
$yellow-1:    color-mix(in srgb, var(--yellow) 30%, white) !default;
$yellow-2:    color-mix(in srgb, var(--yellow) 40%, white) !default;
$yellow-3:    color-mix(in srgb, var(--yellow) 50%, white) !default;
$yellow-4:    color-mix(in srgb, var(--yellow) 60%, white) !default;
$yellow-5:    color-mix(in srgb, var(--yellow) 70%, white) !default;
$yellow-6:    var(--yellow) !default;  
$yellow-7:    color-mix(in srgb, var(--yellow) 88%, black) !default;
$yellow-8:    color-mix(in srgb, var(--yellow) 78%, black) !default;
$yellow-9:    color-mix(in srgb, var(--yellow) 68%, black) !default;
$yellow-10:   color-mix(in srgb, var(--yellow) 58%, black) !default;
$yellow-11:   color-mix(in srgb, var(--yellow) 50%, black) !default;

// Utility colors
$yellow-bg-text:      #000 !default;
$yellow-bg:           var(--yellow-6) !default;
$yellow-bg-dark:      var(--yellow-7) !default;
$yellow-bg-light:     var(--yellow-5) !default;

// Variables map
$yellow-variables: (
  "yellow": $yellow,
  "yellow-1": $yellow-1,
  "yellow-2": $yellow-2,
  "yellow-3": $yellow-3,
  "yellow-4": $yellow-4,
  "yellow-5": $yellow-5,
  "yellow-6": $yellow-6,
  "yellow-7": $yellow-7,
  "yellow-8": $yellow-8,
  "yellow-9": $yellow-9,
  "yellow-10": $yellow-10,
  "yellow-11": $yellow-11,
) !default;

// Utility maps
$accordion-yellow: (
  "summary-text": $yellow-bg-text,
  "ico": $yellow-bg-text,
  "summary-bg": $yellow-bg,
  "summary-focus": $yellow-bg-dark,
  "accordion-bd-color": $yellow-bg-light,
) !default;

$alert-yellow: (
  "alert-text": $yellow-bg-text,
  "ico": $yellow-bg-text,
  "link": $yellow-bg-text,
  "visited": $yellow-bg-text,
  "hover": $yellow-bg-text,
  "alert-bg": $yellow-bg,
  "alert-bd-color": $yellow-bg-light,
) !default;

$background-yellow: (
  "bg-text": $yellow-bg-text,
  "ico": $yellow-bg-text,
  "link": $yellow-bg-text,
  "visited": $yellow-bg-text,
  "hover": $yellow-bg-text,
  "bg-col": $yellow-bg,
) !default;

$badge-yellow: (
  "badge-text": $yellow-bg-text,
  "ico": $yellow-bg-text,
  "badge-bg": $yellow-bg,
  "badge-bd-color": $yellow-bg-light,
) !default;

$button-yellow: (
  "btn-text": $yellow-bg-text,
  "ico": $yellow-bg-text,
  "btn-bg": $yellow-bg,
  "btn-bd-color": $yellow-bg-light,
  "btn-hover": $yellow-bg-dark,
  "focus-color": $yellow-bg-light,
) !default;

$card-yellow: (
  "card-text": $yellow-bg-text,
  "ico": $yellow-bg-text,
  "link": $yellow-bg-text,
  "visited": $yellow-bg-text,
  "hover": $yellow-bg-text,
  "card-bg": $yellow-bg,
  "card-text-hover": $yellow-bg-text,
  "card-hover": $yellow-bg-dark,
  "card-bd-color": $yellow-bg-light,
  "card-focus-color": $yellow-bg-light,
) !default;

$dialog-yellow: (
  "dialog-text": $yellow-bg-text,
  "ico": $yellow-bg-text,
  "link": $yellow-bg-text,
  "visited": $yellow-bg-text,
  "hover": $yellow-bg-text,
  "dialog-bg": $yellow-bg,
  "dialog-bd-color": $yellow-bg-light,
) !default;

$list-group-yellow: (
  "list-group-text": $yellow-bg-text,
  "ico": $yellow-bg-text,
  "link": $yellow-bg-text,
  "visited": $yellow-bg-text,
  "hover": $yellow-bg-text,
  "list-group-bg": $yellow-bg,
  "list-group-dt-bg": $yellow-bg,
  "list-group-hover": $yellow-bg-dark,
  "list-group-bd-color": $yellow-bg-light,
) !default;

$popover-yellow: (
  "popover-text": $yellow-bg-text,
  "ico": $yellow-bg-text,
  "link": $yellow-bg-text,
  "visited": $yellow-bg-text,
  "hover": $yellow-bg-text,
  "popover-bg": $yellow-bg,
  "popover-bd-color": $yellow-bg-light,
) !default;

// Variables mixins
@mixin yellow-variables {
  @each $name, $value in $yellow-variables {
    --#{$name}: #{$value};
  }
}

@mixin yellow-variables-css {
  :where(html) {
    @include yellow-variables;
  }
}

// Utility mixins
@mixin accordion-yellow-css {
  .accordion-yellow {
    @each $name, $value in $accordion-yellow {
      --#{$name}: #{$value};
    }  
  }
}

@mixin alert-yellow-css {
  .alert-yellow {
    @each $name, $value in $alert-yellow {
      --#{$name}: #{$value};
    }
  }
}

@mixin background-yellow-css {
  .bg-yellow {
    @each $name, $value in $background-yellow {
      --#{$name}: #{$value};
    }
  }
}

@mixin badge-yellow-css {
  .badge-yellow {
    @each $name, $value in $badge-yellow {
      --#{$name}: #{$value};
    }
  }
}

@mixin button-yellow-css {
  .btn-yellow {
    @each $name, $value in $button-yellow {
      --#{$name}: #{$value};
    }
  }
}

@mixin card-yellow-css {
  .card-yellow {
    @each $name, $value in $card-yellow {
      --#{$name}: #{$value};
    }
  }
}

@mixin dialog-yellow-css {
  .dialog-yellow {
    @each $name, $value in $dialog-yellow {
      --#{$name}: #{$value};
    }
  } 
}

@mixin list-group-yellow-css {
  .list-group-yellow {
    @each $name, $value in $list-group-yellow {
      --#{$name}: #{$value};
    }
  }
}

@mixin popover-yellow-css {
  .popover-yellow {
    @each $name, $value in $popover-yellow {
      --#{$name}: #{$value};
    }
  }
}

// Combined mixins
@mixin yellow-module-css {
  @include yellow-variables-css;
  @include accordion-yellow-css;
  @include alert-yellow-css;
  @include background-yellow-css;
  @include badge-yellow-css;
  @include button-yellow-css;
  @include card-yellow-css;
  @include dialog-yellow-css;
  @include list-group-yellow-css;
  @include popover-yellow-css;
}

@mixin yellow-utilities-css {
  @include accordion-yellow-css;
  @include alert-yellow-css;
  @include background-yellow-css;
  @include badge-yellow-css;
  @include button-yellow-css;
  @include card-yellow-css;
  @include dialog-yellow-css;
  @include list-group-yellow-css;
  @include popover-yellow-css;
}
