// ---------------------------------------------------------- 
// Cyan utilities
// ----------------------------------------------------------
@use "color-mixins" as *;
@use "../cyan" as *;

// Background color utilities
@mixin backgrounds-cyan-css {
  @each $name, $color, $background in $cyan-backgrounds {
    .bg-#{$name} {
      color: $color;
      background-color: $background;
    }
  }
}

// Border color modifiers
@mixin borders-cyan-css {
  @each $name, $color in $cyan-token-values {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
  }
}

// Module modifers
@mixin accordion-cyan-css {
  .accordion-cyan {
    @include accordion-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-dark, $cyan-bg-light);
  }
}

@mixin alert-cyan-css {
  .alert-cyan {
    @include alert-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-light);
  }
}

@mixin background-cyan-css {
  .bg-cyan {
    @include background-color-values($cyan-bg-text, $cyan-bg);
  }
}

@mixin badge-cyan-css {
  .badge-cyan {
    @include badge-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-light);
  }
}

@mixin button-cyan-css {
  .btn-cyan {
    @include button-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-dark, $cyan-bg-light, $cyan-bg-light);
  }
}

@mixin card-cyan-css {
  .card-cyan {
    @include card-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-dark, $cyan-bg-light, $cyan-bg-light);
  }
}

@mixin dialog-cyan-css {
  .dialog-cyan {
    @include dialog-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-light);
  } 
}

@mixin dropdown-cyan-css {
  .dropdown-cyan {
    @include dropdown-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-dark, $cyan-bg-light, $cyan-bg-light);
  } 
}

@mixin list-group-cyan-css {
  .list-group-cyan {
    @include list-group-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-dark, $cyan-bg-light);
  }
}

@mixin popover-cyan-css {
  .popover-cyan {
    @include popover-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-light);
  }
}

@mixin cyan-utilities-css {
  @include accordion-cyan-css;
  @include alert-cyan-css;
  @include background-cyan-css;
  @include backgrounds-cyan-css;
  @include badge-cyan-css;
  @include borders-cyan-css;
  @include button-cyan-css;
  @include card-cyan-css;
  @include dialog-cyan-css;
  @include list-group-cyan-css;
  @include popover-cyan-css;
}
