// ---------------------------------------------------------- 
// Rosewood utilities
// ----------------------------------------------------------
@use "color-mixins" as *;
@use "../rosewood" as *;

// Background color utilities
@mixin backgrounds-rosewood-css {
  @each $name, $color, $background in $rosewood-backgrounds {
    .bg-#{$name} {
      color: $color;
      background-color: $background;
    }
  }
}

// Border color modifiers
@mixin borders-rosewood-css {
  @each $name, $color in $rosewood-token-values {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
  }
}

// Module modifers
@mixin accordion-rosewood-css {
  .accordion-rosewood {
    @include accordion-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-dark, $rosewood-bg-light);
  }
}

@mixin alert-rosewood-css {
  .alert-rosewood {
    @include alert-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-light);
  }
}

@mixin background-rosewood-css {
  .bg-rosewood {
    @include background-color-values($rosewood-bg-text, $rosewood-bg);
  }
}

@mixin badge-rosewood-css {
  .badge-rosewood {
    @include badge-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-light);
  }
}

@mixin button-rosewood-css {
  .btn-rosewood {
    @include button-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-dark, $rosewood-bg-light, $rosewood-bg-light);
  }
}

@mixin card-rosewood-css {
  .card-rosewood {
    @include card-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-dark, $rosewood-bg-light, $rosewood-bg-light);
  }
}

@mixin dialog-rosewood-css {
  .dialog-rosewood {
    @include dialog-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-light);
  } 
}

@mixin dropdown-rosewood-css {
  .dropdown-rosewood {
    @include dropdown-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-dark, $rosewood-bg-light, $rosewood-bg-light);
  } 
}

@mixin list-group-rosewood-css {
  .list-group-rosewood {
    @include list-group-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-dark, $rosewood-bg-light);
  }
}

@mixin popover-rosewood-css {
  .popover-rosewood {
    @include popover-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-light);
  }
}

@mixin rosewood-utilities-css {
  @include accordion-rosewood-css;
  @include alert-rosewood-css;
  @include background-rosewood-css;
  @include backgrounds-rosewood-css;
  @include badge-rosewood-css;
  @include borders-rosewood-css;
  @include button-rosewood-css;
  @include card-rosewood-css;
  @include dialog-rosewood-css;
  @include dropdown-rosewood-css;
  @include list-group-rosewood-css;
  @include popover-rosewood-css;
}
