// ---------------------------------------------------------- 
// Semantic utilities
// ----------------------------------------------------------
@use "color-mixins" as *;

// Background colors
$primary-bg:            var(--primary) !default;
$info-bg:               var(--info) !default;
$success-bg:            var(--success) !default;
$warning-bg:            var(--warning) !default;
$danger-bg:             var(--danger) !default;
$secondary-bg:          var(--secondary) !default;

// Text colors
$primary-bg-text:       #fff !default;
$info-bg-text:          #000 !default;
$success-bg-text:       #fff !default;
$warning-bg-text:       #000 !default;
$danger-bg-text:        #fff !default;
$secondary-bg-text:     #000 !default;

// Light accents
$primary-bg-light:      var(--primary-light) !default;
$info-bg-light:         var(--info-light) !default;
$success-bg-light:      var(--success-light) !default;
$warning-bg-light:      var(--warning-light) !default;
$danger-bg-light:       var(--danger-light) !default;
$secondary-bg-light:    var(--secondary-light) !default;

// Dark accents
$primary-bg-dark:       var(--primary-dark) !default;
$info-bg-dark:          var(--info-dark) !default;
$success-bg-dark:       var(--success-dark) !default;
$warning-bg-dark:       var(--warning-dark) !default;
$danger-bg-dark:        var(--danger-dark) !default;
$secondary-bg-dark:     var(--secondary-dark) !default;

// ----------------------------------------------------------
// Primary mixins
// ----------------------------------------------------------
@mixin accordion-primary-css {
  .accordion-primary {
    @include accordion-color-values($primary-bg-text, $primary-bg, $primary-bg-dark, $primary-bg-light);
  }
}

@mixin alert-primary-css {
  .alert-primary {
    @include alert-color-values($primary-bg-text, $primary-bg, $primary-bg-light);
  }
}

@mixin background-primary-css {
  .bg-primary {
    @include background-color-values($primary-bg-text, $primary-bg);
  }
}

@mixin badge-primary-css {
  .badge-primary {
    @include badge-color-values($primary-bg-text, $primary-bg, $primary-bg-light);
  }
}

@mixin button-primary-css {
  .btn-primary {
    @include button-color-values($primary-bg-text, $primary-bg, $primary-bg-dark, $primary-bg-light, $primary-bg-light);
  }
}

@mixin card-primary-css {
  .card-primary {
    @include card-color-values($primary-bg-text, $primary-bg, $primary-bg-dark, $primary-bg-light, $primary-bg-light);
  }
}

@mixin dialog-primary-css {
  .dialog-primary {
    @include dialog-color-values($primary-bg-text, $primary-bg, $primary-bg-light);
  } 
}

@mixin dropdown-primary-css {
  .dropdown-primary {
    @include dropdown-color-values($primary-bg-text, $primary-bg, $primary-bg-dark, $primary-bg-light, $primary-bg-light);
  } 
}

@mixin list-group-primary-css {
  .list-group-primary {
    @include list-group-color-values($primary-bg-text, $primary-bg, $primary-bg-dark, $primary-bg-light);
  }
}

@mixin popover-primary-css {
  .popover-primary {
    @include popover-color-values($primary-bg-text, $primary-bg, $primary-bg-light);
  }
}

// ----------------------------------------------------------
// Info mixins
// ----------------------------------------------------------
@mixin accordion-info-css {
  .accordion-info {
    @include accordion-color-values($info-bg-text, $info-bg, $info-bg-dark, $info-bg-light);
  }
}

@mixin alert-info-css {
  .alert-info {
    @include alert-color-values($info-bg-text, $info-bg, $info-bg-light);
  }
}

@mixin background-info-css {
  .bg-info {
    @include background-color-values($info-bg-text, $info-bg);
  }
}

@mixin badge-info-css {
  .badge-info {
    @include badge-color-values($info-bg-text, $info-bg, $info-bg-light);
  }
}

@mixin button-info-css {
  .btn-info {
    @include button-color-values($info-bg-text, $info-bg, $info-bg-dark, $info-bg-light, $info-bg-dark);
  }
}

@mixin card-info-css {
  .card-info {
    @include card-color-values($info-bg-text, $info-bg, $info-bg-dark, $info-bg-light, $info-bg-light);
  }
}

@mixin dialog-info-css {
  .dialog-info {
    @include dialog-color-values($info-bg-text, $info-bg, $info-bg-light);
  } 
}

@mixin dropdown-info-css {
  .dropdown-info {
    @include dropdown-color-values($info-bg-text, $info-bg, $info-bg-dark, $info-bg-light, $info-bg-light);
  } 
}

@mixin list-group-info-css {
  .list-group-info {
    @include list-group-color-values($info-bg-text, $info-bg, $info-bg-dark, $info-bg-light);
  }
}

@mixin popover-info-css {
  .popover-info {
    @include popover-color-values($info-bg-text, $info-bg, $info-bg-light);
  }
}

// ----------------------------------------------------------
// Success mixins
// ----------------------------------------------------------
@mixin accordion-success-css {
  .accordion-success {
    @include accordion-color-values($success-bg-text, $success-bg, $success-bg-dark, $success-bg-light);
  }
}

@mixin alert-success-css {
  .alert-success {
    @include alert-color-values($success-bg-text, $success-bg, $success-bg-light);
  }
}

@mixin background-success-css {
  .bg-success {
    @include background-color-values($success-bg-text, $success-bg);
  }
}

@mixin badge-success-css {
  .badge-success {
    @include badge-color-values($success-bg-text, $success-bg, $success-bg-light);
  }
}

@mixin button-success-css {
  .btn-success {
    @include button-color-values($success-bg-text, $success-bg, $success-bg-dark, $success-bg-light, $success-bg-light);
  }
}

@mixin card-success-css {
  .card-success {
    @include card-color-values($success-bg-text, $success-bg, $success-bg-dark, $success-bg-light, $success-bg-light);
  }
}

@mixin dialog-success-css {
  .dialog-success {
    @include dialog-color-values($success-bg-text, $success-bg, $success-bg-light);
  } 
}

@mixin dropdown-success-css {
  .dropdown-success {
    @include dropdown-color-values($success-bg-text, $success-bg, $success-bg-dark, $success-bg-light, $success-bg-light);
  } 
}

@mixin list-group-success-css {
  .list-group-success {
    @include list-group-color-values($success-bg-text, $success-bg, $success-bg-dark, $success-bg-light);
  }
}

@mixin popover-success-css {
  .popover-success {
    @include popover-color-values($success-bg-text, $success-bg, $success-bg-light);
  }
}

// ----------------------------------------------------------
// Warning mixins
// ----------------------------------------------------------
@mixin accordion-warning-css {
  .accordion-warning {
    @include accordion-color-values($warning-bg-text, $warning-bg, $warning-bg-dark, $warning-bg-light);
  }
}

@mixin alert-warning-css {
  .alert-warning {
    @include alert-color-values($warning-bg-text, $warning-bg, $warning-bg-light);
  }
}

@mixin background-warning-css {
  .bg-warning {
    @include background-color-values($warning-bg-text, $warning-bg);
  }
}

@mixin badge-warning-css {
  .badge-warning {
    @include badge-color-values($warning-bg-text, $warning-bg, $warning-bg-light);
  }
}

@mixin button-warning-css {
  .btn-warning {
    @include button-color-values($warning-bg-text, $warning-bg, $warning-bg-dark, $warning-bg-light, $warning-bg-dark);
  }
}

@mixin card-warning-css {
  .card-warning {
    @include card-color-values($warning-bg-text, $warning-bg, $warning-bg-dark, $warning-bg-light, $warning-bg-light);
  }
}

@mixin dialog-warning-css {
  .dialog-warning {
    @include dialog-color-values($warning-bg-text, $warning-bg, $warning-bg-light);
  } 
}

@mixin dropdown-warning-css {
  .dropdown-warning {
    @include dropdown-color-values($warning-bg-text, $warning-bg, $warning-bg-dark, $warning-bg-light, $warning-bg-light);
  } 
}

@mixin list-group-warning-css {
  .list-group-warning {
    @include list-group-color-values($warning-bg-text, $warning-bg, $warning-bg-dark, $warning-bg-light);
  }
}

@mixin popover-warning-css {
  .popover-warning {
    @include popover-color-values($warning-bg-text, $warning-bg, $warning-bg-light);
  }
}

// ----------------------------------------------------------
// Danger mixins
// ----------------------------------------------------------
@mixin accordion-danger-css {
  .accordion-danger {
    @include accordion-color-values($danger-bg-text, $danger-bg, $danger-bg-dark, $danger-bg-light);
  }
}

@mixin alert-danger-css {
  .alert-danger {
    @include alert-color-values($danger-bg-text, $danger-bg, $danger-bg-light);
  }
}

@mixin background-danger-css {
  .bg-danger {
    @include background-color-values($danger-bg-text, $danger-bg);
  }
}

@mixin badge-danger-css {
  .badge-danger {
    @include badge-color-values($danger-bg-text, $danger-bg, $danger-bg-light);
  }
}

@mixin button-danger-css {
  .btn-danger {
    @include button-color-values($danger-bg-text, $danger-bg, $danger-bg-dark, $danger-bg-light, $danger-bg-light);
  }
}

@mixin card-danger-css {
  .card-danger {
    @include card-color-values($danger-bg-text, $danger-bg, $danger-bg-dark, $danger-bg-light, $danger-bg-light);
  }
}

@mixin dialog-danger-css {
  .dialog-danger {
    @include dialog-color-values($danger-bg-text, $danger-bg, $danger-bg-light);
  } 
}

@mixin dropdown-danger-css {
  .dropdown-danger {
    @include dropdown-color-values($danger-bg-text, $danger-bg, $danger-bg-dark, $danger-bg-light, $danger-bg-light);
  } 
}

@mixin list-group-danger-css {
  .list-group-danger {
    @include list-group-color-values($danger-bg-text, $danger-bg, $danger-bg-dark, $danger-bg-light);
  }
}

@mixin popover-danger-css {
  .popover-danger {
    @include popover-color-values($danger-bg-text, $danger-bg, $danger-bg-light);
  }
}

// ----------------------------------------------------------
// Secondary mixins
// ----------------------------------------------------------
@mixin accordion-secondary-css {
  .accordion-secondary {
    @include accordion-color-values($secondary-bg-text, $secondary-bg, $secondary-bg-dark, $secondary-bg-light);
  }
}

@mixin alert-secondary-css {
  .alert-secondary {
    @include alert-color-values($secondary-bg-text, $secondary-bg, $secondary-bg-light);
  }
}

@mixin background-secondary-css {
  .bg-secondary {
    @include background-color-values($secondary-bg-text, $secondary-bg);
  }
}

@mixin badge-secondary-css {
  .badge-secondary {
    @include badge-color-values($secondary-bg-text, $secondary-bg, $secondary-bg-light);
  }
}

@mixin button-secondary-css {
  .btn-secondary {
    @include button-color-values($secondary-bg-text, $secondary-bg, $secondary-bg-dark, $secondary-bg-light, $secondary-bg-light);
  }
}

@mixin card-secondary-css {
  .card-secondary {
    @include card-color-values($secondary-bg-text, $secondary-bg, $secondary-bg-dark, $secondary-bg-light, $secondary-bg-light);
  }
}

@mixin dialog-secondary-css {
  .dialog-secondary {
    @include dialog-color-values($secondary-bg-text, $secondary-bg, $secondary-bg-light);
  } 
}

@mixin dropdown-secondary-css {
  .dropdown-secondary {
    @include dropdown-color-values($secondary-bg-text, $secondary-bg, $secondary-bg-dark, $secondary-bg-light, $secondary-bg-light);
  } 
}

@mixin list-group-secondary-css {
  .list-group-secondary {
    @include list-group-color-values($secondary-bg-text, $secondary-bg, $secondary-bg-dark, $secondary-bg-light);
  }
}

@mixin popover-secondary-css {
  .popover-secondary {
    @include popover-color-values($secondary-bg-text, $secondary-bg, $secondary-bg-light);
  }
}

// ----------------------------------------------------------
// Grouped mixins
// ----------------------------------------------------------
@mixin primary-utilities-css {
  @include accordion-primary-css;
  @include alert-primary-css;
  @include background-primary-css;
  @include badge-primary-css;
  @include button-primary-css;
  @include card-primary-css;
  @include dialog-primary-css;
  @include dropdown-primary-css;
  @include list-group-primary-css;
  @include popover-primary-css;
}

@mixin info-utilities-css {
  @include accordion-info-css;
  @include alert-info-css;
  @include background-info-css;
  @include badge-info-css;
  @include button-info-css;
  @include card-info-css;
  @include dialog-info-css;
  @include dropdown-info-css;
  @include list-group-info-css;
  @include popover-info-css;
}

@mixin success-utilities-css {
  @include accordion-success-css;
  @include alert-success-css;
  @include background-success-css;
  @include badge-success-css;
  @include button-success-css;
  @include card-success-css;
  @include dialog-success-css;
  @include dropdown-success-css;
  @include list-group-success-css;
  @include popover-success-css;
}

@mixin warning-utilities-css {
  @include accordion-warning-css;
  @include alert-warning-css;
  @include background-warning-css;
  @include badge-warning-css;
  @include button-warning-css;
  @include card-warning-css;
  @include dialog-warning-css;
  @include dropdown-warning-css;
  @include list-group-warning-css;
  @include popover-warning-css;
}

@mixin danger-utilities-css {
  @include accordion-danger-css;
  @include alert-danger-css;
  @include background-danger-css;
  @include badge-danger-css;
  @include button-danger-css;
  @include card-danger-css;
  @include dialog-danger-css;
  @include dropdown-danger-css;
  @include list-group-danger-css;
  @include popover-danger-css;
}

@mixin secondary-utilities-css {
  @include accordion-secondary-css;
  @include alert-secondary-css;
  @include background-secondary-css;
  @include badge-secondary-css;
  @include button-secondary-css;
  @include card-secondary-css;
  @include dialog-secondary-css;
  @include dropdown-secondary-css;
  @include list-group-secondary-css;
  @include popover-secondary-css;
}

@mixin semantic-accordions-css {
  @include accordion-primary-css;
  @include accordion-info-css;
  @include accordion-success-css;
  @include accordion-warning-css;
  @include accordion-danger-css;
  @include accordion-secondary-css;
}

@mixin semantic-alerts-css {
  @include alert-primary-css;
  @include alert-info-css;
  @include alert-success-css;
  @include alert-warning-css;
  @include alert-danger-css;
  @include alert-secondary-css;
}

@mixin semantic-backgrounds-css {
  @include background-primary-css;
  @include background-info-css;
  @include background-success-css;
  @include background-warning-css;
  @include background-danger-css;
  @include background-secondary-css;
}

@mixin semantic-badges-css {
  @include badge-primary-css;
  @include badge-info-css;
  @include badge-success-css;
  @include badge-warning-css;
  @include badge-danger-css;
  @include badge-secondary-css;
}

@mixin semantic-buttons-css {
  @include button-primary-css;
  @include button-info-css;
  @include button-success-css;
  @include button-warning-css;
  @include button-danger-css;
  @include button-secondary-css;
}

@mixin semantic-cards-css {
  @include card-primary-css;
  @include card-info-css;
  @include card-success-css;
  @include card-warning-css;
  @include card-danger-css;
  @include card-secondary-css;
}

@mixin semantic-dialogs-css {
  @include dialog-primary-css;
  @include dialog-info-css;
  @include dialog-success-css;
  @include dialog-warning-css;
  @include dialog-danger-css;
  @include dialog-secondary-css;
}

@mixin semantic-dropdowns-css {
  @include dropdown-primary-css;
  @include dropdown-info-css;
  @include dropdown-success-css;
  @include dropdown-warning-css;
  @include dropdown-danger-css;
  @include dropdown-secondary-css;
}

@mixin semantic-list-groups-css {
  @include list-group-primary-css;
  @include list-group-info-css;
  @include list-group-success-css;
  @include list-group-warning-css;
  @include list-group-danger-css;
  @include list-group-secondary-css;
}

@mixin semantic-popovers-css {
  @include popover-primary-css;
  @include popover-info-css;
  @include popover-success-css;
  @include popover-warning-css;
  @include popover-danger-css;
  @include popover-secondary-css;
}

@mixin semantic-utilities-css {
  @include primary-utilities-css;
  @include info-utilities-css;
  @include success-utilities-css;
  @include warning-utilities-css;
  @include danger-utilities-css;
  @include secondary-utilities-css;
}
