// ---------------------------------------------------------- 
// Steelblue utilities
// ----------------------------------------------------------
@use "color-mixins" as *;
@use "../steelblue" as *;

// Background color utilities
@mixin backgrounds-steelblue-css {
  @each $name, $color, $background in $steelblue-backgrounds {
    .bg-#{$name} {
      color: $color;
      background-color: $background;
    }
  }
}

// Border color modifiers
@mixin borders-steelblue-css {
  @each $name, $color in $steelblue-token-values {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
  }
}

// Module modifers
@mixin accordion-steelblue-css {
  .accordion-steelblue {
    @include accordion-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-dark, $steelblue-bg-light);
  }
}

@mixin alert-steelblue-css {
  .alert-steelblue {
    @include alert-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-light);
  }
}

@mixin background-steelblue-css {
  .bg-steelblue {
    @include background-color-values($steelblue-bg-text, $steelblue-bg);
  }
}

@mixin badge-steelblue-css {
  .badge-steelblue {
    @include badge-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-light);
  }
}

@mixin button-steelblue-css {
  .btn-steelblue {
    @include button-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-dark, $steelblue-bg-light, $steelblue-bg-light);
  }
}

@mixin card-steelblue-css {
  .card-steelblue {
    @include card-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-dark, $steelblue-bg-light, $steelblue-bg-light);
  }
}

@mixin dialog-steelblue-css {
  .dialog-steelblue {
    @include dialog-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-light);
  } 
}

@mixin dropdown-steelblue-css {
  .dropdown-steelblue {
    @include dropdown-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-dark, $steelblue-bg-light, $steelblue-bg-light);
  } 
}

@mixin list-group-steelblue-css {
  .list-group-steelblue {
    @include list-group-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-dark, $steelblue-bg-light);
  }
}

@mixin popover-steelblue-css {
  .popover-steelblue {
    @include popover-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-light);
  }
}

@mixin steelblue-utilities-css {
  @include accordion-steelblue-css;
  @include alert-steelblue-css;
  @include background-steelblue-css;
  @include backgrounds-steelblue-css;
  @include badge-steelblue-css;
  @include borders-steelblue-css;
  @include button-steelblue-css;
  @include card-steelblue-css;
  @include dialog-steelblue-css;
  @include dropdown-steelblue-css;
  @include list-group-steelblue-css;
  @include popover-steelblue-css;
}
