// ----------------------------------------------------------
// Styles mixins
// ----------------------------------------------------------
@use "../configuration" as *;
@use "../index" as *;
@include version;

// ----------------------------------------------------------
// Cascade layers
// ----------------------------------------------------------
@mixin cascade-layers {
  @layer #{$layer-order};
}

// ----------------------------------------------------------
// Content
// ----------------------------------------------------------
@mixin content-framework {
  @if $enable-theme-color-scheme { @include theme-color-scheme-css; }
  @if $enable-typography { @include typography-css; }
  @if $enable-forms-buttons { @include forms-buttons-css; }
  @if $enable-tables { @include tables-css; }
  @if $enable-vis-hidden { @include vis-hidden-css; }
  @media (prefers-reduced-motion: no-preference) { 
    @if $enable-smooth-scroll { @include smooth-scroll-css; }
    @if $enable-view-transition { @include view-transition-css; }
  }
}

// ----------------------------------------------------------
// Components
// ----------------------------------------------------------
@mixin components-framework {
  @if $enable-accordions { @include accordions-css; }
  @if $enable-alerts { @include alerts-css; }
  @if $enable-badges { @include badges-css; }
  @if $enable-buttons { @include buttons-css; }
  @if $enable-cards { @include cards-css; }
  @if $enable-dialogs { @include dialog-styles-css; }
  @if $enable-dialogs-transition { @include dialog-transition-css; }
  @if $enable-dropdowns { @include dropdowns-css; }
  @if $enable-list-groups { @include list-groups-css; }
  @if $enable-popovers { @include popover-styles-css; }
  @if $enable-popovers-transition { @include popover-transition-css; }
  @if $enable-theme-switch { @include theme-switch-css; }
}

// ----------------------------------------------------------
// Utilities
// ----------------------------------------------------------
@mixin utilities-framework {
  @if $enable-backgrounds { @include background-css; }
  @if $enable-borders { @include borders-css; }
  @if $enable-gradients { @include gradients-css; }
  @if $enable-images { @include images-css; }
  @if $enable-lists { @include lists-css; }
  @if $enable-opacity { @include opacity-css; }
  @if $enable-shadows { @include shadows-css; }
  @if $enable-text { @include text-css; }
}

// ---------------------------------------------------------- 
// Layouts
// ----------------------------------------------------------
@mixin layout-framework {
// Grids
  #{$variables-tokens} { 
    @if $enable-grid-templates { @include grid-templates-variables; }
  }
  @if $enable-grid-templates { @include grid-templates-css; }
  @if $enable-grid-layouts { @include grid-layouts-css; }
  
// Layout
  @if $enable-align { @include align-css; }
  @if $enable-aspect-ratio { @include aspect-ratio-css; }
  @if $enable-block { @include block-css; }
  @if $enable-columns { @include columns-css; }
  @if $enable-containers { @include containers-css; }
  @if $enable-display { @include display-css; }
  @if $enable-flex { @include flex-css; }
  @if $enable-grid { @include grid-css; }
  @if $enable-inset { @include inset-css; }
  @if $enable-justify { @include justify-css; }
  @if $enable-object-fit { @include object-fit-css; }
  @if $enable-order { @include order-css; }
  @if $enable-overflow { @include overflow-css; }
  @if $enable-overscroll { @include overscroll-css; }
  @if $enable-place { @include place-css; }
  @if $enable-position { @include position-css; }
  @if $enable-scrollbars { @include scrollbars-css; }
  @if $enable-sizes { @include sizes-css; }
  @if $enable-z-index { @include z-index-css; }
  
  // Spacing
  @if $enable-gaps { @include gaps-css; }
  @if $enable-margins { @include margins-css; }
  @if $enable-padding { @include padding-css; }
}

// ----------------------------------------------------------
// Icons
// ----------------------------------------------------------
@mixin icons-framework {
  // SVG variable tokens
  #{$variables-tokens} {
    @if $enable-house-svg {@include house-icon-token;}   
    @if $enable-email-svg {@include email-icon-token;}
    @if $enable-bars-svg {@include bars-icon-token;}    
    @if $enable-dots-horizontal-svg {@include dots-horizontal-icon-token;}
    @if $enable-dots-vertical-svg {@include dots-vertical-icon-token;}
    @if $enable-plus-svg {@include plus-icon-token;}
    @if $enable-minus-svg {@include minus-icon-token;}
    @if $enable-close-svg {@include close-icon-token;}
    @if $enable-search-svg {@include search-icon-token;}
    @if $enable-download-svg {@include download-icon-token;}
    @if $enable-info-box-svg {@include info-box-icon-token;}
    @if $enable-info-box-fill-svg {@include info-box-fill-icon-token;}
    @if $enable-info-circle-svg {@include info-circle-icon-token;}
    @if $enable-info-circle-fill-svg {@include info-circle-fill-icon-token;}
    @if $enable-question-circle-svg {@include question-circle-icon-token;}
    @if $enable-question-circle-fill-svg {@include question-circle-fill-icon-token;}
    @if $enable-question-box-svg {@include question-box-icon-token;}
    @if $enable-question-box-fill-svg {@include question-box-fill-icon-token;}
    @if $enable-box-svg {@include box-icon-token;}
    @if $enable-pen-box-svg {@include pen-box-icon-token;}
    @if $enable-close-box-svg {@include close-box-icon-token;}
    @if $enable-close-box-fill-svg {@include close-box-fill-icon-token;}
    @if $enable-tick-box-svg {@include tick-box-icon-token;}
    @if $enable-ext-link-svg {@include ext-link-icon-token;}
    @if $enable-pg-link-svg {@include pg-link-icon-token;}
    @if $enable-sun-svg {@include sun-icon-token;}
    @if $enable-moon-svg {@include moon-icon-token;}
    @if $enable-caret-down-svg {@include caret-down-icon-token;}
    @if $enable-caret-up-svg {@include caret-up-icon-token;}
    @if $enable-caret-left-svg {@include caret-left-icon-token;}
    @if $enable-caret-right-svg {@include caret-right-icon-token;}
    @if $enable-user-svg {@include user-icon-token;}
    @if $enable-circle-svg {@include circle-icon-token;}
    @if $enable-circle-fill-svg {@include circle-fill-icon-token;}
    @if $enable-circle-inner-svg {@include circle-inner-icon-token;}
    @if $enable-circle-half-svg {@include circle-half-icon-token;}
    @if $enable-circle-sm-svg {@include circle-sm-icon-token;}
    @if $enable-circle-fill-sm-svg {@include circle-fill-sm-icon-token;}
    @if $enable-circle-inner-sm-svg {@include circle-inner-sm-icon-token;}
    @if $enable-circle-half-sm-svg {@include circle-half-sm-icon-token;}
    @if $enable-image-svg {@include image-icon-token;}
    @if $enable-image-fill-svg {@include image-fill-icon-token;}
    @if $enable-rss-svg {@include rss-icon-token;}
    @if $enable-stylemods-svg {@include stylemods-icon-token;}
    @if $enable-css-svg {@include css-icon-token;}
    @if $enable-sass-svg {@include sass-icon-token;}
    @if $enable-github-svg {@include github-icon-token;}
    @if $enable-twitter-svg {@include twitter-icon-token;}
    @if $enable-mastodon-svg {@include mastodon-icon-token;}
    @if $enable-tiktok-svg {@include tiktok-icon-token;}
    @if $enable-facebook-svg {@include facebook-icon-token;}
    @if $enable-instagram-svg {@include instagram-icon-token;}
    @if $enable-pinterest-svg {@include pinterest-icon-token;}
    @if $enable-codepen-svg {@include codepen-icon-token;}
    @if $enable-reddit-svg {@include reddit-icon-token;}
    @if $enable-youtube-svg {@include youtube-icon-token;}
  }
  
  // SVG classes
  @if $enable-house-svg {@include house-icon-class;}
  @if $enable-email-svg {@include email-icon-class;}
  @if $enable-bars-svg {@include bars-icon-class;}
  @if $enable-dots-horizontal-svg {@include dots-horizontal-icon-class;}
  @if $enable-dots-vertical-svg {@include dots-vertical-icon-class;}
  @if $enable-plus-svg {@include plus-icon-class;}
  @if $enable-minus-svg {@include minus-icon-class;}
  @if $enable-close-svg {@include close-icon-class;}
  @if $enable-search-svg {@include search-icon-class;}
  @if $enable-download-svg {@include download-icon-class;}
  @if $enable-info-box-svg {@include info-box-icon-class;}
  @if $enable-info-box-fill-svg {@include info-box-fill-icon-class;}
  @if $enable-info-circle-svg {@include info-circle-icon-class;}
  @if $enable-info-circle-fill-svg {@include info-circle-fill-icon-class;}
  @if $enable-question-circle-svg {@include question-circle-icon-class;}
  @if $enable-question-circle-fill-svg {@include question-circle-fill-icon-class;}
  @if $enable-question-box-svg {@include question-box-icon-class;}
  @if $enable-question-box-fill-svg {@include question-box-fill-icon-class;}
  @if $enable-box-svg {@include box-icon-class;}
  @if $enable-pen-box-svg {@include pen-box-icon-class;}
  @if $enable-close-box-svg {@include close-box-icon-class;}
  @if $enable-close-box-fill-svg {@include close-box-fill-icon-class;}
  @if $enable-tick-box-svg {@include tick-box-icon-class;}
  @if $enable-ext-link-svg {@include ext-link-icon-class;}
  @if $enable-pg-link-svg {@include pg-link-icon-class;}
  @if $enable-sun-svg {@include sun-icon-class;}
  @if $enable-moon-svg {@include moon-icon-class;}
  @if $enable-caret-down-svg {@include caret-down-icon-class;}
  @if $enable-caret-up-svg {@include caret-up-icon-class;}
  @if $enable-caret-left-svg {@include caret-left-icon-class;}
  @if $enable-caret-right-svg {@include caret-right-icon-class;}
  @if $enable-user-svg {@include user-icon-class;}
  @if $enable-circle-svg {@include circle-icon-class;}
  @if $enable-circle-fill-svg {@include circle-fill-icon-class;}
  @if $enable-circle-inner-svg {@include circle-inner-icon-class;}
  @if $enable-circle-half-svg {@include circle-half-icon-class;}
  @if $enable-circle-sm-svg {@include circle-sm-icon-class;}
  @if $enable-circle-fill-sm-svg {@include circle-fill-sm-icon-class;}
  @if $enable-circle-inner-sm-svg {@include circle-inner-sm-icon-class;}
  @if $enable-circle-half-sm-svg {@include circle-half-sm-icon-class;}
  @if $enable-image-svg {@include image-icon-class;}
  @if $enable-image-fill-svg {@include image-fill-icon-class;}
  @if $enable-rss-svg {@include rss-icon-class;}
  @if $enable-stylemods-svg {@include stylemods-icon-class;}
  @if $enable-css-svg {@include css-icon-class;}
  @if $enable-sass-svg {@include sass-icon-class;}
  @if $enable-github-svg {@include github-icon-class;}
  @if $enable-twitter-svg {@include twitter-icon-class;}
  @if $enable-mastodon-svg {@include mastodon-icon-class;}
  @if $enable-tiktok-svg {@include tiktok-icon-class;}
  @if $enable-facebook-svg {@include facebook-icon-class;}
  @if $enable-instagram-svg {@include instagram-icon-class;}
  @if $enable-pinterest-svg {@include pinterest-icon-class;}
  @if $enable-codepen-svg {@include codepen-icon-class;}
  @if $enable-reddit-svg {@include reddit-icon-class;}
  @if $enable-youtube-svg {@include youtube-icon-class;}
  
  // Icon utility classes
  @if $enable-icon-utilities-css {@include icon-utilities-css;}
  @if $enable-icon-links-css {@include icon-links-css;}
  @if $enable-icon-buttons-css {@include icon-buttons-css;}
}
