// ---------------------------------------------------------- 
// Typography
// ----------------------------------------------------------
$text-color:                  var(--text, CanvasText) !default;
$background-color:            var(--background, Canvas) !default;
$font-family:                 'system-ui, -apple-system, sans-serif' !default;
$html-font-size:              var(--html-fs, clamp(100%, 40% + 0.666vw, 140%)) !default;
$body-font-size:              var(--body-fs, 1rem) !default;
$body-font-weight:            var(--body-fw, normal) !default;
$body-line-height:            var(--body-lh, 1.5) !default;

$link-color:                  var(--link, light-dark(#1c3db5, #9fbfdf)) !default;
$visited-color:               var(--visited, color-mix(in srgb, $link-color 65%, white)) !default;
$hover-color:                 var(--hover, color-mix(in srgb, $link-color 75%, white)) !default;
$link-decoration-color:       color-mix(in srgb, $link-color 75%, Canvas) !default;
$visited-decoration-color:    color-mix(in srgb, $visited-color 50%, Canvas);
$link-decoration-width:       1px !default;
$link-underline-offset:       var(--link-offset, 0.1175em) !default;
$link-focus-offset:           var(--focus-offset, 2px) !default;

$h1-font-size:                var(--h1-fs, 2.125rem) !default;
$h2-font-size:                var(--h2-fs, 1.75rem) !default;
$h3-font-size:                var(--h3-fs, 1.5rem) !default;
$h4-font-size:                var(--h4-fs, 1.375rem) !default;
$h5-font-size:                var(--h5-fs, 1.25rem) !default;
$h6-font-size:                var(--h6-fs, 1.063rem) !default;
$heading-font-weight:         var(--heading-fw, 700) !default;
$heading-line-height:         var(--heading-lh, 1.2) !default;
$heading-text-wrap:           var(--heading-tw, pretty) !default;
$heading-margin-bottom:       var(--heading-mb, 0.75rem) !default;

$para-font-size:              var(--para-fs, inherit) !default;
$para-text-wrap:              var(--para-tw, pretty) !default;
$para-margin-bottom:          var(--para-mb, 1rem) !default;
$list-text-wrap:              var(--list-tw, pretty) !default;
$list-margin-bottom:          var(--list-mb, 1rem) !default;
$list-indent:                 var(--li-ps, 2rem) !default;
$dl-list-indent:              var(--dd-ms, 1rem) !default;

$small-font-size:             var(--sm-fs, 0.906em) !default;
$small-font-size-heading:     var(--sm-fs-heading, 0.75em) !default;
$strong-font-weight:          bold !default;
$code-color:                  var(--code, color-mix(in srgb, CanvasText 60%, Canvas)) !default;
$kbd-padding-block:           0.1em !default;
$kbd-padding-inline:          0.3em !default;
$kbd-radius:                  0.125em !default;
$kbd-background-color:        var(--kbd-bg, color-mix(in srgb, CanvasText 8%, var(--background, Canvas))) !default;

$pre-padding:                 1rem !default;
$pre-margin-bottom:           1rem !default;
$pre-border-color:            var(--pre-bd-color, color-mix(in srgb, CanvasText 13%, var(--background, Canvas))) !default;
$pre-background-color:        var(--pre-bg, color-mix(in srgb, CanvasText 4%, var(--background, Canvas))) !default;
$address-margin-bottom:       1rem !default;
$blockquote-padding-block:    0.75rem !default;
$blockquote-padding-inline:   1rem !default;
$blockquote-margin-bottom:    1rem !default;
$blockquote-border-color:     var(--blockquote-bd-color, color-mix(in srgb, CanvasText 13%, var(--background, Canvas))) !default;
$blockquote-border:           1px !default;
$blockquote-border-left:      10px !default;
$details-margin-bottom:       1rem !default;
$summary-open-margin-bottom:  0.75rem !default;
$summary-focus-shadow:        var(--summary-shadow, 0 0 0 0.12rem) !default;
$summary-focus-color:         var(--summary-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))) !default;
$figure-margin-bottom:        1rem !default;
$figcaption-padding-top:      0.25em !default;
$hr-color:                    color-mix(in srgb, CanvasText 20%, var(--background, Canvas)) !default;
$hr-margin-bottom:            1rem !default;

@mixin typography-css {

:where(:not([popover], dialog)) {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:where(html) {
  color-scheme: light dark;
  color: $text-color;
  font-size: $html-font-size;
  font-family: #{$font-family};  
  background-color: $background-color;
  block-size: 100%;
}

:where(body) {
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
}

:where(a) {
  color: $link-color;
  overflow-wrap: break-word;
  text-decoration-color: $link-decoration-color;
  text-decoration-thickness: $link-decoration-width;
  text-underline-offset: $link-underline-offset;
}

:where(a:visited) {
  color: $visited-color;
  text-decoration-color: $visited-decoration-color;
}

:where(a:focus-visible) {
  outline: 1px solid $link-color;
  outline-offset: $link-focus-offset;
  border-radius: 0.125em;
}

:where(a:hover) {
  color: $hover-color;
  text-decoration: none;
}

:where(h1, h2, h3, h4, h5, h6) a {
  text-decoration: none;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  text-wrap: $heading-text-wrap;
  margin-block-end: $heading-margin-bottom;
}

:where(h1) {
  font-size: $h1-font-size;
}

:where(h2) {
  font-size: $h2-font-size;
}

:where(h3) {
  font-size: $h3-font-size;
}

:where(h4) {
  font-size: $h4-font-size;
}

:where(h5) {
  font-size: $h5-font-size;
}

:where(h6) {
  --heading-lh: 1.25;
  font-size: $h6-font-size;
}

:where(p) {
  font-size: $para-font-size;
  text-wrap: $para-text-wrap;
  margin-block-end: $para-margin-bottom;
}

:where(ol, ul, dl) {
  text-wrap: $list-text-wrap;
  margin-block-end: $list-margin-bottom;
}

:where(ol, ul) {
  padding-inline-start: $list-indent;
}

:where(ol) {
  list-style-type: var(--marker, decimal);
}

:where(ul) {
  list-style-type: var(--marker, disc);
}

:where(ol ol, ul ul, ol ul, ul ol, dl dl) {
  margin-block-end: var(--list-child-mb, 0);
}

:where(dt) {
  font-weight: var(--dt-fw);
}

:where(dt):not(:first-child) {
  margin-block-start: var(--dt-mt);
}

:where(dd) {
  margin-inline-start: $dl-list-indent;
}

:where(small) {
  font-size: $small-font-size;
}

:where(h1, h2, h3, h4, h5, h6) small {
  font-size: $small-font-size-heading;
}

:where(strong, bold) {
  font-weight: $strong-font-weight;
}

:where(abbr[title]) {
  cursor: help;
}

:where(code) {
  color: $code-color;
  word-wrap: break-word;
}

a > :where(code) {
  color: inherit;
}

:where(kbd) {
  padding-block: $kbd-padding-block;
  padding-inline: $kbd-padding-inline;
  background-color: $kbd-background-color;
  border-radius: $kbd-radius;
}

:where(pre) {
  overflow: auto;
  padding: $pre-padding;
  margin-block-end: $pre-margin-bottom;
  border: 1px solid $pre-border-color;
  background-color: $pre-background-color;
}

:where(pre code) {
  color: revert;
  word-break: normal;
}

:where(address) {
  font-style: normal;
  margin-block-end: $address-margin-bottom;
}

:where(blockquote) {
  padding-block: $blockquote-padding-block;
  padding-inline: $blockquote-padding-inline;
  margin-block-end: $blockquote-margin-bottom;
  border: $blockquote-border solid $blockquote-border-color;
  border-inline-start-width: $blockquote-border-left;
}

:where(blockquote p) {
  margin-block-end: 0.25rem;
}

:where(blockquote :last-child) {
  margin-block-end: 0;
}

:where(details) {
  margin-block-end: $details-margin-bottom;
}

:where(summary:focus-visible) {
  outline: none;
  border-radius: 0.125em;
  box-shadow: $summary-focus-shadow $summary-focus-color;
}

:where(summary) {
  cursor: pointer;
}

:where(details[open] summary) {
  margin-block-end: $summary-open-margin-bottom;
}

:where(hr) {
  border: none;
  border-block-start: 1px solid $hr-color;
  margin-block-end: $hr-margin-bottom;
}

:where(figure) {
  inline-size: fit-content;
  margin-block-end: $figure-margin-bottom;
}

:where(figcaption) {
  contain: inline-size;
  padding-block-start: $figcaption-padding-top;
}

:where(img, svg, video, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg) {
  max-inline-size: 100%;
}

:where(iframe) {
  border: 0;
}

} // End typography mixin
