// ---------------------------------------------------------- 
// Backgrounds
// ----------------------------------------------------------
$background-utility:              bg !default;
$background-text-variable:        var(--bg-text) !default;
$background-color-variable:       var(--bg-col) !default;

@mixin background-css {
  .#{$background-utility} {
    color: $background-text-variable;
    background-color: $background-color-variable;
  }
  
  .#{$background-utility}-white {
    background-color: #fff;
  }
  
  .#{$background-utility}-black {
    background-color: #000;
  }
}
