// ---------------------------------------------------------- 
// Borders
// ----------------------------------------------------------
$radius-1:        0.188rem !default;
$radius-2:        0.313rem !default;
$radius-3:        0.5rem !default;
$radius-4:        0.75rem !default;
$radius-5:        1rem !default;

$border-radius-values: (
  "radius-0": 0,
  "radius-1": $radius-1,
  "radius-2": $radius-2,
  "radius-3": $radius-3,
  "radius-4": $radius-4,
  "radius-5": $radius-5,
) !default;

$border-radius-single-values: (
  "radius-pill": 50rem,
  "radius-circle": 50%,
) !default;

$border-style-values: (
  "border": border-style,
  "border-t": border-block-start-style,
  "border-b": border-block-end-style,
  "border-s": border-inline-start-style,
  "border-e": border-inline-end-style,
  "border-y": border-block-style,
  "border-x": border-inline-style,
) !default;

$top-start:       border-start-start-radius;
$top-end:         border-start-end-radius;
$bottom-start:    border-end-start-radius;
$bottom-end:      border-end-end-radius;

@mixin border-position-css {
  .border, 
  [class*=border-] {
    border-width: var(--bd-width, 1px);
    border-color: var(--bd-color, color-mix(in srgb, CanvasText 13%, var(--background, Canvas)));
  }
  
  @each $name, $value in $border-style-values {
    .#{$name} {
      #{$value}: var(--bd-style, solid);        
    }
  }
  
  @each $name, $value in $border-style-values { 
    .#{$name}-none {
      #{$value}: none;        
    }
  }
}

@mixin border-radius-css {
  @each $name, $value in $border-radius-values {
    .#{$name} {
      border-radius: #{$value};
    }
  }
  
  @each $name, $value in $border-radius-values {  
    .#{$name}-t {
      #{$top-start}: #{$value};
      #{$top-end}: #{$value};
    }
  }
  
  @each $name, $value in $border-radius-values { 
    .#{$name}-b {
      #{$bottom-start}: #{$value};
      #{$bottom-end}: #{$value};     
    }
  }
  
  @each $name, $value in $border-radius-values {
    .#{$name}-s {
      #{$top-start}: #{$value};
      #{$bottom-start}: #{$value};  
    }
  }
  
  @each $name, $value in $border-radius-values {
    .#{$name}-e {
      #{$top-end}: #{$value};
      #{$bottom-end}: #{$value};     
    }
  }

  @each $name, $value in $border-radius-single-values {
    .#{$name} {
      border-radius: #{$value};   
    }
  }
}

// ------------------------------------------------------------
// Border position breakpoints
// ------------------------------------------------------------
@mixin border-position-xxl-css {
  @each $name, $value in $border-style-values {
    .#{$name}-xxl {
      #{$value}: var(--bd-style, solid);        
    }
  }

  @each $name, $value in $border-style-values {
    .#{$name}-none-xxl {
      #{$value}: none;        
    }
  }
}

@mixin border-position-xl-css {
  @each $name, $value in $border-style-values {
    .#{$name}-xl {
      #{$value}: var(--bd-style, solid);        
    }
  }

  @each $name, $value in $border-style-values {
    .#{$name}-none-xl {
      #{$value}: none;        
    }
  }
}

@mixin border-position-lg-css {
  @each $name, $value in $border-style-values {
    .#{$name}-lg {
      #{$value}: var(--bd-style, solid);        
    }
  }

  @each $name, $value in $border-style-values {
    .#{$name}-none-lg {
      #{$value}: none;        
    }
  }
}

@mixin border-position-md-css {
  @each $name, $value in $border-style-values {
    .#{$name}-md {
      #{$value}: var(--bd-style, solid);        
    }
  }

  @each $name, $value in $border-style-values {
    .#{$name}-none-md {
      #{$value}: none;        
    }
  }
}

@mixin border-position-sm-css {
  @each $name, $value in $border-style-values {
    .#{$name}-sm {
      #{$value}: var(--bd-style, solid);        
    }
  }

  @each $name, $value in $border-style-values {
    .#{$name}-none-sm {
      #{$value}: none;        
    }
  }
}

@mixin border-position-xs-css {
  @each $name, $value in $border-style-values {
    .#{$name}-xs {
      #{$value}: var(--bd-style, solid);        
    }
  }

  @each $name, $value in $border-style-values {
    .#{$name}-none-xs {
      #{$value}: none;        
    }
  }
}

@mixin border-position-xxs-css {
  @each $name, $value in $border-style-values {
    .#{$name}-xxs {
      #{$value}: var(--bd-style, solid);        
    }
  }

  @each $name, $value in $border-style-values {
    .#{$name}-none-xxs {
      #{$value}: none;        
    }
  }
}

// ------------------------------------------------------------
// Border radius breakpoints
// ------------------------------------------------------------
@mixin border-radius-xxl-css {
  @each $name, $value in $border-radius-values {
    .#{$name} {
      border-radius: #{$value};
    }
    
    .#{$name}-top-xxl {
      border-start-start-radius: #{$value};
      border-start-end-radius: #{$value};
    }
    
    .#{$name}-bottom-xxl {
      border-end-start-radius: #{$value};
      border-end-end-radius: #{$value};     
    }
    
    .#{$name}-start-xxl {
      border-start-start-radius: #{$value};
      border-end-start-radius: #{$value};  
    }
    
    .#{$name}-end-xxl {
      border-start-end-radius: #{$value};
      border-end-end-radius: #{$value};     
    }
  }
  
  @each $name, $value in $border-radius-single-values {
    .#{$name}-xxl {
      border-radius: #{$value};   
    }
  
    .#{$name}-none-xxl {
      border-radius: unset;   
    }
  }
}

@mixin border-radius-xl-css {
  @each $name, $value in $border-radius-values {
    .#{$name} {
      border-radius: #{$value};
    }
    
    .#{$name}-top-xl {
      border-start-start-radius: #{$value};
      border-start-end-radius: #{$value};
    }
    
    .#{$name}-bottom-xl {
      border-end-start-radius: #{$value};
      border-end-end-radius: #{$value};     
    }
    
    .#{$name}-start-xl {
      border-start-start-radius: #{$value};
      border-end-start-radius: #{$value};  
    }
    
    .#{$name}-end-xl {
      border-start-end-radius: #{$value};
      border-end-end-radius: #{$value};     
    }
  }
  
  @each $name, $value in $border-radius-single-values {
    .#{$name}-xl {
      border-radius: #{$value};   
    }
  
    .#{$name}-none-xl {
      border-radius: unset;   
    }
  }
}

@mixin border-radius-lg-css {
  @each $name, $value in $border-radius-values {
    .#{$name} {
      border-radius: #{$value};
    }
    
    .#{$name}-top-lg {
      border-start-start-radius: #{$value};
      border-start-end-radius: #{$value};
    }
    
    .#{$name}-bottom-lg {
      border-end-start-radius: #{$value};
      border-end-end-radius: #{$value};     
    }
    
    .#{$name}-start-lg {
      border-start-start-radius: #{$value};
      border-end-start-radius: #{$value};  
    }
    
    .#{$name}-end-lg {
      border-start-end-radius: #{$value};
      border-end-end-radius: #{$value};     
    }
  }
  
  @each $name, $value in $border-radius-single-values {
    .#{$name}-lg {
      border-radius: #{$value};   
    }
  
    .#{$name}-none-lg {
      border-radius: unset;   
    }
  }
}

@mixin border-radius-md-css {
  @each $name, $value in $border-radius-values {
    .#{$name} {
      border-radius: #{$value};
    }
    
    .#{$name}-top-md {
      border-start-start-radius: #{$value};
      border-start-end-radius: #{$value};
    }
    
    .#{$name}-bottom-md {
      border-end-start-radius: #{$value};
      border-end-end-radius: #{$value};     
    }
    
    .#{$name}-start-md {
      border-start-start-radius: #{$value};
      border-end-start-radius: #{$value};  
    }
    
    .#{$name}-end-md {
      border-start-end-radius: #{$value};
      border-end-end-radius: #{$value};     
    }
  }
  
  @each $name, $value in $border-radius-single-values {
    .#{$name}-md {
      border-radius: #{$value};   
    }
  
    .#{$name}-none-md {
      border-radius: unset;   
    }
  }
}

@mixin border-radius-sm-css {
  @each $name, $value in $border-radius-values {
    .#{$name} {
      border-radius: #{$value};
    }
    
    .#{$name}-top-sm {
      border-start-start-radius: #{$value};
      border-start-end-radius: #{$value};
    }
    
    .#{$name}-bottom-sm {
      border-end-start-radius: #{$value};
      border-end-end-radius: #{$value};     
    }
    
    .#{$name}-start-sm {
      border-start-start-radius: #{$value};
      border-end-start-radius: #{$value};  
    }
    
    .#{$name}-end-sm {
      border-start-end-radius: #{$value};
      border-end-end-radius: #{$value};     
    }
  }
  
  @each $name, $value in $border-radius-single-values {
    .#{$name}-sm {
      border-radius: #{$value};   
    }
  
    .#{$name}-none-sm {
      border-radius: unset;   
    }
  }
}

@mixin border-radius-xs-css {
  @each $name, $value in $border-radius-values {
    .#{$name} {
      border-radius: #{$value};
    }
    
    .#{$name}-top-xs {
      border-start-start-radius: #{$value};
      border-start-end-radius: #{$value};
    }
    
    .#{$name}-bottom-xs {
      border-end-start-radius: #{$value};
      border-end-end-radius: #{$value};     
    }
    
    .#{$name}-start-xs {
      border-start-start-radius: #{$value};
      border-end-start-radius: #{$value};  
    }
    
    .#{$name}-end-xs {
      border-start-end-radius: #{$value};
      border-end-end-radius: #{$value};     
    }
  }
  
  @each $name, $value in $border-radius-single-values {
    .#{$name}-xs {
      border-radius: #{$value};   
    }
  
    .#{$name}-none-xs {
      border-radius: unset;   
    }
  }
}

@mixin border-radius-xxs-css {
  @each $name, $value in $border-radius-values {
    .#{$name} {
      border-radius: #{$value};
    }
    
    .#{$name}-top-xxs {
      border-start-start-radius: #{$value};
      border-start-end-radius: #{$value};
    }
    
    .#{$name}-bottom-xxs {
      border-end-start-radius: #{$value};
      border-end-end-radius: #{$value};     
    }
    
    .#{$name}-start-xxs {
      border-start-start-radius: #{$value};
      border-end-start-radius: #{$value};  
    }
    
    .#{$name}-end-xxs {
      border-start-end-radius: #{$value};
      border-end-end-radius: #{$value};     
    }
  }
  
  @each $name, $value in $border-radius-single-values {
    .#{$name}-xxs {
      border-radius: #{$value};   
    }
  
    .#{$name}-none-xxs {
      border-radius: unset;   
    }
  }
}

// ------------------------------------------------------------
// Combined
// ------------------------------------------------------------
@mixin borders-css {
  @include border-position-css;
  @include border-radius-css;
}

@mixin borders-xxl-css {
  @include border-position-xxl-css;
  @include border-radius-xxl-css;
}

@mixin borders-xl-css {
  @include border-position-xl-css;
  @include border-radius-xl-css;
}

@mixin borders-lg-css {
  @include border-position-lg-css;
  @include border-radius-lg-css;
}

@mixin borders-md-css {
  @include border-position-md-css;
  @include border-radius-md-css;
}

@mixin borders-sm-css {
  @include border-position-sm-css;
  @include border-radius-sm-css;
}

@mixin borders-xs-css {
  @include border-position-xs-css;
  @include border-radius-xs-css;
}

@mixin borders-xxs-css {
  @include border-position-xxs-css;
  @include border-radius-xxs-css;
}
