// ---------------------------------------------------------- 
// Shadows
// ----------------------------------------------------------
$shadow-tokens:         ':where(html)' !default;
$box-shadow-1:          0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !default;
$box-shadow-2:          0 0.25rem 0.75rem rgba(0, 0, 0, 0.15) !default;
$box-shadow-3:          0 0.5rem 1.25rem rgba(0, 0, 0, 0.15) !default;
$box-shadow-4:          0 1rem 2.5rem rgba(0, 0, 0, 0.175) !default;
$text-shadow-1:         1px 1px 2px rgb(0 0 0/0.33) !default;
$text-shadow-2:         1px 2px 2px rgb(0 0 0/0.4) !default;
$text-shadow-3:         2px 3px 3px rgb(0 0 0/0.4) !default;
$text-shadow-4:         2px 4px 4px rgb(0 0 0/0.4) !default;

$box-shadow-values: (
  "box-shadow-1": #{$box-shadow-1},
  "box-shadow-2": #{$box-shadow-2},
  "box-shadow-3": #{$box-shadow-3},
  "box-shadow-4": #{$box-shadow-4},
) !default;

$text-shadow-values: (
  "text-shadow-1": #{$text-shadow-1},
  "text-shadow-2": #{$text-shadow-2},
  "text-shadow-3": #{$text-shadow-3},
  "text-shadow-4": #{$text-shadow-4},
) !default;

@mixin shadow-variables {
  @each $name, $value in $box-shadow-values {
    --#{$name}: #{$value};
  }
  
  @each $name, $value in $text-shadow-values {
    --#{$name}: #{$value};
  }
}

@mixin shadow-variables-css {
  #{$shadow-tokens} {
    @include shadow-variables;
  }
}

@mixin shadow-classes {
  @each $name, $value in $box-shadow-values {
    .#{$name} {
      box-shadow: var(--#{$name});
    }
  }
  
  @each $name, $value in $text-shadow-values {
    .#{$name} {
      text-shadow: var(--#{$name});
    }
  }
}

@mixin shadows-css {
  @include shadow-variables-css;
  @include shadow-classes;
}
