// ---------------------------------------------------------- 
// Shadows
// ----------------------------------------------------------
$shadow-tokens:   where(html) !default;
$shadow:          0 0.25rem 0.75rem rgba(0, 0, 0, 0.15) !default;
$shadow-sm:       0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !default;
$shadow-lg:       0 0.5rem 1.25rem rgba(0, 0, 0, 0.15) !default;
$shadow-xl:       0 1rem 2.5rem rgba(0, 0, 0, 0.175) !default;

@mixin shadows-css {

:#{$shadow-tokens} {
  --shadow: #{$shadow};
  --shadow-sm: #{$shadow-sm};
  --shadow-lg: #{$shadow-lg};
  --shadow-xl: #{$shadow-xl};
}

.shadow {
  box-shadow: var(--shadow);
}
  
.shadow-sm {
  box-shadow: var(--shadow-sm);
}
  
.shadow-lg {
  box-shadow: var(--shadow-lg);
}
  
.shadow-xl {
  box-shadow: var(--shadow-xl);
}

} // end shadows-css
