// ---------------------------------------------------------- 
// Grids and gaps
// ----------------------------------------------------------
$bp-xl:   1601px;
$bp-lg:   1281px;
$bp-md:   1025px;
$bp-sm:   769px;
$bp-xs:   481px;

$g-1:     minmax(0, 1fr);
$g-2:     repeat(2, minmax(0, 1fr));
$g-3:     repeat(3, minmax(0, 1fr));
$g-4:     repeat(4, minmax(0, 1fr));
$g-5:     repeat(5, minmax(0, 1fr));
$g-6:     repeat(6, minmax(0, 1fr));
$g-7:     repeat(7, minmax(0, 1fr));
$g-8:     repeat(8, minmax(0, 1fr));
$g-9:     repeat(9, minmax(0, 1fr));
$g-10:    repeat(10, minmax(0, 1fr));
$g-11:    repeat(11, minmax(0, 1fr));
$g-12:    repeat(12, minmax(0, 1fr));

$ga-1:    auto;
$ga-2:    repeat(2, minmax(0, auto));
$ga-3:    repeat(3, minmax(0, auto));
$ga-4:    repeat(4, minmax(0, auto));
$ga-5:    repeat(5, minmax(0, auto));
$ga-6:    repeat(6, minmax(0, auto));
$ga-7:    repeat(7, minmax(0, auto));
$ga-8:    repeat(8, minmax(0, auto));
$ga-9:    repeat(9, minmax(0, auto));
$ga-10:   repeat(10, minmax(0, auto));
$ga-11:   repeat(11, minmax(0, auto));
$ga-12:   repeat(12, minmax(0, auto));

$gap-0:   0;
$gap-1:   0.25rem;
$gap-2:   0.5rem;
$gap-3:   1rem;
$gap-4:   1.5rem;
$gap-5:   2rem;

$grid: (
  "g-1": $g-1,
  "g-2": $g-2,
  "g-3": $g-3,
  "g-4": $g-4,
  "g-5": $g-5,
  "g-6": $g-6,
  "g-7": $g-7,
  "g-8": $g-8,
  "g-9": $g-9,
  "g-10": $g-10,
  "g-11": $g-11,
  "g-12": $g-12,
) !default;

$autogrid: (
  "ga-1": $ga-1,
  "ga-2": $ga-2,
  "ga-3": $ga-3,
  "ga-4": $ga-4,
  "ga-5": $ga-5,
  "ga-6": $ga-6,
  "ga-7": $ga-7,
  "ga-8": $ga-8,
  "ga-9": $ga-9,
  "ga-10": $ga-10,
  "ga-11": $ga-11,
  "ga-12": $ga-12,
) !default;

$gaps: (
  "0": $gap-0,
  "1": $gap-1,
  "2": $gap-2,
  "3": $gap-3,
  "4": $gap-4,
  "5": $gap-5,
) !default;

@mixin grid-utility {
  display: grid;
  grid-template-columns: var(--gtc);
  grid-template-rows: var(--gtr);
}

@mixin grid-variables {
  @each $name, $value in $grid {
    --#{$name}: #{$value};
  }
}

@mixin autogrid-variables {
  @each $name, $value in $autogrid {
    --#{$name}: #{$value};
  }
}

@mixin grid {
  @each $name, $value in $grid {
    .#{$name} {
      --gtc: var(--#{$name});        
    }
  }
}

@mixin grid-xl {
  @each $name, $value in $grid {
    .#{$name}-xl {
      --gtc: var(--#{$name});        
    }
  }
}

@mixin grid-lg {
  @each $name, $value in $grid {
    .#{$name}-lg {
      --gtc: var(--#{$name});        
    }
  }
}

@mixin grid-md {
  @each $name, $value in $grid {
    .#{$name}-md {
      --gtc: var(--#{$name});        
    }
  }
}

@mixin grid-sm {
  @each $name, $value in $grid {
    .#{$name}-sm {
      --gtc: var(--#{$name});        
    }
  }
}

@mixin grid-xs {
  @each $name, $value in $grid {
    .#{$name}-xs {
      --gtc: var(--#{$name});        
    }
  }
}

@mixin autogrid {
  @each $name, $value in $autogrid {
    .#{$name} {
      --gtc: var(--#{$name});        
    }
  }
}

@mixin autogrid-xl {
  @each $name, $value in $autogrid {
    .#{$name}-xl {
      --gtc: var(--#{$name});        
    }
  }
}

@mixin autogrid-lg {
  @each $name, $value in $autogrid {
    .#{$name}-lg {
      --gtc: var(--#{$name});        
    }
  }
}

@mixin autogrid-md {
  @each $name, $value in $autogrid {
    .#{$name}-md {
      --gtc: var(--#{$name});        
    }
  }
}

@mixin autogrid-sm {
  @each $name, $value in $autogrid {
    .#{$name}-sm {
      --gtc: var(--#{$name});        
    }
  }
}

@mixin autogrid-xs {
  @each $name, $value in $autogrid {
    .#{$name}-xs {
      --gtc: var(--#{$name});        
    }
  }
}

@mixin gaps {  
  @each $name, $value in $gaps {
  .gap-#{$name} {
      gap: #{$value};        
    }
  }
  
  @each $name, $value in $gaps {
  .gap-c-#{$name} {
      column-gap: #{$value};        
    }
  }
  
  @each $name, $value in $gaps {
  .gap-r-#{$name} {
      row-gap: #{$value};        
    }
  }
}

@mixin gaps-xl {  
  @each $name, $value in $gaps {
  .gap-#{$name}-xl {
      gap: #{$value};        
    }
  }
  
  @each $name, $value in $gaps {
  .gap-c-#{$name}-xl {
      column-gap: #{$value};        
    }
  }
  
  @each $name, $value in $gaps {
  .gap-r-#{$name}-xl {
      row-gap: #{$value};        
    }
  }
}

@mixin gaps-lg {  
  @each $name, $value in $gaps {
  .gap-#{$name}-lg {
      gap: #{$value};        
    }
  }
  
  @each $name, $value in $gaps {
  .gap-c-#{$name}-lg {
      column-gap: #{$value};        
    }
  }
  
  @each $name, $value in $gaps {
  .gap-r-#{$name}-lg {
      row-gap: #{$value};        
    }
  }
}

@mixin gaps-md {  
  @each $name, $value in $gaps {
  .gap-#{$name}-md {
      gap: #{$value};        
    }
  }
  
  @each $name, $value in $gaps {
  .gap-c-#{$name}-md {
      column-gap: #{$value};        
    }
  }
  
  @each $name, $value in $gaps {
  .gap-r-#{$name}-md {
      row-gap: #{$value};        
    }
  }
}

@mixin gaps-sm {  
  @each $name, $value in $gaps {
  .gap-#{$name}-sm {
      gap: #{$value};        
    }
  }
  
  @each $name, $value in $gaps {
  .gap-c-#{$name}-sm {
      column-gap: #{$value};        
    }
  }
  
  @each $name, $value in $gaps {
  .gap-r-#{$name}-sm {
      row-gap: #{$value};        
    }
  }
}

@mixin gaps-xs {  
  @each $name, $value in $gaps {
  .gap-#{$name}-xs {
      gap: #{$value};        
    }
  }
  
  @each $name, $value in $gaps {
  .gap-c-#{$name}-xs {
      column-gap: #{$value};        
    }
  }
  
  @each $name, $value in $gaps {
  .gap-r-#{$name}-xs {
      row-gap: #{$value};        
    }
  }
}

@mixin grids-and-gaps {
  :where(html) {
    @include grid-variables;
    @include autogrid-variables;
  }

  .grid {
    @include grid-utility;
  }

  @include grid;
  @include autogrid;
  @include gaps;
  
  @media (max-width: #{$bp-xl}) {
    @include grid-xl;
    @include autogrid-xl;
    @include gaps-xl;
  }
  
  @media (max-width: #{$bp-lg}) {
    @include grid-lg;
    @include autogrid-lg;
    @include gaps-lg;
  }
  
  @media (max-width: #{$bp-md}) {
    @include grid-md;
    @include autogrid-md;
    @include gaps-md;
  }
  
  @media (max-width: #{$bp-sm}) {
    @include grid-sm;
    @include autogrid-sm;
    @include gaps-sm;
  }
  
  @media (max-width: #{$bp-xs}) {
    @include grid-xs;
    @include autogrid-xs;
    @include gaps-xs;
  }
}
