// ------------------------------------------------------------
// Margins and padding utilities
// ------------------------------------------------------------

// Sizes
$auto: auto;
$s0: 0;
$s1: .25rem !default;
$s2: .5rem !default;
$s3: 1rem !default;
$s4: 1.5rem !default;
$s5: 2rem !default;

$margins-sizes: (
  "auto": #{$auto},
  "0": #{$s0},
  "1": #{$s1},
  "2": #{$s2},
  "3": #{$s3},
  "4": #{$s4},
  "5": #{$s5},
) !default;

$padding-sizes: (
  "0": #{$s0},
  "1": #{$s1},
  "2": #{$s2},
  "3": #{$s3},
  "4": #{$s4},
  "5": #{$s5},
) !default;

@mixin margins-css {

@each $name, $value in $margins-sizes {
  .m-#{$name} {
    margin: #{$value};        
  }
}  

@each $name, $value in $margins-sizes {
  .mt-#{$name} {
    margin-block-start: #{$value};        
  }
}

@each $name, $value in $margins-sizes {
  .mb-#{$name} {
    margin-block-end: #{$value};        
  }
}

@each $name, $value in $margins-sizes {
  .ms-#{$name} {
    margin-inline-start: #{$value};        
  }
}

@each $name, $value in $margins-sizes {
  .me-#{$name} {
    margin-inline-end: #{$value};        
  }
}
  
@each $name, $value in $margins-sizes {
  .my-#{$name} {
    margin-block: #{$value};        
  }
}
  
@each $name, $value in $margins-sizes {
  .mx-#{$name} {
    margin-inline: #{$value};        
  }
}

} // end margin-css

// @if $enable-margins {@include margins;}

@mixin padding-css {

@each $name, $value in $padding-sizes {
  .p-#{$name} {
    padding: #{$value};        
  }
}

@each $name, $value in $padding-sizes {
  .pt-#{$name} {
    padding-block-start: #{$value};        
  }
}

@each $name, $value in $padding-sizes {
  .pb-#{$name} {
    padding-block-end: #{$value};        
  }
}

@each $name, $value in $padding-sizes {
  .ps-#{$name} {
    padding-inline-start: #{$value};        
  }
}

@each $name, $value in $padding-sizes {
  .pe-#{$name} {
    padding-inline-end: #{$value};        
  }
}

@each $name, $value in $padding-sizes {
  .py-#{$name} {
    padding-block: #{$value};        
  }
}

@each $name, $value in $padding-sizes {
  .px-#{$name} {
    padding-inline: #{$value};        
  }
}

} // end padding-css
