//  ------------------------------------------------------------
//  Block
//  ------------------------------------------------------------
$block-values: (
  "block": block,
  "inline": inline,
  "block-inline": inline-block,
) !default;

@mixin block-css {
  @each $name, $value in $block-values {
    .#{$name} {
      display: #{$value};
    }
  }
}

@mixin block-xxl-css {
  @each $name, $value in $block-values {
    .#{$name}-xxl {
      display: #{$value};
    }
  }
}

@mixin block-xl-css {
  @each $name, $value in $block-values {
    .#{$name}-xl {
      display: #{$value};
    }
  }
}

@mixin block-lg-css {
  @each $name, $value in $block-values {
    .#{$name}-lg {
      display: #{$value};
    }
  }
}

@mixin block-md-css {
  @each $name, $value in $block-values {
    .#{$name}-md {
      display: #{$value};
    }
  }
}

@mixin block-sm-css {
  @each $name, $value in $block-values {
    .#{$name}-sm {
      display: #{$value};
    }
  }
}

@mixin block-xs-css {
  @each $name, $value in $block-values {
    .#{$name}-xs {
      display: #{$value};
    }
  }
}

@mixin block-xxs-css {
  @each $name, $value in $block-values {
    .#{$name}-xxs {
      display: #{$value};
    }
  }
}
