// ---------------------------------------------------------- 
// Columns
// ----------------------------------------------------------
$column-values: 12 !default;

@mixin columns-css {
  .columns {
    columns: var(--cols);
  }
  
  @for $value from 1 through $column-values {
    .columns-#{$value} {
      columns: $value;
    }
  }
}

@mixin columns-xxl-css {
  @for $value from 1 through $column-values {
    .columns-#{$value}-xxl {
      columns: $value;
    }
  }
}

@mixin columns-xl-css {
  @for $value from 1 through $column-values {
    .columns-#{$value}-xl {
      columns: $value;
    }
  }
}

@mixin columns-lg-css {
  @for $value from 1 through $column-values {
    .columns-#{$value}-lg {
      columns: $value;
    }
  }
}

@mixin columns-md-css {
  @for $value from 1 through $column-values {
    .columns-#{$value}-md {
      columns: $value;
    }
  }
}

@mixin columns-sm-css {
  @for $value from 1 through $column-values {
    .columns-#{$value}-sm {
      columns: $value;
    }
  }
}

@mixin columns-xs-css {
  @for $value from 1 through $column-values {
    .columns-#{$value}-xs {
      columns: $value;
    }
  }
}

@mixin columns-xxs-css {
  @for $value from 1 through $column-values {
    .columns-#{$value}-xxs {
      columns: $value;
    }
  }
}
