// ---------------------------------------------------------- 
// Containers
// ----------------------------------------------------------
$container-xl:  1600px !default;
$container-lg:  1280px !default;
$container-md:  1024px !default;
$container-sm:  768px !default;
$container-xs:  480px !default;

@mixin containers-css {

.container, .container-xl, .container-lg, .container-md, .container-sm, .container-xs {
  inline-size: 100%;
  max-inline-size: var(--size);
  margin-inline: var(--mx, auto);
  padding-inline: var(--px);
}

.container-xl {
  --size: #{$container-xl};
}

.container-lg {
  --size: #{$container-lg};
}

.container-md {
  --size: #{$container-md};
}

.container-sm {
  --size: #{$container-sm};
}

.container-xs {
  --size: #{$container-xs};
}

} // end containers-css
