// ---------------------------------------------------------- 
// Grids
// ----------------------------------------------------------
$grid-tokens:     where(html) !default;

$grid-utilities-values: (
  "grid": grid,
  "grid-inline": inline-grid,
) !default;

$grid-values: (
  "g-1": minmax(0, 1fr),
  "g-2": repeat(2, minmax(0, 1fr)),
  "g-3": repeat(3, minmax(0, 1fr)),
  "g-4": repeat(4, minmax(0, 1fr)),
  "g-5": repeat(5, minmax(0, 1fr)),
  "g-6": repeat(6, minmax(0, 1fr)),
  "g-7": repeat(7, minmax(0, 1fr)),
  "g-8": repeat(8, minmax(0, 1fr)),
  "g-9": repeat(9, minmax(0, 1fr)),
  "g-10": repeat(10, minmax(0, 1fr)),
  "g-11": repeat(11, minmax(0, 1fr)),
  "g-12": repeat(12, minmax(0, 1fr)),
) !default;

$autogrid-values: (
  "ga-1": auto,
  "ga-2": repeat(2, minmax(0, auto)),
  "ga-3": repeat(3, minmax(0, auto)),
  "ga-4": repeat(4, minmax(0, auto)),
  "ga-5": repeat(5, minmax(0, auto)),
  "ga-6": repeat(6, minmax(0, auto)),
  "ga-7": repeat(7, minmax(0, auto)),
  "ga-8": repeat(8, minmax(0, auto)),
  "ga-9": repeat(9, minmax(0, auto)),
  "ga-10": repeat(10, minmax(0, auto)),
  "ga-11": repeat(11, minmax(0, auto)),
  "ga-12": repeat(12, minmax(0, auto)),
) !default;


@mixin grid-utilities-css {
  @each $name, $value in $grid-utilities-values {
    .#{$name} {
      display: #{$value};        
    }
  }
}

@mixin grid-variables {
  @each $name, $value in $grid-values {
    --#{$name}: #{$value};
  }
}

@mixin grid-variables-css {
  :#{$grid-tokens} {
    @include grid-variables;
  }
}

@mixin autogrid-variables {
  @each $name, $value in $autogrid-values {
    --#{$name}: #{$value};
  }
}

@mixin autogrid-variables-css {
  :#{$grid-tokens} {
    @include autogrid-variables;
  }
}

@mixin allgrids-variables-css {
  :#{$grid-tokens} {
    @include grid-variables;
    @include autogrid-variables;
  }
}

@mixin grid-css {
  @each $name, $value in $grid-values {
    .#{$name} {
      grid-template-columns: var(--#{$name});        
    }
  }
}

@mixin autogrid-css {
  @each $name, $value in $autogrid-values {
    .#{$name} {
      grid-template-columns: var(--#{$name});        
    }
  }
}

// Breakpoints
@mixin grid-xxl-css {
  @each $name, $value in $grid-values {
    .#{$name}-xxl {
      grid-template-columns: var(--#{$name});        
    }
  }
}

@mixin autogrid-xxl-css {
  @each $name, $value in $autogrid-values {
    .#{$name}-xxl {
      grid-template-columns: var(--#{$name});        
    }
  }
}

@mixin grid-xl-css {
  @each $name, $value in $grid-values {
    .#{$name}-xl {
      grid-template-columns: var(--#{$name});        
    }
  }
}

@mixin autogrid-xl-css {
  @each $name, $value in $autogrid-values {
    .#{$name}-xl {
      grid-template-columns: var(--#{$name});        
    }
  }
}

@mixin grid-lg-css {
  @each $name, $value in $grid-values {
    .#{$name}-lg {
      grid-template-columns: var(--#{$name});        
    }
  }
}

@mixin autogrid-lg-css {
  @each $name, $value in $autogrid-values {
    .#{$name}-lg {
      grid-template-columns: var(--#{$name});        
    }
  }
}

@mixin grid-md-css {
  @each $name, $value in $grid-values {
    .#{$name}-md {
      grid-template-columns: var(--#{$name});        
    }
  }
}

@mixin autogrid-md-css {
  @each $name, $value in $autogrid-values {
    .#{$name}-md {
      grid-template-columns: var(--#{$name});        
    }
  }
}

@mixin grid-sm-css {
  @each $name, $value in $grid-values {
    .#{$name}-sm {
      grid-template-columns: var(--#{$name});        
    }
  }
}

@mixin autogrid-sm-css {
  @each $name, $value in $autogrid-values {
    .#{$name}-sm {
      grid-template-columns: var(--#{$name});        
    }
  }
}

@mixin grid-xs-css {
  @each $name, $value in $grid-values {
    .#{$name}-xs {
      grid-template-columns: var(--#{$name});        
    }
  }
}

@mixin autogrid-xs-css {
  @each $name, $value in $autogrid-values {
    .#{$name}-xs {
      grid-template-columns: var(--#{$name});        
    }
  }
}

@mixin grid-xxs-css {
  @each $name, $value in $grid-values {
    .#{$name}-xxs {
      grid-template-columns: var(--#{$name});        
    }
  }
}

@mixin autogrid-xxs-css {
  @each $name, $value in $autogrid-values {
    .#{$name}-xxs {
      grid-template-columns: var(--#{$name});        
    }
  }
}
