//  ------------------------------------------------------------
//  Inset
//  ------------------------------------------------------------
$inset-all:       inset;
$inset-block:     inset-block;
$inset-inline:    inset-inline;
$inset-top:       inset-block-start;
$inset-bottom:    inset-block-end;
$inset-left:      inset-inline-start;
$inset-right:     inset-inline-end;

$inset-values: (
  "all": $inset-all,
  "block": $inset-block,
  "inline": $inset-inline,
  "top": $inset-top,
  "bottom": $inset-bottom,
  "left": $inset-left,
  "right": $inset-right,
);

@mixin inset-css {  
  @each $name, $value in $inset-values {
    .inset-#{$name} {
      #{$value}: var(--#{$name}, 0);
    }

    .inset-#{$name}-initial {
      #{$value}: initial;
    }
  }
}

@mixin inset-xxl-css { 
  @each $name, $value in $inset-values {
    .inset-#{$name}-xxl {
      #{$value}: var(--#{$name}, 0);
    }

    .inset-#{$name}-initial-xxl {
      #{$value}: initial;
    }
  }
}

@mixin inset-xl-css { 
  @each $name, $value in $inset-values {
    .inset-#{$name}-xl {
      #{$value}: var(--#{$name}, 0);
    }

    .inset-#{$name}-initial-xl {
      #{$value}: initial;
    }
  }
}

@mixin inset-lg-css {  
  @each $name, $value in $inset-values {
    .inset-#{$name}-lg {
      #{$value}: var(--#{$name}, 0);
    }

    .inset-#{$name}-initial-lg {
      #{$value}: initial;
    }
  }
}

@mixin inset-md-css {  
  @each $name, $value in $inset-values {
    .inset-#{$name}-md {
      #{$value}: var(--#{$name}, 0);
    }

    .inset-#{$name}-initial-md {
      #{$value}: initial;
    }
  }
}

@mixin inset-sm-css {  
  @each $name, $value in $inset-values {
    .#{$name}-sm {
      #{$value}: var(--#{$name}, 0);
    }

    .#{$name}-initial-sm {
      #{$value}: initial;
    }
  }
}

@mixin inset-xs-css {  
  @each $name, $value in $inset-values {
    .#{$name}-xs {
      #{$value}: var(--#{$name}, 0);
    }

    .#{$name}-initial-xs {
      #{$value}: initial;
    }
  }
}

@mixin inset-xxs-css {  
  @each $name, $value in $inset-values {
    .#{$name}-xxs {
      #{$value}: var(--#{$name}, 0);
    }

    .#{$name}-initial-xxs {
      #{$value}: initial;
    }
  }
}
