// ------------------------------------------------------------
// Margins
// ------------------------------------------------------------
$margin-auto:   auto;
$margin-0:      0;
$margin-1:      0.25rem !default;
$margin-2:      0.5rem !default;
$margin-3:      1rem !default;
$margin-4:      1.5rem !default;
$margin-5:      2rem !default;

$margins-sizes: (
  "auto": $margin-auto,
  "0": $margin-0,
  "1": $margin-1,
  "2": $margin-2,
  "3": $margin-3,
  "4": $margin-4,
  "5": $margin-5,
) !default;

@mixin margins-css {
  @each $name, $value in $margins-sizes {
    .m-#{$name} {
      margin: #{$value};        
    }

    .mt-#{$name} {
      margin-block-start: #{$value};        
    }

    .mb-#{$name} {
      margin-block-end: #{$value};        
    }

    .ms-#{$name} {
      margin-inline-start: #{$value};        
    }

    .me-#{$name} {
      margin-inline-end: #{$value};        
    }

    .my-#{$name} {
      margin-block: #{$value};        
    }

    .mx-#{$name} {
      margin-inline: #{$value};        
    }
  }
}

// Breakpoints
// XXL
@mixin margins-xxl-css {
  @each $name, $value in $margins-sizes {
    .m-#{$name}-xxl {
      margin: #{$value};        
    }

    .mt-#{$name}-xxl {
      margin-block-start: #{$value};        
    }

    .mb-#{$name}-xxl {
      margin-block-end: #{$value};        
    }

    .ms-#{$name}-xxl {
      margin-inline-start: #{$value};        
    }

    .me-#{$name}-xxl {
      margin-inline-end: #{$value};        
    }

    .my-#{$name}-xxl {
      margin-block: #{$value};        
    }

    .mx-#{$name}-xxl {
      margin-inline: #{$value};        
    }
  }
}

// XL
@mixin margins-xl-css {
  @each $name, $value in $margins-sizes {
    .m-#{$name}-xl {
      margin: #{$value};        
    }

    .mt-#{$name}-xl {
      margin-block-start: #{$value};        
    }

    .mb-#{$name}-xl {
      margin-block-end: #{$value};        
    }

    .ms-#{$name}-xl {
      margin-inline-start: #{$value};        
    }

    .me-#{$name}-xl {
      margin-inline-end: #{$value};        
    }

    .my-#{$name}-xl {
      margin-block: #{$value};        
    }

    .mx-#{$name}-xl {
      margin-inline: #{$value};        
    }
  }
}

// LG
@mixin margins-lg-css {
  @each $name, $value in $margins-sizes {
    .m-#{$name}-lg {
      margin: #{$value};        
    }

    .mt-#{$name}-lg {
      margin-block-start: #{$value};        
    }

    .mb-#{$name}-lg {
      margin-block-end: #{$value};        
    }

    .ms-#{$name}-lg {
      margin-inline-start: #{$value};        
    }

    .me-#{$name}-lg {
      margin-inline-end: #{$value};        
    }

    .my-#{$name}-lg {
      margin-block: #{$value};        
    }

    .mx-#{$name}-lg {
      margin-inline: #{$value};        
    }
  }
}

// MD
@mixin margins-md-css {
  @each $name, $value in $margins-sizes {
    .m-#{$name}-md {
      margin: #{$value};        
    }

    .mt-#{$name}-md {
      margin-block-start: #{$value};        
    }

    .mb-#{$name}-md {
      margin-block-end: #{$value};        
    }

    .ms-#{$name}-md {
      margin-inline-start: #{$value};        
    }

    .me-#{$name}-md {
      margin-inline-end: #{$value};        
    }

    .my-#{$name}-md {
      margin-block: #{$value};        
    }

    .mx-#{$name}-md {
      margin-inline: #{$value};        
    }
  }
}

// SM
@mixin margins-sm-css {
  @each $name, $value in $margins-sizes {
    .m-#{$name}-sm {
      margin: #{$value};        
    }

    .mt-#{$name}-sm {
      margin-block-start: #{$value};        
    }

    .mb-#{$name}-sm {
      margin-block-end: #{$value};        
    }

    .ms-#{$name}-sm {
      margin-inline-start: #{$value};        
    }

    .me-#{$name}-sm {
      margin-inline-end: #{$value};        
    }

    .my-#{$name}-sm {
      margin-block: #{$value};        
    }

    .mx-#{$name}-sm {
      margin-inline: #{$value};        
    }
  }
}


// XS
@mixin margins-xs-css {
  @each $name, $value in $margins-sizes {
    .m-#{$name}-xs {
      margin: #{$value};        
    }

    .mt-#{$name}-xs {
      margin-block-start: #{$value};        
    }

    .mb-#{$name}-xs {
      margin-block-end: #{$value};        
    }

    .ms-#{$name}-xs {
      margin-inline-start: #{$value};        
    }

    .me-#{$name}-xs {
      margin-inline-end: #{$value};        
    }

    .my-#{$name}-xs {
      margin-block: #{$value};        
    }

    .mx-#{$name}-xs {
      margin-inline: #{$value};        
    }
  }
}

// XXS
@mixin margins-xxs-css {
  @each $name, $value in $margins-sizes {
    .m-#{$name}-xxs {
      margin: #{$value};        
    }

    .mt-#{$name}-xxs {
      margin-block-start: #{$value};        
    }

    .mb-#{$name}-xxs {
      margin-block-end: #{$value};        
    }

    .ms-#{$name}-xxs {
      margin-inline-start: #{$value};        
    }

    .me-#{$name}-xxs {
      margin-inline-end: #{$value};        
    }

    .my-#{$name}-xxs {
      margin-block: #{$value};        
    }

    .mx-#{$name}-xxs {
      margin-inline: #{$value};        
    }
  }
}
