//  ------------------------------------------------------------
//  Order
//  ------------------------------------------------------------
$order-first:     calc(-infinity) !default;
$order-last:      calc(infinity) !default;
$order-0:         0 !default;
$order-1:         1 !default;
$order-2:         2 !default;
$order-3:         3 !default;
$order-4:         4 !default;
$order-5:         5 !default;
$order-initial:   initial !default;
$order-inline:    var(--order) !default;

$order-values: (
  "first": $order-first,
  "last": $order-last,
  "0": $order-0,
  "1": $order-1,
  "2": $order-2,
  "3": $order-3,
  "4": $order-4,
  "5": $order-5,
  "initial": $order-initial,
  "inline": $order-inline,
) !default;

@mixin order-css {
  @each $name, $value in $order-values {
  .order-#{$name} {
      order: #{$value};        
    }
  }
}

@mixin order-xxl-css {
  @each $name, $value in $order-values {
  .order-#{$name}-xxl {
      order: #{$value};        
    }
  }
}

@mixin order-xl-css {
  @each $name, $value in $order-values {
  .order-#{$name}-xl {
      order: #{$value};        
    }
  }
}

@mixin order-lg-css {
  @each $name, $value in $order-values {
  .order-#{$name}-lg {
      order: #{$value};        
    }
  }
}

@mixin order-md-css {
  @each $name, $value in $order-values {
  .order-#{$name}-md {
      order: #{$value};        
    }
  }
}

@mixin order-sm-css {
  @each $name, $value in $order-values {
  .order-#{$name}-sm {
      order: #{$value};        
    }
  }
}

@mixin order-xs-css {
  @each $name, $value in $order-values {
  .order-#{$name}-xs {
      order: #{$value};        
    }
  }
}

@mixin order-xxs-css {
  @each $name, $value in $order-values {
  .order-#{$name}-xxs {
      order: #{$value};        
    }
  }
}
