//  ------------------------------------------------------------
//  Overscroll behavior
//  ------------------------------------------------------------
$overscroll-values: (
  "overscroll-auto": auto,
  "overscroll-contain": contain,
  "overscroll-initial": initial,
) !default;

@mixin overscroll-css {
  @each $name, $value in $overscroll-values {
    .#{$name} {
      overscroll-behavior: #{$value};
    }
  }
}

// Breakpoint XXL
@mixin overscroll-xxl-css {
  @each $name, $value in $overscroll-values {
    .#{$name}-xxl {
      overscroll-behavior: #{$value};
    }
  }
}

// Breakpoint XL
@mixin overscroll-xl-css {
  @each $name, $value in $overscroll-values {
    .#{$name}-xl {
      overscroll-behavior: #{$value};
    }
  }
}

// Breakpoint LG
@mixin overscroll-lg-css {
  @each $name, $value in $overscroll-values {
    .#{$name}-lg {
      overscroll-behavior: #{$value};
    }
  }
}

// Breakpoint MD
@mixin overscroll-md-css {
  @each $name, $value in $overscroll-values {
    .#{$name}-md {
      overscroll-behavior: #{$value};
    }
  }
}

// Breakpoint SM
@mixin overscroll-sm-css {
  @each $name, $value in $overscroll-values {
    .#{$name}-sm {
      overscroll-behavior: #{$value};
    }
  }
}

// Breakpoint XS
@mixin overscroll-xs-css {
  @each $name, $value in $overscroll-values {
    .#{$name}-xs {
      overscroll-behavior: #{$value};
    }
  }
}

// Breakpoint XXS
@mixin overscroll-xxs-css {
  @each $name, $value in $overscroll-values {
    .#{$name}-xxs {
      overscroll-behavior: #{$value};
    }
  }
}
