// ------------------------------------------------------------
// Padding
// ------------------------------------------------------------
$padding-0: 0;
$padding-1: 0.25rem !default;
$padding-2: 0.5rem !default;
$padding-3: 1rem !default;
$padding-4: 1.5rem !default;
$padding-5: 2rem !default;

$padding-sizes: (
  "0": $padding-0,
  "1": $padding-1,
  "2": $padding-2,
  "3": $padding-3,
  "4": $padding-4,
  "5": $padding-5,
) !default;

@mixin padding-css {
  @each $name, $value in $padding-sizes {
    .p-#{$name} {
      padding: #{$value};        
    }

    .pt-#{$name} {
      padding-block-start: #{$value};        
    }

    .pb-#{$name} {
      padding-block-end: #{$value};        
    }

    .ps-#{$name} {
      padding-inline-start: #{$value};        
    }

    .pe-#{$name} {
      padding-inline-end: #{$value};        
    }

    .py-#{$name} {
      padding-block: #{$value};        
    }

    .px-#{$name} {
      padding-inline: #{$value};        
    }
  }
}

// Breakpoints
// XXL
@mixin padding-xxl-css {
  @each $name, $value in $padding-sizes {
    .p-#{$name}-xxl {
      padding: #{$value};        
    }

    .pt-#{$name}-xxl {
      padding-block-start: #{$value};        
    }

    .pb-#{$name}-xxl {
      padding-block-end: #{$value};        
    }

    .ps-#{$name}-xxl {
      padding-inline-start: #{$value};        
    }

    .pe-#{$name}-xxl {
      padding-inline-end: #{$value};        
    }

    .py-#{$name}-xxl {
      padding-block: #{$value};        
    }

    .px-#{$name}-xxl {
      padding-inline: #{$value};        
    }
  }
}

// XL
@mixin padding-xl-css {
  @each $name, $value in $padding-sizes {
    .p-#{$name}-xl {
      padding: #{$value};        
    }

    .pt-#{$name}-xl {
      padding-block-start: #{$value};        
    }

    .pb-#{$name}-xl {
      padding-block-end: #{$value};        
    }

    .ps-#{$name}-xl {
      padding-inline-start: #{$value};        
    }

    .pe-#{$name}-xl {
      padding-inline-end: #{$value};        
    }

    .py-#{$name}-xl {
      padding-block: #{$value};        
    }

    .px-#{$name}-xl {
      padding-inline: #{$value};        
    }
  }
}

// LG
@mixin padding-lg-css {
  @each $name, $value in $padding-sizes {
    .p-#{$name}-lg {
      padding: #{$value};        
    }

    .pt-#{$name}-lg {
      padding-block-start: #{$value};        
    }

    .pb-#{$name}-lg {
      padding-block-end: #{$value};        
    }

    .ps-#{$name}-lg {
      padding-inline-start: #{$value};        
    }

    .pe-#{$name}-lg {
      padding-inline-end: #{$value};        
    }

    .py-#{$name}-lg {
      padding-block: #{$value};        
    }

    .px-#{$name}-lg {
      padding-inline: #{$value};        
    }
  }
}

// MD
@mixin padding-md-css {
  @each $name, $value in $padding-sizes {
    .p-#{$name}-md {
      padding: #{$value};        
    }

    .pt-#{$name}-md {
      padding-block-start: #{$value};        
    }

    .pb-#{$name}-md {
      padding-block-end: #{$value};        
    }

    .ps-#{$name}-md {
      padding-inline-start: #{$value};        
    }

    .pe-#{$name}-md {
      padding-inline-end: #{$value};        
    }

    .py-#{$name}-md {
      padding-block: #{$value};        
    }

    .px-#{$name}-md {
      padding-inline: #{$value};        
    }
  }
}

// SM
@mixin padding-sm-css {
  @each $name, $value in $padding-sizes {
    .p-#{$name}-sm {
      padding: #{$value};        
    }

    .pt-#{$name}-sm {
      padding-block-start: #{$value};        
    }

    .pb-#{$name}-sm {
      padding-block-end: #{$value};        
    }

    .ps-#{$name}-sm {
      padding-inline-start: #{$value};        
    }

    .pe-#{$name}-sm {
      padding-inline-end: #{$value};        
    }

    .py-#{$name}-sm {
      padding-block: #{$value};        
    }

    .px-#{$name}-sm {
      padding-inline: #{$value};        
    }
  }
}

// XS
@mixin padding-xs-css {
  @each $name, $value in $padding-sizes {
    .p-#{$name}-xs {
      padding: #{$value};        
    }

    .pt-#{$name}-xs {
      padding-block-start: #{$value};        
    }

    .pb-#{$name}-xs {
      padding-block-end: #{$value};        
    }

    .ps-#{$name}-xs {
      padding-inline-start: #{$value};        
    }

    .pe-#{$name}-xs {
      padding-inline-end: #{$value};        
    }

    .py-#{$name}-xs {
      padding-block: #{$value};        
    }

    .px-#{$name}-xs {
      padding-inline: #{$value};        
    }
  }
}
// XXS
@mixin padding-xxs-css {
  @each $name, $value in $padding-sizes {
    .p-#{$name}-xxs {
      padding: #{$value};        
    }

    .pt-#{$name}-xxs {
      padding-block-start: #{$value};        
    }

    .pb-#{$name}-xxs {
      padding-block-end: #{$value};        
    }

    .ps-#{$name}-xxs {
      padding-inline-start: #{$value};        
    }

    .pe-#{$name}-xxs {
      padding-inline-end: #{$value};        
    }

    .py-#{$name}-xxs {
      padding-block: #{$value};        
    }

    .px-#{$name}-xxs {
      padding-inline: #{$value};        
    }
  }
}
