//  ------------------------------------------------------------
//  Z-index
//  ------------------------------------------------------------
$z-n:   -1;
$z-0:   0;
$z-1:   100;
$z-2:   200;
$z-3:   300;
$z-4:   400;
$z-top: 10000;

$z-index-value: (
  "z-n": $z-n,
  "z-0": $z-0,
  "z-1": $z-1,
  "z-2": $z-2,
  "z-3": $z-3,
  "z-4": $z-4,
  "z-top": $z-top,
) !default;

@mixin z-index-css { 
  @each $name, $value in $z-index-value {
    .#{$name} {
      z-index: #{$value};
    }
  }
}

@mixin z-index-xxl-css {  
  @each $name, $value in $z-index-value {
    .#{$name}-xxl {
      z-index: #{$value};
    }
  }
}

@mixin z-index-xl-css {  
  @each $name, $value in $z-index-value {
    .#{$name}-xl {
      z-index: #{$value};
    }
  }
}

@mixin z-index-lg-css {  
  @each $name, $value in $z-index-value {
    .#{$name}-lg {
      z-index: #{$value};
    }
  }
}

@mixin z-index-md-css {  
  @each $name, $value in $z-index-value {
    .#{$name}-md {
      z-index: #{$value};
    }
  }
}

@mixin z-index-sm-css {  
  @each $name, $value in $z-index-value {
    .#{$name}-sm {
      z-index: #{$value};
    }
  }
}

@mixin z-index-xs-css {  
  @each $name, $value in $z-index-value {
    .#{$name}-xs {
      z-index: #{$value};
    }
  }
}

@mixin z-index-xss-css {  
  @each $name, $value in $z-index-value {
    .#{$name}-xxs {
      z-index: #{$value};
    }
  }
}
