//  ------------------------------------------------------------
//  Z-index
//  ------------------------------------------------------------
$zindex-neg:      -1 !default;
$zindex-0:        0;
$zindex-100:      100 !default;
$zindex-200:      200 !default;
$zindex-300:      300 !default;
$zindex-400:      400 !default;
$zindex-500:      500 !default;
$zindex-top:      calc(infinity) !default;
$zindex-inline:   var(--zindex) !default;

$zindex-values: (
  "z-neg": $zindex-neg,
  "z-0": $zindex-0,
  "z-100": $zindex-100,
  "z-200": $zindex-200,
  "z-300": $zindex-300,
  "z-400": $zindex-400,
  "z-500": $zindex-500,
  "z-top": $zindex-top,
  "z-index": $zindex-inline,  
) !default;

@mixin z-index-css { 
  @each $name, $value in $zindex-values {
    .#{$name} {
      z-index: #{$value};
    }
  }
}

@mixin z-index-xxl-css {  
  @each $name, $value in $zindex-values {
    .#{$name}-xxl {
      z-index: #{$value};
    }
  }
}

@mixin z-index-xl-css {  
  @each $name, $value in $zindex-values {
    .#{$name}-xl {
      z-index: #{$value};
    }
  }
}

@mixin z-index-lg-css {  
  @each $name, $value in $zindex-values {
    .#{$name}-lg {
      z-index: #{$value};
    }
  }
}

@mixin z-index-md-css {  
  @each $name, $value in $zindex-values {
    .#{$name}-md {
      z-index: #{$value};
    }
  }
}

@mixin z-index-sm-css {  
  @each $name, $value in $zindex-values {
    .#{$name}-sm {
      z-index: #{$value};
    }
  }
}

@mixin z-index-xs-css {  
  @each $name, $value in $zindex-values {
    .#{$name}-xs {
      z-index: #{$value};
    }
  }
}

@mixin z-index-xxs-css {  
  @each $name, $value in $zindex-values {
    .#{$name}-xxs {
      z-index: #{$value};
    }
  }
}
