// ---------------------------------------------------------- 
// List groups
// ----------------------------------------------------------
$list-group-text-color:           var(--list-group-txt) !default;
$list-group-background-color:     var(--list-group-bg) !default;
$list-links-background-hover:     var(--list-group-hover, color-mix(in srgb, CanvasText 3%, Canvas)) !default;
$list-group-padding-block:        var(--list-group-py, 0.5rem) !default;
$list-group-padding-inline:       var(--list-group-px, 0.75rem) !default;
$list-group-border-color:         var(--list-group-bd-color, color-mix(in srgb, CanvasText 12%, Canvas)) !default;
$list-group-radius:               var(--list-group-radius, 0.188rem) !default;
$list-group-inner-radius:         calc(var(--list-group-radius, 0.188rem) - 1px) !default;
$list-group-dt-font-weight:       var(--dt-fw) !default;
$list-group-dt-background-color:  var(--list-group-dt-bg, color-mix(in srgb, CanvasText 5%, Canvas)) !default;

@mixin list-groups-css {

:where(.list-group, .list-links) {
  --list-group-inner-radius: #{$list-group-inner-radius};
  color: #{$list-group-text-color};
  max-inline-size: var(--list-group-width);
  border: 1px solid #{$list-group-border-color};
  border-radius: #{$list-group-radius};
  background-color: #{$list-group-background-color};
}

:where(.list-group, .list-links):is(ul, ol) {
  list-style-type: "";
  padding-inline-start: 0;
}

:where(.list-group, .list-links) dd {
  margin-inline-start: 0;
}

:where(.list-group, .list-links) :is(li, dd):not(:last-child) {
  border-block-end: 1px solid #{$list-group-border-color};
}

:where(.list-group :is(li, dt, dd), .list-links dt) {
  padding-block: #{$list-group-padding-block};
  padding-inline: #{$list-group-padding-inline};
}

:where(.list-group, .list-links) dt {
  font-weight: #{$list-group-dt-font-weight};
  border-block-end: 1px solid #{$list-group-border-color};
  background-color: #{$list-group-dt-background-color};
}

:where(.list-group, .list-links) dt:first-child {
  border-radius: var(--list-group-inner-radius) var(--list-group-inner-radius) 0 0;
}

// List links
:where(.list-links a) {
  text-decoration: none;
  display: block;
  padding-block: #{$list-group-padding-block};
  padding-inline: #{$list-group-padding-inline};
}

:where(.list-links a:is(:hover, :focus)) {
  background-color: #{$list-links-background-hover};
}

:where(.list-links a:focus-visible) {
  outline: none;
}

:where(.list-links *:first-child a:is(:hover, :focus)) {
  border-radius: var(--list-group-inner-radius) var(--list-group-inner-radius) 0 0;
}

:where(.list-links *:last-child a:is(:hover, :focus)) {
  border-radius: 0 0 var(--list-group-inner-radius) var(--list-group-inner-radius);
}

// Ordered lists, inserts counter-increment to replace list-style-type.
:where(.list-group, .list-links) ol {
  counter-reset: ol-list;
}

:where(.list-group, .list-links):is(ol) li {
  counter-increment: ol-list;
}

:where(.list-group):is(ol) li:before {
  content: counter(ol-list) ". "; 
  margin-inline-end: 0.25rem;
}

:where(.list-links):is(ol) li a:before {
  content: counter(ol-list) ". "; 
  margin-inline-end: 0.25rem;
}

}
