// ---------------------------------------------------------- 
// Badges
// ----------------------------------------------------------
$badge-text-color:        var(--badge-text, CanvasText) !default;
$badge-font-size:         var(--badge-fs, 0.65em) !default;
$badge-font-weight:       var(--badge-fw, 600) !default;
$badge-padding-block:     var(--badge-py, 0.375em) !default;
$badge-padding-inline:    var(--badge-px, 0.65em) !default;
$badge-border-color:      var(--badge-bd-color, color-mix(in srgb, CanvasText 13%, Canvas)) !default;
$badge-radius:            var(--badge-radius, 0.188rem) !default;
$badge-background-color:  var(--badge-bg, color-mix(in srgb, CanvasText 4%, Canvas)) !default;

@mixin badges-css {

:where(.badge),
:where([class*="badge-"]) {
  color: $badge-text-color;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  text-align: center;
  line-height: 1;
  position: relative;
  inset-block-start: -0.125em;
  display: inline-block;
  vertical-align: baseline;
  padding-block: $badge-padding-block;
  padding-inline: $badge-padding-inline;
  border: 1px solid $badge-border-color;
  border-radius: $badge-radius;
  background-color: $badge-background-color;
}

.badge-light {
  color-scheme: light;
}

.badge-dark {
  color-scheme: dark;
}

} // end badges-css
