// ---------------------------------------------------------- 
// Buttons
// ----------------------------------------------------------
$btn-text-color:            var(--btn-text, CanvasText) !default;
$btn-font-size:             var(--btn-fs, inherit) !default;
$btn-padding-block:         var(--btn-py, 0.313rem) !default;
$btn-padding-inline:        var(--btn-px, 0.9rem) !default;  
$btn-border-color:          var(--btn-bd-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))) !default;
$btn-radius:                var(--btn-radius, 0.188rem) !default;
$btn-background-color:      var(--btn-bg, color-mix(in srgb, CanvasText 4%, var(--background, Canvas))) !default;
$btn-background-hover:      var(--btn-hover, color-mix(in srgb, CanvasText 8%, var(--background, Canvas))) !default;
$btn-focus-shadow:          var(--focus-shadow, 0 0 0 0.06rem) !default;
$btn-focus-shadow-color:    var(--focus-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))) !default;

// Sizes
$btn-xs-font-size:          0.75em !default;
$btn-xs-padding-block:      0.188rem !default;
$btn-xs-padding-inline:     0.625rem !default; 
$btn-sm-font-size:          0.88em !default;
$btn-sm-padding-block:      0.25rem !default;
$btn-sm-padding-inline:     0.75rem !default;   
$btn-lg-font-size:          1.1em !default;
$btn-lg-padding-block:      0.4rem !default;
$btn-lg-padding-inline:     1rem !default; 
$btn-xl-font-size:          1.25em !default;
$btn-xl-padding-block:      0.5rem !default;
$btn-xl-padding-inline:     1.125rem !default;

// Pagination buttons
$btn-pagination-previous:   url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m6 8 4-4v8z'/></svg>") !default;
$btn-pagination-next:       url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m10 8-4 4-9e-7 -8z'/></svg>");
$btn-pagination-up:         url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m8 6 4 4-8 7e-7z'/></svg>") !default;
$btn-pagination-down:       url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m8 10-4-4h8z'/></svg>") !default;

// Button sizes
@mixin button-sizes($font-size, $padding-y, $padding-x) {
  --btn-fs: #{$font-size};
  --btn-py: #{$padding-y};
  --btn-px: #{$padding-x};
}

@mixin buttons-css {

.btn {
  color: $btn-text-color;
  font-size: $btn-font-size;
  line-height: inherit;
  text-align: center;
  text-decoration: none;
  display: var(--btn-d, inline-block); 
  padding-block: $btn-padding-block;
  padding-inline: $btn-padding-inline;  
  border: 1px solid $btn-border-color;
  border-radius: $btn-radius;
  background-color: $btn-background-color;
  cursor: pointer;
  -webkit-appearance: button;
}

.btn:is(:hover, :focus, :active) {
  color: $btn-text-color;
  background-color: $btn-background-hover;
}

.btn:focus {
  outline: none;
  box-shadow: $btn-focus-shadow $btn-focus-shadow-color;
}

.btn:focus:not(:focus-visible) {  
  box-shadow: none;
  background-color: $btn-background-color;
}
  
.btn:focus:not(:focus-visible):hover {
  background-color: $btn-background-hover;
}

.btn-outline {
  --btn-bg: transparent;
}

// Button sizes
.btn-xs {
  @include button-sizes($btn-xs-font-size, $btn-xs-padding-block, $btn-xs-padding-inline);
}

.btn-sm {
  @include button-sizes($btn-sm-font-size, $btn-sm-padding-block, $btn-sm-padding-inline);
}

.btn-lg {
  @include button-sizes($btn-lg-font-size, $btn-lg-padding-block, $btn-lg-padding-inline);
}

.btn-xl {
  @include button-sizes($btn-xl-font-size, $btn-xl-padding-block, $btn-xl-padding-inline);
}

.btn-img {
  padding: 0;
}

.btn-img img {
  border-radius: calc($btn-radius - 1px);
}

.btn-img:hover {
  cursor: zoom-in;
}

// Button groups
.btn-group, .btn-group-column {
  display: flex;
}

:where(.btn-group, .btn-group-column, .btn-flex, .btn-flex-column):is(ol, ul) {
  list-style-type: "";
  padding-inline-start: 0;
}

:is(.btn-group, .btn-group-column) *,
:is(.btn-group, .btn-group-column) *:is(li) :is(.btn, button) {
  border-radius: 0;
}

:is(.btn-group, .btn-group-column) :focus {
  box-shadow: none;
}

:where(.btn-group, .btn-group-column, .btn-flex, .btn-flex-column) [aria-current="page"] {
  color: $btn-text-color;
  background-color: $btn-background-hover;
}

.btn-group *:not(:first-child) {
  margin-inline-start: -1px;
}

.btn-group *:first-child,
.btn-group *:is(li):first-child * {
  border-start-start-radius: $btn-radius;
  border-end-start-radius: $btn-radius;
}

.btn-group *:last-child,
.btn-group *:is(li):last-child * {
  border-start-end-radius: $btn-radius;
  border-end-end-radius: $btn-radius;
}

.btn-group-column {
  flex-direction: column;
  inline-size: fit-content;
}

.btn-group-column *:not(:first-child) {
  margin-block-start: -1px;
}

.btn-group-column *:first-child,
.btn-group-column *:is(li):first-child * {
  border-start-start-radius: $btn-radius;
  border-start-end-radius: $btn-radius;
}

.btn-group-column *:last-child,
.btn-group-column *:is(li):last-child * {
  border-end-start-radius: $btn-radius;
  border-end-end-radius: $btn-radius;
}

.btn-flex, .btn-flex-column {
  display: flex;
  gap: var(--btn-gap, 0.33rem);
}

.btn-flex {
  flex-wrap: wrap;
}

.btn-flex-column {
  flex-direction: column;
  inline-size: fit-content;
}

.btn-previous, .btn-next, .btn-up, .btn-down, .btn-ico {
  padding-inline: calc($btn-padding-inline * 0.66); 
}

:where(.btn-previous, .btn-next, .btn-up, .btn-down):before {
  display: inline-block;
  content: "";
  block-size: 1em;
  inline-size: 1em;  
  vertical-align: -0.115em;
  background-color: $btn-text-color;
  mask-image: var(--svg);
  mask-repeat: no-repeat;
}

.btn-previous {
  --svg: #{$btn-pagination-previous};
}

.btn-next {
  --svg: #{$btn-pagination-next};
}

.btn-up {
  --svg: #{$btn-pagination-up};
}

.btn-down {
  --svg: #{$btn-pagination-down};
}

:is(.btn-previous, .btn-next, .btn-up, .btn-down) span {
  position: absolute;
  block-size: 1px;
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.btn-light {
  color-scheme: light;
}

.btn-dark {
  color-scheme: dark;
}

} // end buttons-css
