// ---------------------------------------------------------- 
// Cards
// ----------------------------------------------------------
$card-text-color:             var(--card-text, inherit) !default; 
$card-padding-block:          var(--card-py, 1rem) !default;
$card-padding-inline:         var(--card-px, 1rem) !default;
$card-border-color:           var(--card-bd-color, color-mix(in srgb, CanvasText 15%, Canvas)) !default;
$card-radius:                 var(--card-radius, 0.188rem) !default;
$card-background-color:       var(--card-bg) !default;
$card-link-hover-text-color:  var(--card-text-hover, inherit) !default;
$card-link-hover-background:  var(--card-hover, color-mix(in srgb, CanvasText 4%, Canvas)) !default;
$card-link-focus-width:       var(--card-focus, 0.188rem) !default;
$card-link-focus-color:       var(--card-focus-color, color-mix(in srgb, CanvasText 15%, Canvas)) !default;

@mixin cards-css {

:where(.card, .card-link) {
  color: $card-text-color; 
  max-inline-size: var(--card-width); 
  padding-block: $card-padding-block;
  padding-inline: $card-padding-inline;
  border: 1px solid $card-border-color;
  border-radius: $card-radius;
  background-color: $card-background-color;
}

:where(.card, .card-link) * {
  text-align: var(--card-align, initial);
  text-wrap: var(--card-wrap, initial);
}

:where(.card, .card-link) p:not(:last-child) {
  margin-block-end: var(--card-p-mb, 0.5rem);
}

:where(.card-link) {
  position: relative;
}

:where(.card :last-child, .card-link :last-child)  {
  margin-block-end: 0;
}

:where(.card, .card-link:is(:last-child))  {
  margin-block-end: 0;
}

.card-link a:after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}

:where(.card-link :focus-visible) {
  outline: none;
}

:where(.card-link:is(:focus-within, :hover)) {
  color: $card-link-hover-text-color;
  background-color: $card-link-hover-background;
  cursor: pointer;
}

:where(.card-link:focus-within) {
  outline: $card-link-focus-width solid $card-link-focus-color;
}

:where(.card, .card-link) img {
  display: block;
  max-inline-size: 100%;
  object-fit: cover;
  aspect-ratio: var(--img-ratio, auto);
  block-size: 100%;
  margin-block-end: var(--card-img-mb, 0.75rem);
}

} // end cards-css
