// ---------------------------------------------------------- 
// Dialogs
// ----------------------------------------------------------
$dialog-text-color:         var(--dialog-text) !default;
$dialog-margin-top:         var(--dialog-mt, 1rem) !default;
$dialog-padding-block:      var(--dialog-py, 0.75rem) !default;
$dialog-padding-inline:     var(--dialog-px, 1rem) !default;
$dialog-border-color:       var(--dialog-bd-color, color-mix(in srgb, CanvasText 15%, Canvas)) !default;
$dialog-radius:             var(--dialog-radius, 0.125em) !default;
$dialog-background-color:   var(--dialog-bg, Canvas) !default; 
$dialog-transition:         var(--dialog-transition, 0.25s) !default;
$dialog-backdrop:           color-mix(in srgb, black 50%, transparent) !default;

@mixin dialogs-css {

:where(dialog) {
  color: $dialog-text-color;
  block-size: fit-content;
  max-block-size: calc(100vh - 2rem);
  inline-size: calc((100% - 6px) - 2em);
  max-inline-size: var(--dialog-width, fit-content);
  margin-block-start: $dialog-margin-top;
  padding-block: $dialog-padding-block;
  padding-inline: $dialog-padding-inline;
  border: 1px solid $dialog-border-color;
  border-radius: $dialog-radius;
  background-color: $dialog-background-color; 
  overflow: auto;
  overscroll-behavior: contain; 
}

dialog div[class="close-dialog"] {
  position: fixed;
  inset: 0;
  z-index: -1;
  display: block;
  content: "";
}

dialog[open]::backdrop {
  background-color: $dialog-backdrop;
}

// Offcanvas
.dialog-offcanvas-start, .dialog-offcanvas-end {
  --dialog-width: 24rem;
  --dialog-radius: 0;
  margin: 0;
  block-size: 100dvh;
  max-block-size: 100%;
  border: none;
}

.dialog-offcanvas-start {
  margin-inline-end: auto;
  border-inline-end: 1px solid $dialog-border-color;
}

.dialog-offcanvas-end {
  margin-inline-start: auto;
  border-inline-start: 1px solid $dialog-border-color;
}

} // end dialogs-css

@mixin dialogs-animation-css {

@media screen and (prefers-reduced-motion: no-preference) {
  dialog[open] {
    transition: $dialog-transition;
    opacity: 1; 
  }
}

@starting-style {
  dialog[open] {
    opacity: 0;    
  }
}

}