// ---------------------------------------------------------- 
// Accessibility
// ----------------------------------------------------------

@mixin smooth-scroll-css {
  :where(html) {
    scroll-behavior: smooth;
  }
}

@mixin view-transition-css {
  @view-transition {
    navigation: auto;
  }
}

@mixin smooth-scroll-no-preference-css {
  @media (prefers-reduced-motion: no-preference) { 
    @include smooth-scroll-css;
  }
}

@mixin view-transition-no-preference-css {
  @media (prefers-reduced-motion: no-preference) { 
    @include view-transition-css;
  }
}

@mixin combined-motion-no-preference-css {
  @media (prefers-reduced-motion: no-preference) { 
    @include smooth-scroll-css;
    @include view-transition-css;
  }
}

@mixin vis-hidden-mixin {
  position: absolute;
  block-size: 1px;
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

@mixin vis-hidden-css {
  .vis-hidden, .vis-hidden-focus:not(:focus):not(:focus-within) {
    @include vis-hidden-mixin;
  }
}
