// ---------------------------------------------------------- 
// Badges
// ----------------------------------------------------------

@mixin badges-css {

:where(.badge) {
  color: var(--badge-txt, inherit);
  font-size: var(--badge-fs, 0.65em);
  font-weight: var(--badge-fw, 600);
  text-align: center;
  line-height: 1;
  position: relative;
  inset-block-start: -1px;
  display: inline-block;
  vertical-align: baseline;
  padding-block: var(--badge-py, 0.375em);
  padding-inline: var(--badge-px, 0.65em);
  border-radius: var(--badge-radius, 0.188rem);
  background-color: var(--badge-bg, color-mix(in srgb, CanvasText 5%, Canvas));
}

:where(button, [type=button]) .badge {
  inset-block-start: -2px;
  background-color: var(--badge-bg, color-mix(in srgb, CanvasText 7%, Canvas));
}

} // end badges-css
