// ---------------------------------------------------------- 
// Buttons
// ----------------------------------------------------------

@mixin buttons-css {

.btn {
  color: var(--btn-color, CanvasText);
  font-size: var(--btn-fs, inherit);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block; 
  padding-block: var(--btn-py, 0.313rem);
  padding-inline: var(--btn-px, 0.75rem);  
  border: 1px solid var(--btn-bd-color, color-mix(in srgb, CanvasText 12%, Canvas));
  border-radius: var(--btn-radius, 0.125em);
  background-color: var(--btn-bg, color-mix(in srgb, CanvasText 3%, Canvas));
  -webkit-appearance: button;
}

.btn:is(:hover, :focus) { 
  background-color: var(--btn-hover, color-mix(in srgb, CanvasText 6%, Canvas));
}

.btn:focus {
  outline: none;
  box-shadow: var(--btn-focus, 0 0 0 0.12rem) var(--btn-focus-color, color-mix(in srgb, CanvasText 16%, Canvas));
}

.btn:focus:not(:focus-visible) {
  box-shadow: none;
}

.btn:focus:not(:focus-visible) {  
  background-color: var(--btn-bg, color-mix(in srgb, CanvasText 3%, Canvas));
}
  
.btn:focus:not(:focus-visible):hover {
  background-color: var(--btn-hover, color-mix(in srgb, CanvasText 6%, Canvas));
}

.btn-xs {
  --btn-fs: 0.75em;
  --btn-py: .15rem;
  --btn-px: .35rem;
}

.btn-sm {
  --btn-fs: 0.88em;
  --btn-py: .25rem;
  --btn-px: .5rem;
}

.btn-lg {
  --btn-fs: 1.1em;
  --btn-py: .35rem;
  --btn-px: .85rem;
}

.btn-xl {
  --btn-fs: 1.25em;
  --btn-py: .5rem;
  --btn-px: 1rem;
}

.btn-group {
  display: flex;
}

.btn-group * {
  border-radius: 0;
}

.btn-group *:not(:first-child) {
  margin-inline-start: calc(1px * -1);
}

.btn-group *:first-child {
  border-start-start-radius: var(--btn-radius);
  border-end-start-radius: var(--btn-radius);
}

.btn-group *:last-child {
  border-start-end-radius: var(--btn-radius);
  border-end-end-radius: var(--btn-radius);
}

.btn-group *:is(:focus) {
  box-shadow: none;
}

} // end buttons-css
