// ---------------------------------------------------------- 
// Forms and buttons
// ----------------------------------------------------------

@mixin forms-buttons-css {

:where(input, button, select, optgroup, textarea),
::file-selector-button {
  color: var(--btn-text, inherit);
  font-size: var(--btn-fs, inherit);
  font-family: inherit;
  line-height: var(--btn-lh, inherit);
}

:where(button, [type=button], [type=submit], [type=reset]),
::file-selector-button {
  padding-block: var(--btn-py, 0.313rem);
  padding-inline: var(--btn-px, 0.75rem);
  border: 1px solid var(--btn-bd-color, color-mix(in srgb, CanvasText 12%, Canvas));
  border-radius: var(--btn-radius, 0.188rem);
  background-color: var(--btn-bg, color-mix(in srgb, CanvasText 3%, Canvas));
  -webkit-appearance: button;
}

:where(select, optgroup, textarea, input:not([type=button], [type=submit], [type=reset])) {
  padding-block: var(--form-py, 0.313rem);
  padding-inline: var(--form-px, 0.5rem);
  border: 1px solid var(--form-bd-color, color-mix(in srgb, CanvasText 12%, Canvas));
  border-radius: var(--form-radius, 0.188rem);
  background-color: var(--form-bg, Canvas);
}

:where(input, button, select, optgroup, textarea):disabled,
:where([aria-disabled=true]) {
  opacity: 0.65;
  pointer-events: none;
}

:where(button, select, optgroup, [type=button], [type=submit], [type=reset]),
::file-selector-button {
  cursor: pointer;
}

:where([type=file]) {
  --form-bg: transparent;
  --form-py: 0;
  --form-px: 0;
  border: none;
}

::file-selector-button {
  margin-inline-end: 0.5rem;
}

:where(input, button, select, optgroup, textarea):focus {
  outline: none;
  box-shadow: var(--input-focus, 0 0 0 0.12rem) var(--input-focus-color, color-mix(in srgb, CanvasText 16%, Canvas));
}

:where(input, button, select, optgroup, textarea):focus:not(:focus-visible) {
  box-shadow: none;
}

:where(button, [type=button], [type=submit], [type=reset]):is(:hover, :focus) {
  background-color: var(--btn-hover, color-mix(in srgb, CanvasText 6%, Canvas));
}

:where(button, [type=button], [type=submit], [type=reset]):focus:not(:focus-visible) {
  background-color: var(--btn-bg, color-mix(in srgb, CanvasText 3%, Canvas));
}

:where(button, [type=button], [type=submit], [type=reset]):focus:not(:focus-visible):hover,
::file-selector-button:hover {
  background-color: var(--btn-hover, color-mix(in srgb, CanvasText 6%, Canvas));
}

:where(textarea) {
  display: block;
  resize: vertical;
}

::-webkit-input-placeholder {
  color: var(--btn-text, inherit);
  opacity: 0.5;
}

:where([type=radio], [type=checkbox], [type=range], [progress]) {
  accent-color: var(--accent, initial);
}

:where([type=checkbox], [type=radio]) {
  block-size: var(--input-size, initial);
  inline-size: var(--input-size, initial);
}

:where([type=checkbox], [type=radio]):has(+ label) {
  margin-block-start: -0.22rem;
  margin-inline-end: 0.2rem;
}

:where(select) {
  word-wrap: normal;
}

:where(fieldset, legend) {
  border: 1px solid var(--form-bd-color, color-mix(in srgb, CanvasText 12%, Canvas));
  border-radius: 0.125em;
}

:where(fieldset) {
  margin-block-end: 1.25rem;
  padding-inline: 1.25rem;
}

:where(legend) {
  margin-block-end: 0.25rem;
  padding-block: var(--form-py, 0.313rem);
  padding-inline: 0.75rem;
  background-color: var(--btn-bg, color-mix(in srgb, CanvasText 3%, Canvas));
}

:where([type=color]) {
  cursor: pointer;
  padding: 0;
}

:where(input[type=color])::-webkit-color-swatch-wrapper {
  padding: 0;
}

:where(input[type=color i])::-webkit-color-swatch {
  border-color: var(--form-bd-color, color-mix(in srgb, CanvasText 12%, Canvas));
}

:where(input):autofill,
:where(input):-webkit-autofill {
  border: 1px solid var(--form-bd-color, color-mix(in srgb, CanvasText 12%, Canvas));
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 0 1.5rem var(--form-bg, Canvas) inset;
}

} // end forms-buttons-css
