// ------------------------------------------------------------
// Margins and padding utilities
// ------------------------------------------------------------

// Sizes
$auto: auto;
$s0: 0;
$s1: .25rem !default;
$s2: .5rem !default;
$s3: 1rem !default;
$s4: 1.5rem !default;
$s5: 2rem !default;

$margins-sizes: (
  "auto": #{$auto},
  "0": #{$s0},
  "1": #{$s1},
  "2": #{$s2},
  "3": #{$s3},
  "4": #{$s4},
  "5": #{$s5},
) !default;

$margin-utilities: (
  "m": margin,
  "mt": margin-block-start,
  "mb": margin-block-end,
  "ms": margin-inline-start,
  "me": margin-inline-end,
  "my": margin-block,
  "mx": margin-inline,
) !default;

$padding-sizes: (
  "0": #{$s0},
  "1": #{$s1},
  "2": #{$s2},
  "3": #{$s3},
  "4": #{$s4},
  "5": #{$s5},
) !default;

$padding-utilities: (
  "p": padding,
  "pt": padding-block-start,
  "pb": padding-block-end,
  "ps": padding-inline-start,
  "pe": padding-inline-end,
  "py": padding-block,
  "px": padding-inline,
) !default;

@mixin margins-css {

@each $name, $value in $margin-utilities {
  .#{$name}-auto, .#{$name}-0, .#{$name}-1, .#{$name}-2, .#{$name}-3, .#{$name}-4, .#{$name}-5 {
    #{$value}: var(--#{$name});        
  }
}

@each $name, $value in $margins-sizes {
  .m-#{$name} {
    --m: #{$value};        
  }
}  

@each $name, $value in $margins-sizes {
  .mt-#{$name} {
    --mt: #{$value};        
  }
}

@each $name, $value in $margins-sizes {
  .mb-#{$name} {
    --mb: #{$value};        
  }
}

@each $name, $value in $margins-sizes {
  .ms-#{$name} {
    --ms: #{$value};        
  }
}

@each $name, $value in $margins-sizes {
  .me-#{$name} {
    --me: #{$value};        
  }
}
  
@each $name, $value in $margins-sizes {
  .my-#{$name} {
    --my: #{$value};        
  }
}
  
@each $name, $value in $margins-sizes {
  .mx-#{$name} {
    --mx: #{$value};        
  }
}

} // end margin-css

// @if $enable-margins {@include margins;}

@mixin padding-css {

@each $name, $value in $padding-utilities {
  .#{$name}-0, .#{$name}-1, .#{$name}-2, .#{$name}-3, .#{$name}-4, .#{$name}-5 {
    #{$value}: var(--#{$name});        
  }
}

@each $name, $value in $padding-sizes {
  .p-#{$name} {
    --p: #{$value};        
  }
}

@each $name, $value in $padding-sizes {
  .pt-#{$name} {
    --pt: #{$value};        
  }
}

@each $name, $value in $padding-sizes {
  .pb-#{$name} {
    --pb: #{$value};        
  }
}

@each $name, $value in $padding-sizes {
  .ps-#{$name} {
    --ps: #{$value};        
  }
}

@each $name, $value in $padding-sizes {
  .pe-#{$name} {
    --pe: #{$value};        
  }
}

@each $name, $value in $padding-sizes {
  .py-#{$name} {
    --py: #{$value};        
  }
}

@each $name, $value in $padding-sizes {
  .px-#{$name} {
    --px: #{$value};        
  }
}

} // end padding-css
