// ---------------------------------------------------------- 
// Cyan mixins
// ----------------------------------------------------------
@use "modifiers" as *;
@use "../cyan" as *;

// ---------------------------------------------------------- 
// Variables
// ----------------------------------------------------------
@mixin cyan-variables {
  @each $name, $color in $cyan-color-values {
    --#{$name}: #{$color};
  }
}

@mixin cyan-variables-css {
  #{$cyan-tokens} {
    @include cyan-variables;
  }
}

// ---------------------------------------------------------- 
// Utilities
// ----------------------------------------------------------
@mixin backgrounds-cyan-css {
  @each $name, $color, $text in $cyan-color-values {
    .bg-#{$name} {
      color: $text;
      background-color: var(--#{$name});
    }
  }
}

@mixin borders-cyan-css {
  @each $name, $color in $cyan-color-values {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
  }
}

@mixin gradient-cyan-css {
  .gradient-cyan {
    color: $cyan-bg-text;
    background-image: $cyan-gradient;
  }
}

@mixin text-cyan-css {
  @each $name, $color in $cyan-color-values {
    .text-#{$name} {
      color: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Icons modifiers
// ----------------------------------------------------------
@mixin icons-cyan-css {
  @each $name, $color in $cyan-color-values {
    .ico-#{$name} {
      --ico: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Component modifiers
// ----------------------------------------------------------
@mixin accordion-cyan-css {
  .accordion-cyan {
    @include accordion-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-dark, $cyan-bg-light);
  }
}

@mixin alert-cyan-css {
  .alert-cyan {
    @include alert-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-light);
  }
}

@mixin badge-cyan-css {
  .badge-cyan {
    @include badge-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-light);
  }
}

@mixin button-cyan-css {
  .btn-cyan {
    @include button-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-dark, $cyan-bg-light, $cyan-bg-light);
  }
}

@mixin card-cyan-css {
  .card-cyan {
    @include card-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-dark, $cyan-bg-light, $cyan-bg-light);
  }
}

@mixin dialog-cyan-css {
  .dialog-cyan {
    @include dialog-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-light);
  } 
}

@mixin dropdown-cyan-css {
  .dropdown-cyan {
    @include dropdown-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-dark, $cyan-bg-light, $cyan-bg-light);
  } 
}

@mixin list-group-cyan-css {
  .list-group-cyan {
    @include list-group-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-dark, $cyan-bg-light);
  }
}

@mixin popover-cyan-css {
  .popover-cyan {
    @include popover-color-values($cyan-bg-text, $cyan-bg, $cyan-bg-light);
  }
}

// ---------------------------------------------------------- 
// Combined mixins
// ----------------------------------------------------------
@mixin cyan-utilities-css {
  @include backgrounds-cyan-css;
  @include borders-cyan-css;
  @include gradient-cyan-css;
  @include text-cyan-css;
}

@mixin cyan-modifiers-css {
  @include icons-cyan-css;
  @include accordion-cyan-css;
  @include alert-cyan-css;
  @include badge-cyan-css;
  @include button-cyan-css;
  @include card-cyan-css;
  @include dialog-cyan-css;
  @include dropdown-cyan-css;
  @include list-group-cyan-css;
  @include popover-cyan-css;
}

@mixin cyan-module-css {
  @include cyan-variables-css;
  @include cyan-utilities-css;
  @include cyan-modifiers-css;
}
