// ---------------------------------------------------------- 
// Gray mixins
// ----------------------------------------------------------
@use "modifiers" as *;
@use "../gray" as *;

// ---------------------------------------------------------- 
// Variables
// ----------------------------------------------------------
@mixin gray-variables {
  @each $name, $color in $gray-color-values {
    --#{$name}: #{$color};
  }
}

@mixin gray-variables-css {
  #{$gray-tokens} {
    @include gray-variables;
  }
}

// ---------------------------------------------------------- 
// Utilities
// ----------------------------------------------------------
@mixin backgrounds-gray-css {
  @each $name, $color, $text in $gray-color-values {
    .bg-#{$name} {
      color: $text;
      background-color: var(--#{$name});
    }
  }
}

@mixin borders-gray-css {
  @each $name, $color in $gray-color-values {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
  }
}

@mixin gradient-gray-css {
  .gradient-gray {
    color: $gray-bg-text;
    background-image: $gray-gradient;
  }
}

@mixin text-gray-css {
  @each $name, $color in $gray-color-values {
    .text-#{$name} {
      color: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Icons modifiers
// ----------------------------------------------------------
@mixin icons-gray-css {
  @each $name, $color in $gray-color-values {
    .ico-#{$name} {
      --ico: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Component modifiers
// ----------------------------------------------------------
@mixin accordion-gray-css {
  .accordion-gray {
    @include accordion-color-values($gray-bg-text, $gray-bg, $gray-bg-dark, $gray-bg-light);
  }
}

@mixin alert-gray-css {
  .alert-gray {
    @include alert-color-values($gray-bg-text, $gray-bg, $gray-bg-light);
  }
}

@mixin badge-gray-css {
  .badge-gray {
    @include badge-color-values($gray-bg-text, $gray-bg, $gray-bg-light);
  }
}

@mixin button-gray-css {
  .btn-gray {
    @include button-color-values($gray-bg-text, $gray-bg, $gray-bg-dark, $gray-bg-light, $gray-bg-light);
  }
}

@mixin card-gray-css {
  .card-gray {
    @include card-color-values($gray-bg-text, $gray-bg, $gray-bg-dark, $gray-bg-light, $gray-bg-light);
  }
}

@mixin dialog-gray-css {
  .dialog-gray {
    @include dialog-color-values($gray-bg-text, $gray-bg, $gray-bg-light);
  } 
}

@mixin dropdown-gray-css {
  .dropdown-gray {
    @include dropdown-color-values($gray-bg-text, $gray-bg, $gray-bg-dark, $gray-bg-light, $gray-bg-light);
  } 
}

@mixin list-group-gray-css {
  .list-group-gray {
    @include list-group-color-values($gray-bg-text, $gray-bg, $gray-bg-dark, $gray-bg-light);
  }
}

@mixin popover-gray-css {
  .popover-gray {
    @include popover-color-values($gray-bg-text, $gray-bg, $gray-bg-light);
  }
}

// ---------------------------------------------------------- 
// Combined mixins
// ----------------------------------------------------------
@mixin gray-utilities-css {
  @include backgrounds-gray-css;
  @include borders-gray-css;
  @include gradient-gray-css;
  @include text-gray-css;
}

@mixin gray-modifiers-css {
  @include icons-gray-css;
  @include accordion-gray-css;
  @include alert-gray-css;
  @include badge-gray-css;
  @include button-gray-css;
  @include card-gray-css;
  @include dialog-gray-css;
  @include dropdown-gray-css;
  @include list-group-gray-css;
  @include popover-gray-css;
}

@mixin gray-module-css {
  @include gray-variables-css;
  @include gray-utilities-css;
  @include gray-modifiers-css;
}
