// ---------------------------------------------------------- 
// green mixins
// ----------------------------------------------------------
@use "modifiers" as *;
@use "../green" as *;

// ---------------------------------------------------------- 
// Variables
// ----------------------------------------------------------
@mixin green-variables {
  @each $name, $color in $green-color-values {
    --#{$name}: #{$color};
  }
}

@mixin green-variables-css {
  #{$green-tokens} {
    @include green-variables;
  }
}

// ---------------------------------------------------------- 
// Utilities
// ----------------------------------------------------------
@mixin backgrounds-green-css {
  @each $name, $color, $text in $green-color-values {
    .bg-#{$name} {
      color: $text;
      background-color: var(--#{$name});
    }
  }
}

@mixin borders-green-css {
  @each $name, $color in $green-color-values {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
  }
}

@mixin gradient-green-css {
  .gradient-green {
    color: $green-bg-text;
    background-image: $green-gradient;
  }
}

@mixin text-green-css {
  @each $name, $color in $green-color-values {
    .text-#{$name} {
      color: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Icons modifiers
// ----------------------------------------------------------
@mixin icons-green-css {
  @each $name, $color in $green-color-values {
    .ico-#{$name} {
      --ico: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Component modifiers
// ----------------------------------------------------------
@mixin accordion-green-css {
  .accordion-green {
    @include accordion-color-values($green-bg-text, $green-bg, $green-bg-dark, $green-bg-light);
  }
}

@mixin alert-green-css {
  .alert-green {
    @include alert-color-values($green-bg-text, $green-bg, $green-bg-light);
  }
}

@mixin badge-green-css {
  .badge-green {
    @include badge-color-values($green-bg-text, $green-bg, $green-bg-light);
  }
}

@mixin button-green-css {
  .btn-green {
    @include button-color-values($green-bg-text, $green-bg, $green-bg-dark, $green-bg-light, $green-bg-light);
  }
}

@mixin card-green-css {
  .card-green {
    @include card-color-values($green-bg-text, $green-bg, $green-bg-dark, $green-bg-light, $green-bg-light);
  }
}

@mixin dialog-green-css {
  .dialog-green {
    @include dialog-color-values($green-bg-text, $green-bg, $green-bg-light);
  } 
}

@mixin dropdown-green-css {
  .dropdown-green {
    @include dropdown-color-values($green-bg-text, $green-bg, $green-bg-dark, $green-bg-light, $green-bg-light);
  } 
}

@mixin list-group-green-css {
  .list-group-green {
    @include list-group-color-values($green-bg-text, $green-bg, $green-bg-dark, $green-bg-light);
  }
}

@mixin popover-green-css {
  .popover-green {
    @include popover-color-values($green-bg-text, $green-bg, $green-bg-light);
  }
}

// ---------------------------------------------------------- 
// Combined mixins
// ----------------------------------------------------------
@mixin green-utilities-css {
  @include backgrounds-green-css;
  @include borders-green-css;
  @include gradient-green-css;
  @include text-green-css;
}

@mixin green-modifiers-css {
  @include icons-green-css;
  @include accordion-green-css;
  @include alert-green-css;
  @include badge-green-css;
  @include button-green-css;
  @include card-green-css;
  @include dialog-green-css;
  @include dropdown-green-css;
  @include list-group-green-css;
  @include popover-green-css;
}

@mixin green-module-css {
  @include green-variables-css;
  @include green-utilities-css;
  @include green-modifiers-css;
}
