// ---------------------------------------------------------- 
// Olive mixins
// ----------------------------------------------------------
@use "modifiers" as *;
@use "../olive" as *;

// ---------------------------------------------------------- 
// Variables
// ----------------------------------------------------------
@mixin olive-variables {
  @each $name, $color in $olive-color-values {
    --#{$name}: #{$color};
  }
}

@mixin olive-variables-css {
  #{$olive-tokens} {
    @include olive-variables;
  }
}

// ---------------------------------------------------------- 
// Utilities
// ----------------------------------------------------------
@mixin backgrounds-olive-css {
  @each $name, $color, $text in $olive-color-values {
    .bg-#{$name} {
      color: $text;
      background-color: var(--#{$name});
    }
  }
}

@mixin borders-olive-css {
  @each $name, $color in $olive-color-values {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
  }
}

@mixin gradient-olive-css {
  .gradient-olive {
    color: $olive-bg-text;
    background-image: $olive-gradient;
  }
}

@mixin text-olive-css {
  @each $name, $color in $olive-color-values {
    .text-#{$name} {
      color: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Icons modifiers
// ----------------------------------------------------------
@mixin icons-olive-css {
  @each $name, $color in $olive-color-values {
    .ico-#{$name} {
      --ico: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Component modifiers
// ----------------------------------------------------------
@mixin accordion-olive-css {
  .accordion-olive {
    @include accordion-color-values($olive-bg-text, $olive-bg, $olive-bg-dark, $olive-bg-light);
  }
}

@mixin alert-olive-css {
  .alert-olive {
    @include alert-color-values($olive-bg-text, $olive-bg, $olive-bg-light);
  }
}

@mixin badge-olive-css {
  .badge-olive {
    @include badge-color-values($olive-bg-text, $olive-bg, $olive-bg-light);
  }
}

@mixin button-olive-css {
  .btn-olive {
    @include button-color-values($olive-bg-text, $olive-bg, $olive-bg-dark, $olive-bg-light, $olive-bg-light);
  }
}

@mixin card-olive-css {
  .card-olive {
    @include card-color-values($olive-bg-text, $olive-bg, $olive-bg-dark, $olive-bg-light, $olive-bg-light);
  }
}

@mixin dialog-olive-css {
  .dialog-olive {
    @include dialog-color-values($olive-bg-text, $olive-bg, $olive-bg-light);
  } 
}

@mixin dropdown-olive-css {
  .dropdown-olive {
    @include dropdown-color-values($olive-bg-text, $olive-bg, $olive-bg-dark, $olive-bg-light, $olive-bg-light);
  } 
}

@mixin list-group-olive-css {
  .list-group-olive {
    @include list-group-color-values($olive-bg-text, $olive-bg, $olive-bg-dark, $olive-bg-light);
  }
}

@mixin popover-olive-css {
  .popover-olive {
    @include popover-color-values($olive-bg-text, $olive-bg, $olive-bg-light);
  }
}

// ---------------------------------------------------------- 
// Combined mixins
// ----------------------------------------------------------
@mixin olive-utilities-css {
  @include backgrounds-olive-css;
  @include borders-olive-css;
  @include gradient-olive-css;
  @include text-olive-css;
}

@mixin olive-modifiers-css {
  @include icons-olive-css;
  @include accordion-olive-css;
  @include alert-olive-css;
  @include badge-olive-css;
  @include button-olive-css;
  @include card-olive-css;
  @include dialog-olive-css;
  @include dropdown-olive-css;
  @include list-group-olive-css;
  @include popover-olive-css;
}

@mixin olive-module-css {
  @include olive-variables-css;
  @include olive-utilities-css;
  @include olive-modifiers-css;
}
