// ---------------------------------------------------------- 
// Orange mixins
// ----------------------------------------------------------
@use "modifiers" as *;
@use "../orange" as *;

// ---------------------------------------------------------- 
// Variables
// ----------------------------------------------------------
@mixin orange-variables {
  @each $name, $color in $orange-color-values {
    --#{$name}: #{$color};
  }
}

@mixin orange-variables-css {
  #{$orange-tokens} {
    @include orange-variables;
  }
}

// ---------------------------------------------------------- 
// Utilities
// ----------------------------------------------------------
@mixin backgrounds-orange-css {
  @each $name, $color, $text in $orange-color-values {
    .bg-#{$name} {
      color: $text;
      background-color: var(--#{$name});
    }
  }
}

@mixin borders-orange-css {
  @each $name, $color in $orange-color-values {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
  }
}

@mixin gradient-orange-css {
  .gradient-orange {
    color: $orange-bg-text;
    background-image: $orange-gradient;
  }
}

@mixin text-orange-css {
  @each $name, $color in $orange-color-values {
    .text-#{$name} {
      color: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Icons modifiers
// ----------------------------------------------------------
@mixin icons-orange-css {
  @each $name, $color in $orange-color-values {
    .ico-#{$name} {
      --ico: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Component modifiers
// ----------------------------------------------------------
@mixin accordion-orange-css {
  .accordion-orange {
    @include accordion-color-values($orange-bg-text, $orange-bg, $orange-bg-dark, $orange-bg-light);
  }
}

@mixin alert-orange-css {
  .alert-orange {
    @include alert-color-values($orange-bg-text, $orange-bg, $orange-bg-light);
  }
}

@mixin badge-orange-css {
  .badge-orange {
    @include badge-color-values($orange-bg-text, $orange-bg, $orange-bg-light);
  }
}

@mixin button-orange-css {
  .btn-orange {
    @include button-color-values($orange-bg-text, $orange-bg, $orange-bg-dark, $orange-bg-light, $orange-bg-light);
  }
}

@mixin card-orange-css {
  .card-orange {
    @include card-color-values($orange-bg-text, $orange-bg, $orange-bg-dark, $orange-bg-light, $orange-bg-light);
  }
}

@mixin dialog-orange-css {
  .dialog-orange {
    @include dialog-color-values($orange-bg-text, $orange-bg, $orange-bg-light);
  } 
}

@mixin dropdown-orange-css {
  .dropdown-orange {
    @include dropdown-color-values($orange-bg-text, $orange-bg, $orange-bg-dark, $orange-bg-light, $orange-bg-light);
  } 
}

@mixin list-group-orange-css {
  .list-group-orange {
    @include list-group-color-values($orange-bg-text, $orange-bg, $orange-bg-dark, $orange-bg-light);
  }
}

@mixin popover-orange-css {
  .popover-orange {
    @include popover-color-values($orange-bg-text, $orange-bg, $orange-bg-light);
  }
}

// ---------------------------------------------------------- 
// Combined mixins
// ----------------------------------------------------------
@mixin orange-utilities-css {
  @include backgrounds-orange-css;
  @include borders-orange-css;
  @include gradient-orange-css;
  @include text-orange-css;
}

@mixin orange-modifiers-css {
  @include icons-orange-css;
  @include accordion-orange-css;
  @include alert-orange-css;
  @include badge-orange-css;
  @include button-orange-css;
  @include card-orange-css;
  @include dialog-orange-css;
  @include dropdown-orange-css;
  @include list-group-orange-css;
  @include popover-orange-css;
}

@mixin orange-module-css {
  @include orange-variables-css;
  @include orange-utilities-css;
  @include orange-modifiers-css;
}
