// ---------------------------------------------------------- 
// Purple mixins
// ----------------------------------------------------------
@use "modifiers" as *;
@use "../purple" as *;

// ---------------------------------------------------------- 
// Variables
// ----------------------------------------------------------
@mixin purple-variables {
  @each $name, $color in $purple-color-values {
    --#{$name}: #{$color};
  }
}

@mixin purple-variables-css {
  #{$purple-tokens} {
    @include purple-variables;
  }
}

// ---------------------------------------------------------- 
// Utilities
// ----------------------------------------------------------
@mixin backgrounds-purple-css {
  @each $name, $color, $text in $purple-color-values {
    .bg-#{$name} {
      color: $text;
      background-color: var(--#{$name});
    }
  }
}

@mixin borders-purple-css {
  @each $name, $color in $purple-color-values {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
  }
}

@mixin gradient-purple-css {
  .gradient-purple {
    color: $purple-bg-text;
    background-image: $purple-gradient;
  }
}

@mixin text-purple-css {
  @each $name, $color in $purple-color-values {
    .text-#{$name} {
      color: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Icons modifiers
// ----------------------------------------------------------
@mixin icons-purple-css {
  @each $name, $color in $purple-color-values {
    .ico-#{$name} {
      --ico: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Component modifiers
// ----------------------------------------------------------
@mixin accordion-purple-css {
  .accordion-purple {
    @include accordion-color-values($purple-bg-text, $purple-bg, $purple-bg-dark, $purple-bg-light);
  }
}

@mixin alert-purple-css {
  .alert-purple {
    @include alert-color-values($purple-bg-text, $purple-bg, $purple-bg-light);
  }
}

@mixin badge-purple-css {
  .badge-purple {
    @include badge-color-values($purple-bg-text, $purple-bg, $purple-bg-light);
  }
}

@mixin button-purple-css {
  .btn-purple {
    @include button-color-values($purple-bg-text, $purple-bg, $purple-bg-dark, $purple-bg-light, $purple-bg-light);
  }
}

@mixin card-purple-css {
  .card-purple {
    @include card-color-values($purple-bg-text, $purple-bg, $purple-bg-dark, $purple-bg-light, $purple-bg-light);
  }
}

@mixin dialog-purple-css {
  .dialog-purple {
    @include dialog-color-values($purple-bg-text, $purple-bg, $purple-bg-light);
  } 
}

@mixin dropdown-purple-css {
  .dropdown-purple {
    @include dropdown-color-values($purple-bg-text, $purple-bg, $purple-bg-dark, $purple-bg-light, $purple-bg-light);
  } 
}

@mixin list-group-purple-css {
  .list-group-purple {
    @include list-group-color-values($purple-bg-text, $purple-bg, $purple-bg-dark, $purple-bg-light);
  }
}

@mixin popover-purple-css {
  .popover-purple {
    @include popover-color-values($purple-bg-text, $purple-bg, $purple-bg-light);
  }
}

// ---------------------------------------------------------- 
// Combined mixins
// ----------------------------------------------------------
@mixin purple-utilities-css {
  @include backgrounds-purple-css;
  @include borders-purple-css;
  @include gradient-purple-css;
  @include text-purple-css;
}

@mixin purple-modifiers-css {
  @include icons-purple-css;
  @include accordion-purple-css;
  @include alert-purple-css;
  @include badge-purple-css;
  @include button-purple-css;
  @include card-purple-css;
  @include dialog-purple-css;
  @include dropdown-purple-css;
  @include list-group-purple-css;
  @include popover-purple-css;
}

@mixin purple-module-css {
  @include purple-variables-css;
  @include purple-utilities-css;
  @include purple-modifiers-css;
}
