// ---------------------------------------------------------- 
// Red mixins
// ----------------------------------------------------------
@use "modifiers" as *;
@use "../red" as *;

// ---------------------------------------------------------- 
// Variables
// ----------------------------------------------------------
@mixin red-variables {
  @each $name, $color in $red-color-values {
    --#{$name}: #{$color};
  }
}

@mixin red-variables-css {
  #{$red-tokens} {
    @include red-variables;
  }
}

// ---------------------------------------------------------- 
// Utilities
// ----------------------------------------------------------
@mixin backgrounds-red-css {
  @each $name, $color, $text in $red-color-values {
    .bg-#{$name} {
      color: $text;
      background-color: var(--#{$name});
    }
  }
}

@mixin borders-red-css {
  @each $name, $color in $red-color-values {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
  }
}

@mixin gradient-red-css {
  .gradient-red {
    color: $red-bg-text;
    background-image: $red-gradient;
  }
}

@mixin text-red-css {
  @each $name, $color in $red-color-values {
    .text-#{$name} {
      color: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Icons modifiers
// ----------------------------------------------------------
@mixin icons-red-css {
  @each $name, $color in $red-color-values {
    .ico-#{$name} {
      --ico: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Component modifiers
// ----------------------------------------------------------
@mixin accordion-red-css {
  .accordion-red {
    @include accordion-color-values($red-bg-text, $red-bg, $red-bg-dark, $red-bg-light);
  }
}

@mixin alert-red-css {
  .alert-red {
    @include alert-color-values($red-bg-text, $red-bg, $red-bg-light);
  }
}

@mixin badge-red-css {
  .badge-red {
    @include badge-color-values($red-bg-text, $red-bg, $red-bg-light);
  }
}

@mixin button-red-css {
  .btn-red {
    @include button-color-values($red-bg-text, $red-bg, $red-bg-dark, $red-bg-light, $red-bg-light);
  }
}

@mixin card-red-css {
  .card-red {
    @include card-color-values($red-bg-text, $red-bg, $red-bg-dark, $red-bg-light, $red-bg-light);
  }
}

@mixin dialog-red-css {
  .dialog-red {
    @include dialog-color-values($red-bg-text, $red-bg, $red-bg-light);
  } 
}

@mixin dropdown-red-css {
  .dropdown-red {
    @include dropdown-color-values($red-bg-text, $red-bg, $red-bg-dark, $red-bg-light, $red-bg-light);
  } 
}

@mixin list-group-red-css {
  .list-group-red {
    @include list-group-color-values($red-bg-text, $red-bg, $red-bg-dark, $red-bg-light);
  }
}

@mixin popover-red-css {
  .popover-red {
    @include popover-color-values($red-bg-text, $red-bg, $red-bg-light);
  }
}

// ---------------------------------------------------------- 
// Combined mixins
// ----------------------------------------------------------
@mixin red-utilities-css {
  @include backgrounds-red-css;
  @include borders-red-css;
  @include gradient-red-css;
  @include text-red-css;
}

@mixin red-modifiers-css {
  @include icons-red-css;
  @include accordion-red-css;
  @include alert-red-css;
  @include badge-red-css;
  @include button-red-css;
  @include card-red-css;
  @include dialog-red-css;
  @include dropdown-red-css;
  @include list-group-red-css;
  @include popover-red-css;
}

@mixin red-module-css {
  @include red-variables-css;
  @include red-utilities-css;
  @include red-modifiers-css;
}
