// ---------------------------------------------------------- 
// Rosewood mixins
// ----------------------------------------------------------
@use "modifiers" as *;
@use "../rosewood" as *;

// ---------------------------------------------------------- 
// Variables
// ----------------------------------------------------------
@mixin rosewood-variables {
  @each $name, $color in $rosewood-color-values {
    --#{$name}: #{$color};
  }
}

@mixin rosewood-variables-css {
  #{$rosewood-tokens} {
    @include rosewood-variables;
  }
}

// ---------------------------------------------------------- 
// Utilities
// ----------------------------------------------------------
@mixin backgrounds-rosewood-css {
  @each $name, $color, $text in $rosewood-color-values {
    .bg-#{$name} {
      color: $text;
      background-color: var(--#{$name});
    }
  }
}

@mixin borders-rosewood-css {
  @each $name, $color in $rosewood-color-values {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
  }
}

@mixin gradient-rosewood-css {
  .gradient-rosewood {
    color: $rosewood-bg-text;
    background-image: $rosewood-gradient;
  }
}

@mixin text-rosewood-css {
  @each $name, $color in $rosewood-color-values {
    .text-#{$name} {
      color: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Icons modifiers
// ----------------------------------------------------------
@mixin icons-rosewood-css {
  @each $name, $color in $rosewood-color-values {
    .ico-#{$name} {
      --ico: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Component modifiers
// ----------------------------------------------------------
@mixin accordion-rosewood-css {
  .accordion-rosewood {
    @include accordion-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-dark, $rosewood-bg-light);
  }
}

@mixin alert-rosewood-css {
  .alert-rosewood {
    @include alert-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-light);
  }
}

@mixin badge-rosewood-css {
  .badge-rosewood {
    @include badge-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-light);
  }
}

@mixin button-rosewood-css {
  .btn-rosewood {
    @include button-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-dark, $rosewood-bg-light, $rosewood-bg-light);
  }
}

@mixin card-rosewood-css {
  .card-rosewood {
    @include card-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-dark, $rosewood-bg-light, $rosewood-bg-light);
  }
}

@mixin dialog-rosewood-css {
  .dialog-rosewood {
    @include dialog-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-light);
  } 
}

@mixin dropdown-rosewood-css {
  .dropdown-rosewood {
    @include dropdown-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-dark, $rosewood-bg-light, $rosewood-bg-light);
  } 
}

@mixin list-group-rosewood-css {
  .list-group-rosewood {
    @include list-group-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-dark, $rosewood-bg-light);
  }
}

@mixin popover-rosewood-css {
  .popover-rosewood {
    @include popover-color-values($rosewood-bg-text, $rosewood-bg, $rosewood-bg-light);
  }
}

// ---------------------------------------------------------- 
// Combined mixins
// ----------------------------------------------------------
@mixin rosewood-utilities-css {
  @include backgrounds-rosewood-css;
  @include borders-rosewood-css;
  @include gradient-rosewood-css;
  @include text-rosewood-css;
}

@mixin rosewood-modifiers-css {
  @include icons-rosewood-css;
  @include accordion-rosewood-css;
  @include alert-rosewood-css;
  @include badge-rosewood-css;
  @include button-rosewood-css;
  @include card-rosewood-css;
  @include dialog-rosewood-css;
  @include dropdown-rosewood-css;
  @include list-group-rosewood-css;
  @include popover-rosewood-css;
}

@mixin rosewood-module-css {
  @include rosewood-variables-css;
  @include rosewood-utilities-css;
  @include rosewood-modifiers-css;
}
