// ---------------------------------------------------------- 
// Steelblue mixins
// ----------------------------------------------------------
@use "modifiers" as *;
@use "../steelblue" as *;

// ---------------------------------------------------------- 
// Variables
// ----------------------------------------------------------
@mixin steelblue-variables {
  @each $name, $color in $steelblue-color-values {
    --#{$name}: #{$color};
  }
}

@mixin steelblue-variables-css {
  #{$steelblue-tokens} {
    @include steelblue-variables;
  }
}

// ---------------------------------------------------------- 
// Utilities
// ----------------------------------------------------------
@mixin backgrounds-steelblue-css {
  @each $name, $color, $text in $steelblue-color-values {
    .bg-#{$name} {
      color: $text;
      background-color: var(--#{$name});
    }
  }
}

@mixin borders-steelblue-css {
  @each $name, $color in $steelblue-color-values {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
  }
}

@mixin gradient-steelblue-css {
  .gradient-steelblue {
    color: $steelblue-bg-text;
    background-image: $steelblue-gradient;
  }
}

@mixin text-steelblue-css {
  @each $name, $color in $steelblue-color-values {
    .text-#{$name} {
      color: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Icons modifiers
// ----------------------------------------------------------
@mixin icons-steelblue-css {
  @each $name, $color in $steelblue-color-values {
    .ico-#{$name} {
      --ico: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Component modifiers
// ----------------------------------------------------------
@mixin accordion-steelblue-css {
  .accordion-steelblue {
    @include accordion-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-dark, $steelblue-bg-light);
  }
}

@mixin alert-steelblue-css {
  .alert-steelblue {
    @include alert-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-light);
  }
}

@mixin badge-steelblue-css {
  .badge-steelblue {
    @include badge-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-light);
  }
}

@mixin button-steelblue-css {
  .btn-steelblue {
    @include button-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-dark, $steelblue-bg-light, $steelblue-bg-light);
  }
}

@mixin card-steelblue-css {
  .card-steelblue {
    @include card-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-dark, $steelblue-bg-light, $steelblue-bg-light);
  }
}

@mixin dialog-steelblue-css {
  .dialog-steelblue {
    @include dialog-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-light);
  } 
}

@mixin dropdown-steelblue-css {
  .dropdown-steelblue {
    @include dropdown-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-dark, $steelblue-bg-light, $steelblue-bg-light);
  } 
}

@mixin list-group-steelblue-css {
  .list-group-steelblue {
    @include list-group-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-dark, $steelblue-bg-light);
  }
}

@mixin popover-steelblue-css {
  .popover-steelblue {
    @include popover-color-values($steelblue-bg-text, $steelblue-bg, $steelblue-bg-light);
  }
}

// ---------------------------------------------------------- 
// Combined mixins
// ----------------------------------------------------------
@mixin steelblue-utilities-css {
  @include backgrounds-steelblue-css;
  @include borders-steelblue-css;
  @include gradient-steelblue-css;
  @include text-steelblue-css;
}

@mixin steelblue-modifiers-css {
  @include icons-steelblue-css;
  @include accordion-steelblue-css;
  @include alert-steelblue-css;
  @include badge-steelblue-css;
  @include button-steelblue-css;
  @include card-steelblue-css;
  @include dialog-steelblue-css;
  @include dropdown-steelblue-css;
  @include list-group-steelblue-css;
  @include popover-steelblue-css;
}

@mixin steelblue-module-css {
  @include steelblue-variables-css;
  @include steelblue-utilities-css;
  @include steelblue-modifiers-css;
}
