// ---------------------------------------------------------- 
// Surface mixins
// ----------------------------------------------------------
@use "../surface" as *;

// Variables mixins
@mixin surface-variables { 
  @each $name, $value in $surface-token-values {
    --#{$name}: #{$value};
  }
}

@mixin surface-variables-css {
  #{$surface-tokens} {
    @include surface-variables;
  }
}

// Background color utilities
@mixin surface-backgrounds-css {
  @each $name, $color, $background in $surface-backgrounds {
    .bg-#{$name} {
      color: $color;
      background-color: $background;
    }
  }
}

// Borders
@mixin surface-borders-css {
  @each $name, $value in $surface-token-values {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
  }
}

// Combined
@mixin surface-utilities-css {
  @include surface-backgrounds-css;
  @include surface-borders-css;
}

@mixin surface-module-css {
  @include surface-variables-css;
  @include surface-utilities-css;
}