// ---------------------------------------------------------- 
// Tan mixins
// ----------------------------------------------------------
@use "modifiers" as *;
@use "../tan" as *;

// ---------------------------------------------------------- 
// Variables
// ----------------------------------------------------------
@mixin tan-variables {
  @each $name, $color in $tan-color-values {
    --#{$name}: #{$color};
  }
}

@mixin tan-variables-css {
  #{$tan-tokens} {
    @include tan-variables;
  }
}

// ---------------------------------------------------------- 
// Utilities
// ----------------------------------------------------------
@mixin backgrounds-tan-css {
  @each $name, $color, $text in $tan-color-values {
    .bg-#{$name} {
      color: $text;
      background-color: var(--#{$name});
    }
  }
}

@mixin borders-tan-css {
  @each $name, $color in $tan-color-values {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
  }
}

@mixin gradient-tan-css {
  .gradient-tan {
    color: $tan-bg-text;
    background-image: $tan-gradient;
  }
}

@mixin text-tan-css {
  @each $name, $color in $tan-color-values {
    .text-#{$name} {
      color: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Icons modifiers
// ----------------------------------------------------------
@mixin icons-tan-css {
  @each $name, $color in $tan-color-values {
    .ico-#{$name} {
      --ico: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Component modifiers
// ----------------------------------------------------------
@mixin accordion-tan-css {
  .accordion-tan {
    @include accordion-color-values($tan-bg-text, $tan-bg, $tan-bg-dark, $tan-bg-light);
  }
}

@mixin alert-tan-css {
  .alert-tan {
    @include alert-color-values($tan-bg-text, $tan-bg, $tan-bg-light);
  }
}

@mixin badge-tan-css {
  .badge-tan {
    @include badge-color-values($tan-bg-text, $tan-bg, $tan-bg-light);
  }
}

@mixin button-tan-css {
  .btn-tan {
    @include button-color-values($tan-bg-text, $tan-bg, $tan-bg-dark, $tan-bg-light, $tan-bg-light);
  }
}

@mixin card-tan-css {
  .card-tan {
    @include card-color-values($tan-bg-text, $tan-bg, $tan-bg-dark, $tan-bg-light, $tan-bg-light);
  }
}

@mixin dialog-tan-css {
  .dialog-tan {
    @include dialog-color-values($tan-bg-text, $tan-bg, $tan-bg-light);
  } 
}

@mixin dropdown-tan-css {
  .dropdown-tan {
    @include dropdown-color-values($tan-bg-text, $tan-bg, $tan-bg-dark, $tan-bg-light, $tan-bg-light);
  } 
}

@mixin list-group-tan-css {
  .list-group-tan {
    @include list-group-color-values($tan-bg-text, $tan-bg, $tan-bg-dark, $tan-bg-light);
  }
}

@mixin popover-tan-css {
  .popover-tan {
    @include popover-color-values($tan-bg-text, $tan-bg, $tan-bg-light);
  }
}

// ---------------------------------------------------------- 
// Combined mixins
// ----------------------------------------------------------
@mixin tan-utilities-css {
  @include backgrounds-tan-css;
  @include borders-tan-css;
  @include gradient-tan-css;
  @include text-tan-css;
}

@mixin tan-modifiers-css {
  @include icons-tan-css;
  @include accordion-tan-css;
  @include alert-tan-css;
  @include badge-tan-css;
  @include button-tan-css;
  @include card-tan-css;
  @include dialog-tan-css;
  @include dropdown-tan-css;
  @include list-group-tan-css;
  @include popover-tan-css;
}

@mixin tan-module-css {
  @include tan-variables-css;
  @include tan-utilities-css;
  @include tan-modifiers-css;
}
