// ---------------------------------------------------------- 
// Yellow mixins
// ----------------------------------------------------------
@use "modifiers" as *;
@use "../yellow" as *;

// ---------------------------------------------------------- 
// Variables
// ----------------------------------------------------------
@mixin yellow-variables {
  @each $name, $color in $yellow-color-values {
    --#{$name}: #{$color};
  }
}

@mixin yellow-variables-css {
  #{$yellow-tokens} {
    @include yellow-variables;
  }
}

// ---------------------------------------------------------- 
// Utilities
// ----------------------------------------------------------
@mixin backgrounds-yellow-css {
  @each $name, $color, $text in $yellow-color-values {
    .bg-#{$name} {
      color: $text;
      background-color: var(--#{$name});
    }
  }
}

@mixin borders-yellow-css {
  @each $name, $color in $yellow-color-values {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
  }
}

@mixin gradient-yellow-css {
  .gradient-yellow {
    color: $yellow-bg-text;
    background-image: $yellow-gradient;
  }
}

@mixin text-yellow-css {
  @each $name, $color in $yellow-color-values {
    .text-#{$name} {
      color: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Icons modifiers
// ----------------------------------------------------------
@mixin icons-yellow-css {
  @each $name, $color in $yellow-color-values {
    .ico-#{$name} {
      --ico: var(--#{$name});
    }
  }
}

// ---------------------------------------------------------- 
// Component modifiers
// ----------------------------------------------------------
@mixin accordion-yellow-css {
  .accordion-yellow {
    @include accordion-color-values($yellow-bg-text, $yellow-bg, $yellow-bg-dark, $yellow-bg-light);
  }
}

@mixin alert-yellow-css {
  .alert-yellow {
    @include alert-color-values($yellow-bg-text, $yellow-bg, $yellow-bg-light);
  }
}

@mixin badge-yellow-css {
  .badge-yellow {
    @include badge-color-values($yellow-bg-text, $yellow-bg, $yellow-bg-light);
  }
}

@mixin button-yellow-css {
  .btn-yellow {
    @include button-color-values($yellow-bg-text, $yellow-bg, $yellow-bg-dark, $yellow-bg-light, $yellow-bg-light);
  }
}

@mixin card-yellow-css {
  .card-yellow {
    @include card-color-values($yellow-bg-text, $yellow-bg, $yellow-bg-dark, $yellow-bg-light, $yellow-bg-light);
  }
}

@mixin dialog-yellow-css {
  .dialog-yellow {
    @include dialog-color-values($yellow-bg-text, $yellow-bg, $yellow-bg-light);
  } 
}

@mixin dropdown-yellow-css {
  .dropdown-yellow {
    @include dropdown-color-values($yellow-bg-text, $yellow-bg, $yellow-bg-dark, $yellow-bg-light, $yellow-bg-light);
  } 
}

@mixin list-group-yellow-css {
  .list-group-yellow {
    @include list-group-color-values($yellow-bg-text, $yellow-bg, $yellow-bg-dark, $yellow-bg-light);
  }
}

@mixin popover-yellow-css {
  .popover-yellow {
    @include popover-color-values($yellow-bg-text, $yellow-bg, $yellow-bg-light);
  }
}

// ---------------------------------------------------------- 
// Combined mixins
// ----------------------------------------------------------
@mixin yellow-utilities-css {
  @include backgrounds-yellow-css;
  @include borders-yellow-css;
  @include gradient-yellow-css;
  @include text-yellow-css;
}

@mixin yellow-modifiers-css {
  @include icons-yellow-css;
  @include accordion-yellow-css;
  @include alert-yellow-css;
  @include badge-yellow-css;
  @include button-yellow-css;
  @include card-yellow-css;
  @include dialog-yellow-css;
  @include dropdown-yellow-css;
  @include list-group-yellow-css;
  @include popover-yellow-css;
}

@mixin yellow-module-css {
  @include yellow-variables-css;
  @include yellow-utilities-css;
  @include yellow-modifiers-css;
}
